ion-buttons > ion-button {
  height: 45px;
  border-radius: 5px;
  padding: 0px;
}

ion-title {
   color: #555;
}

ion-icon {
  color: #faa71b;
}

ion-toolbar {
  --background: none;

  ion-icon {
    color: #faa71b;
    ;
  }
}

ion-header::after {
  background-image: none;
}


ion-row {
  margin-top: 30px;
}
