<ion-header class="ion-hide-lg-up">
  <!-- Mobile & Tablet Toolbar -->
  <ion-toolbar>
   <ion-title>Events</ion-title>
       <ion-buttons slot="end">
        <ion-button (click)="going()">
         <!-- My Events ({{ eventsGoingLength }}) -->
         <ion-icon slot="start" src="../../assets/icon/my-events-icon.svg"></ion-icon>
     </ion-button>
       </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <!-- Desktop Header -->
    <ion-row style="padding-top: 80px;" class="ion-hide-lg-down ion-justify-content-center">
      <ion-col size-xs="11" size-sm="10" size-md="10" size-lg="10" size-xl="10.5">
        <ion-row class="ion-justify-content-center">
          <ion-col size-xs="11" size-sm="10" size-md="10" size-lg="5" pull-xl="0.5" size-xl="4">
            <h1>Events</h1>
          </ion-col>
          <ion-col size-xs="11" size-sm="10" size-md="10" size-lg="5" push-xl="0.5" size-xl="4">
            <img height="60" class="ion-float-right" src="../../../assets/icons/my-events-icon.svg">
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- Card List -->
    <ion-row style="padding-top: 40px;" class="ion-justify-content-center">
      <!-- Individual Cards -->
      <ion-col size-xs="12" size-sm="10" size-md="10" size-lg="10" size-xl="10.5">
        <ion-row class="ion-justify-content-center">
          <ion-col size-xs="11" size-sm="10" size-md="8" size-lg="3" size-xl="3" *ngFor="let event of allEvents">
            <ion-card class="event-card">
              <img src="../assets/Journi_flyer.jpg" />
              <ion-card-header>
                <ion-card-title>{{ event.title }}</ion-card-title>
                <ion-card-subtitle>{{ event.time }}</ion-card-subtitle>
                <ion-card-subtitle>{{ event.date }}</ion-card-subtitle>
                <!-- <ion-card-subtitle> {{ event.city }}, {{ event.state }}</ion-card-subtitle> -->
                <!-- <ion-card-subtitle float-right style="opacity: 0.3; margin-top: 60px;">posted: {{ event.dateCreated }}</ion-card-subtitle> -->
              </ion-card-header>
              <ion-card-content class="ion-text-center">
                <ion-toolbar style="--background: none; height: auto;">
                  <app-going-icon [event]="event" [userEmail]="userEmail" [id]="id"></app-going-icon>
                </ion-toolbar>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

