ion-toolbar {
  --min-height: 10vh;
}

.blue-button {
  position: static;
  width: unset;
  height: 36px;
}

.mentor-thumbnail {
  position: absolute;
  top: 25px;
  height: 50px;
  width: 50px;
  background: #222;
  border-radius: 50px;
}

#button-col {
  --ion-grid-column-padding: 0;
}