<ion-header no-border class="ion-hide-lg-up">
  <!-- Mobile & Tablet Toolbar -->
  <ion-toolbar>
    <ion-searchbar
          (ionChange)="filter($event)"
          debounce="2000"
          class="searchbar"
          showCancelButton="focus"
          placeholder="Search Mentors"
          ></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="chat()">
        <ion-icon size="large" src="../../assets/icons/chat-box-icon.svg"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center" *ngFor="let mentor of allMentors" style=" margin-top: 20px;">
      <ion-col size-xs="12" size-sm="10" size-md="8" size-lg="10" size-xl="5">
        <ion-list>
          <ion-item lines="none">
            <ion-avatar slot="start">
              <img src="../../../assets/batman-pro-pic.png" />
            </ion-avatar>
            <ion-label>
              <h2>{{mentor.name}}</h2>
              <p>{{mentor.title}}</p>
            </ion-label>
            <ion-buttons slot="end">
              <ion-button style="--background: linear-gradient(rgba(6, 114, 196, 0.3), rgba(0, 81, 145, 0.2)); --color: #005191; margin-right: 20px; width: 80px;" (click)="mentorPage(mentor)">
                Info
              </ion-button>
              <ion-button (click)="newMessage()">
                <ion-icon size="large"  class="new-message" slot="start" name="create"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
