ion-toolbar {
  --background: none;
}

.login-button {
  --color: #005191;
  border: 1px solid #005191;
  width: 120px;
  font-size: 0.7em;
  font-weight: 700;
  border-radius: 5px;
}

#slide_1, #slide_2, #slide_3 {

}

h1 {
  color: white;
  font-size: 3em;
}

ion-slide {
  height: 91vh;
  width: 100%;
}

ion-slides{
  --bullet-background: rgba(220,220,220, 1);
  --bullet-background-active: #faa71b;
}

.fairs-button {
 width: 250px;
 position: absolute;
 bottom: 100px;
}

.slider-text {
  background: rgba(220,220, 220, 0);
  padding: 5px;
  width: 40%;
  display: inline-block;
  margin-top: 15%;
  color: white;
  border-bottom: solid white 10px;
  animation: slide-up 0.5s ease-in forwards;

    h1 {
      font-weight: 900;
      font-size: 4em;
      line-height: 1.3em;
      opacity: 0;
      animation: slide-up 0.5s ease-in 0.5s forwards;
    }

    p {
      font-weight: 500;
      font-size: 1em;
      line-height: 1.3em;
      color: white;
      opacity: 0;
      animation: slide-up 0.5s ease-in 1s forwards;
    }
}

#slide_1 {
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 1)), url('../../../assets/Students_Pic_1.png');
  background-size: cover;
  // animation: header-slow-slide 24s ease-in forwards;
  width: 100vw;
  height: 100%;
}

#slide_2 {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 1)),  url('../../../assets/Fair_Agenda.jpg');
  background-size: cover;
  // animation: header-slow-slide 24s ease-in forwards;
  width: 100%;
  height: 100%;
}

@keyframes header-slow-slide {
  0% {
    opacity: 1;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(100px);
  }
}

#logo {
  height: 45px;
  padding-left: 10px;
}

.view-fairs {
  position: absolute;
  bottom: 100px;
}

ion-grid {
  --ion-grid-padding: 0;
}

.landing-header {
  height: 50vh;
}

.header-content {
  height: 30vh;
  padding: 0;
  margin: 0;
  background: #111;
}

.fair-page-toolbar-lg {
  --background: #f9fafc;
  --padding-end: 30px;
  height: 9vh;
}

.about {
  height: 100vh;
  background: lightgray;
}

.past-fairs {
  height: 100vh;
  background: lightgreen;
}

.student-app {
  height: 100vh;
  background: lightgoldenrodyellow;
}

.footer {
  height: 50vh;
  --background: lightgray;
}

.footer-toolbar {
  height: 100px;
  --background: ;

  ion-button {
    --background: none;
  }

  ion-icon {
    color: #005191;
  }
}