<ion-header no-border>
  <!-- Mobile & Tablet -->
  <ion-toolbar style="padding-top: 20px" class="ion-hide-md-up ion-padding-horizontal">
      <img id="logo-small" src="../../assets/United_Way_Logo_2-small-white.svg" />
      <ion-buttons slot="secondary">
        <ion-button class="student-login-mobile" [routerLink]="['login']">
          Student Login
        </ion-button>
      </ion-buttons>
  </ion-toolbar>

  <!-- Desktop -->
  <ion-toolbar class="ion-hide-sm-down fair-page-toolbar-lg ion-padding-horizontal">
      <img id="logo" src="../../assets/United_Way_Logo_3.svg" />
      <ion-button [routerLink]="['login']" class="orange-button" style="width: 150px; --background: #005191; --color: white;" slot="end">Student Login
      </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
      <ion-row  class="landing-header ion-justify-content-center">

          <ion-col class="header-content" size-lg="12" size-md="12" size="12">

              <ion-slides style="
              box-shadow: 1px 4px 10px #555;" #slider size="12" pager="true" [options]="slideOpts">

                  <!-- Desktop Slide 1 -->
                  <ion-slide>

                    <ion-row id="slide_1" class="ion-hide-sm-down">
                      <ion-col class="slider-text" push="1" size="4">
                          <h1>Attend United Way Fair as a </h1>
                          <p>Student. </p>
                          <p>Chaperone.</p>
                          <p>Volunteer. </p>
                          <p>Partner. </p>
                          <p></p>
                        <div style="text-align: center">
                          <ion-button style="opacity: 0;" class="orange-button fairs-button" (click)="fairsPage()">
                            View Fairs
                          </ion-button>
                        </div>
                      </ion-col>
                    </ion-row>

                  <!-- Mobile Slide 1 -->
                  <ion-row id="slide-1-mobile" class="ion-hide-md-up">
                      <ion-col class="slider-text-mobile" push="1" size="10">
                          <h1>Attend United Way Fair as a </h1>
                          <p>Student. </p>
                          <p>Chaperone.</p>
                          <p>Volunteer. </p>
                          <p>Partner. </p>
                          <p></p>
                          <ion-button class="orange-button fairs-button-mobile" (click)="fairsPage()">
                            View Fairs
                          </ion-button>
                      </ion-col>
                    </ion-row>

                  </ion-slide>


                   <!-- Desktop Slide 2 -->
                  <ion-slide>

                      <ion-row id="slide_2"  class="ion-hide-sm-down">
                        <ion-col class="slider-text" push="1" size="4">
                        <h1>Connect.</h1>
                        <p><span style="color: rgba(250,167,27, 1); font-weight: 900;">Connect</span> with other Students, Mentors, Events, and Jobs outside of United Way Fairs.</p>
                        <ion-button class="orange-button fairs-button" [routerLink]="['login']">
                          Student App
                        </ion-button>
                       </ion-col>
                     </ion-row>

                      <ion-row id="slide-2-mobile" class="ion-hide-md-up">
                          <ion-col class="slider-text-mobile" push="1" size="10">
                              <h1>Connect </h1>
                              <p>Student. </p>
                              <p>Chaperone.</p>
                              <p>Volunteer. </p>
                              <p>Partner. </p>
                              <p></p>
                              <ion-button class="orange-button fairs-button-mobile" [routerLink]="['login']">
                                Student App
                              </ion-button>
                        </ion-col>
                 </ion-row>
                  </ion-slide>

                </ion-slides>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="about" size="12">
          <img src="../../../assets/United_Way_Logo_4.png">
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab iure voluptatum molestias dolores modi quis vel reiciendis possimus? Ab, ullam saepe quia qui sunt ut quidem pariatur soluta minima quisquam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore atque beatae, neque consequuntur doloremque distinctio odio nulla mollitia officiis! Tempore velit amet reprehenderit. Quas, minima officia. Nesciunt, dicta? Accusantium, possimus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa voluptate praesentium expedita ratione architecto repellat quisquam assumenda saepe, rem perspiciatis, aliquid voluptas. Odio libero ut adipisci, possimus ad soluta eius!
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="past-fairs" size="12">
          <h4>Past Fairs </h4>
          <!-- Temporary method for spacing below -->
          <hr/>
          <ion-card color="light">
            <img src="../../../assets/FYF_FINAL_SMALLER_HOME_PAGE.png" >
            <ion-card-header>
              <ion-card-title>Find Your Future - Career Exploration Fair</ion-card-title>
              <ion-card-subtitle>November 15, 2019 @ Ford Field</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
          <ion-card color="light">
            <img src="../../../assets/Registration_2.png" >
            <ion-card-header>
              <ion-card-title>Sample Event 1</ion-card-title>
              <ion-card-subtitle>August 1, 2019</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
          <ion-card color="light">
            <img src="../../../assets/Fair_Agenda.jpg" >
            <ion-card-header>
              <ion-card-title>Sample Event 2</ion-card-title>
              <ion-card-subtitle>March 22, 2019</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="student-app" size="12">
          <h4>About Student App </h4>
          <!-- Temporary method for spacing below -->
          <hr>
          <ion-icon src="../../../assets/icon/apps.svg"></ion-icon>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab iure voluptatum molestias dolores modi quis vel reiciendis possimus? Ab, ullam saepe quia qui sunt ut quidem pariatur soluta minima quisquam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore atque beatae, neque consequuntur doloremque distinctio odio nulla mollitia officiis! Tempore velit amet reprehenderit. Quas, minima officia. Nesciunt, dicta? Accusantium, possimus! Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa voluptate praesentium expedita ratione architecto repellat quisquam assumenda saepe, rem perspiciatis, aliquid voluptas. Odio libero ut adipisci, possimus ad soluta eius!
          </p>
        </ion-col>
      </ion-row>
      <ion-row>
            <ion-col size="6" style="background: #999; opacity: 0.4; height: 70vh;">
              
            </ion-col>
            <ion-col size="6" style="background: #888; opacity: 0.4; height: 70vh;">
              
            </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">


            <ion-toolbar class="footer-toolbar">
              <h6 style="color: #005191; font-weight: 600;">Please follow us on social media</h6>
              <ion-button>
                <ion-icon slot="icon-only" name="logo-facebook" routerLink="['https://www.facebook.com/UnitedWaySEM/']"></ion-icon>
              </ion-button>
              <ion-button>
                <ion-icon slot="icon-only" name="logo-instagram" routerLink="['https://www.instagram.com/unitedwaysem/?hl=en']"></ion-icon>
              </ion-button>
              <ion-button>
                <ion-icon slot="icon-only" name="logo-twitter" routerLink="['https://twitter.com/UnitedWaySEM?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor']"></ion-icon>
              </ion-button>
            </ion-toolbar>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
