ion-toolbar {
  --background: #005191;
}

.login-button {
  --color: #005191;
  border: 1px solid #005191;
  width: 120px;
  font-size: 0.7em;
  font-weight: 700;
  border-radius: 5px;
}

.student-login-mobile{
  color: white;
  border: solid 1.8px white;
  font-weight: 800;
  border-radius: 5px;
  box-shadow: none;
}

h1 {
  color: white;
  font-size: 3em;
}

ion-slide {
  height: 100vh;
  width: 100%;
}

ion-slides{
  --bullet-background: rgba(220,220,220, 1);
  --bullet-background-active: #faa71b;
}

.fairs-button {
 width: 150px;
 margin-top: 20px;
}

.fairs-button-mobile {
  width: 100%;
  margin-top: 50px;
  opacity: 0;
 }



.slide-text {
  background: rgba(0,81,145, 0.0);
  position: relative;
  z-index: 999;
  padding: 30px;
  height: auto;
  display: inline-block;
  margin-top: 4%;
  color: white;
  border-radius: 5px;
  // border-bottom: solid white 5px;
  animation: slide-up 0.5s ease-in forwards;
  animation: background-fill 1s cubic-bezier(1,-0.21,.39,1.05) forwards;

    h1 {
      font-weight: 900;
      font-size: 4em;
      line-height: 1.3em;
      opacity: 0;
      animation: slide-up 0.5s ease-in 0.5s forwards;
    }

    p {
      font-weight: 900;
      font-size: 2em;
      line-height: 1.3em;
      color: white;
      opacity: 0;
      animation: slide-up 0.5s ease-in 1s forwards;
    }
}

.slide-text-2 {
  background: rgba(220,220, 220, 0.3);
  padding: 20px;
  width: 70%;
  display: inline-block;
  margin-top: 12%;
  opacity: 0;
  color: white;
  border-bottom: solid white 10px;
  animation: slide-up 0.5s ease-in forwards;
  animation: background-fill 1s cubic-bezier(1,-0.21,.39,1.05) 8s forwards;

    h1 {
      font-weight: 900;
      font-size: 4em;
      line-height: 1.3em;
      opacity: 0;
      animation: slide-up 0.5s ease-in 8.5s forwards;
    }

    p {
      font-weight: 500;
      font-size: 1em;
      line-height: 1.3em;
      color: white;
      opacity: 0;
      animation: slide-up 0.5s ease-in 9s forwards;
    }
}

.slide-text-mobile {
  padding: 0px;
  width: 80%;
  display: inline-block;
  margin-top: 50px;
  color: white;
  animation: slide-up 0.5s ease-in forwards;
  animation: background-fill 1s cubic-bezier(1,-0.21,.39,1.05) forwards;

    h1 {
      margin-top: 50px;
      font-weight: 400;
      font-size: 1em;
      line-height: 1.5em;
      opacity: 0;
      animation: slide-up 0.5s ease-in 0.5s forwards;
      margin-bottom: 50px;
    }

    p:nth-child(1) {
      font-weight: 800;
      font-size: 1.85em;
      line-height: 1.3em;
      color: white;
      opacity: 0;
      margin-bottom: 10px;
      animation: slide-up 0.5s ease-in 1s forwards;
    }

    p:nth-child(2) {
      font-weight: 800;
      font-size: 1.3em;
      line-height: 1.3em;
      color: white;
      opacity: 0;
      margin-bottom: 10px;
      animation: slide-up 0.5s ease-in 1.5s forwards;
    }

    p:nth-child(3) {
      font-weight: 800;
      font-size: 1.3em;
      line-height: 1.3em;
      color: white;
      opacity: 0;
      margin-bottom: 10px;
      animation: slide-up 0.5s ease-in 2s forwards;
    }

    p:nth-child(4) {
      font-weight: 800;
      font-size: 1.3em;
      line-height: 1.3em;
      color: white;
      opacity: 0;
      margin-bottom: 10px;
      animation: slide-up 0.5s ease-in 2.5s forwards;
    }

    p:nth-child(5) {
      font-weight: 800;
      font-size: 1.3em;
      line-height: 1.3em;
      color: white;
      opacity: 0;
      margin-bottom: 10px;
      animation: slide-up 0.5s ease-in 3s forwards;
    }

}

@keyframes background-fill {
  0% {
    opacity: 0;
    height: 10px;
  }
  100% {
    opacity: 1;
    height: 450px;
  }
}

#slide-1 {
  text-align: left;
  background-image: linear-gradient(to bottom left, rgba(245, 246, 252, 0), rgba(0, 0, 0, 1));
  // background-size: cover;
  // animation: header-slow-slide 24s ease-in forwards;
  width: 100vw;
  height: 100%;

    #i-am-a-header {
      color: white;
      animation: i-am-a-header 0.5s ease 1.5s forwards;
      font-size: 2em;
    }

    #student-link {
      opacity: 0;
      animation: student-link 0.5s ease 2s forwards;
      font-size: 1em;
      display: block;
      padding-top: 15px;
    }

    #chaperone-link {
      opacity: 0;
      animation: chaperone-link 0.5s ease 2.5s forwards;
      font-size: 1em;
      display: block;
      padding-top: 15px;
    }

    #volunteer-link {
      opacity: 0;
      animation: volunteer-link 0.5s ease 3s forwards;
      font-size: 1em;
      display: block;
      padding-top: 15px;
    }

    #partner-link {
      opacity: 0;
      animation: partner-link 0.5s ease 3.5s forwards;
      font-size: 1em;
      display: block;
      padding-top: 15px;
    }

    @keyframes i-am-a-header {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
        color: #faa71b;
      }
    }

    @keyframes student-link {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
        color: red;
      }
    }

    @keyframes chaperone-link {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
        color: blue;
      }
    }

    @keyframes volunteer-link {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
        color: green;
      }
    }

    @keyframes partner-link {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
        color: orange;
      }
    }
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: static;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}


#slide-1-mobile {
  text-align: left;
  background: rgba(0,81,145, 1);
  // animation: header-slow-slide 24s ease-in forwards;
  width: 100vw;
  height: 100vh;
}

#slide-2 {
  text-align: left;
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 1)),  url('../../../assets/Fair_Agenda.jpg');
  background-size: cover;
  // animation: header-slow-slide 24s ease-in forwards;
  width: 100vw;
  height: 100%;
}

#slide-2-mobile {
  text-align: left;
  background: rgba(0,81,145, 1);
  // animation: header-slow-slide 24s ease-in forwards;
  width: 100vw;
  height: 100vh;
}

@keyframes header-slow-slide {
  0% {
    opacity: 1;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(100px);
  }
}

#logo {
  height: 45px;
  padding-left: 10px;
}

#logo-small {
  height: 35px;
}

.view-fairs {
  position: absolute;
  bottom: 100px;
}

ion-grid {
  --ion-grid-padding: 0;
}

.landing-header {
  // height: 50vh;
}

.header-content {
  // height: 30vh;
  padding: 0;
  margin: 0;
  background: #111;
}

.fair-page-toolbar-lg {
  --background: white;
  height: 9vh;
}

.about {
  padding: 20px 5px 10px 5px;
  background: #f5f5f5;
}

.past-fairs {
  background: #00519155;
}

.student-app {
  background: #ffb35144;
}

.footer {
  height: 50vh;
  --background: lightgray;
}

.footer-toolbar {
  height: 100px;
  --background: ;

  ion-button {
    --background: none;
  }

  ion-icon {
    color: #005191;
  }
}