p {
  font-size: 0.7em;
  margin-left: 10px;
}

#message {
}

#date {
  opacity: 0.5;
  display: inline-block;
}

#icon {
  opacity: 0.2;
}

#no-notifications {
  opacity: 0.3;
}

.margin-top {
  margin-top: 15%;
}