 <!-- Mobile Toolbar -->
 <ion-header class="ion-hide-lg-up">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>Notifications</ion-title>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button id="clear-button" (click)="clear()">
        Clear
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <!-- No Messages -->
  <ion-row *ngIf="noNotifications" class="ion-justify-content-center">
    <ion-col class="margin-top ion-text-center" size-xs="12" size-sm="12" size-md="10" size-lg="8" size-xl="6">
      <h3 id="no-notifications">You have no notifications</h3>
      <img id="icon" src="../../../../assets/icons/no-notifications-icon.svg" alt="">
    </ion-col>
  </ion-row>

  <ion-row *ngIf="!noNotifications" class="ion-justify-content-center">
    <ion-col size-xs="12" size-sm="10" size-md="10" size-lg="8" size-xl="6">
      <!-- List of Sliding Items -->
      <ion-list>
        <ion-item-sliding (click)="goTo()" *ngFor="let n of allNotifications">
          <ion-item lines="none">
            <ion-avatar>
              <img [src]="n.instigatingUserProfilePicture" />
            </ion-avatar>
            <p id="message">{{n.message}}</p>
            <p id="date">{{n.date}}</p>
          </ion-item>
          <ion-item-options (ionSwipe)="deleteSwipe($event, n.notiID)" side="end">
            <ion-item-option  id="delete-noti">Slide left to Delete</ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </ion-col>
  </ion-row>



</ion-content>
