ion-icon {
  padding-left: 10px;
}

hr {
  border-top: 1.4px solid #999;
  opacity: 0.3;
  margin-top: 0px;
}

ion-input {
  background: rgba(224, 224, 224, 0.2);
  height: 60px;
}

ion-button {
}

.no-users {
  margin-top: 75px;
}