ion-title {
  margin: 0;
}

.thumbnail {
  width: 200px;
}

p {
  font-size: 1.2em;
  color: #999;
}


hr {
  border: 1px solid #999;
}

ion-card {
  margin-top: 5%;
}

ion-card-content {
  ion-button {
    width: 47%;
  }

  :first-child {
    margin-right: 5px;
  }
  :nth-child(2) {
    margin-left: 5px;
  }
}