<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Events you are going to</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ion-row>
          <ion-col style="height: 300px;" size="12">
            <ion-toolbar style="height: 50px; --background: none;">
              <ion-buttons slot="end">
                <ion-button style="--background: #333">
                  Going
                </ion-button>
                </ion-buttons>
            </ion-toolbar>
            <p>Pictures or Flyers</p>
          </ion-col>
          <ion-col style= "background: lightgrey; height: 100px" size="12">
            <p style="float: right">3 days ago</p>
            <p>Title: </p>
            <p>Datetime: </p>
            <p>Location: </p>
            <p>Who: </p>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
