ion-title {
    margin: 0;
}

h1.job-title {
    font-size: 2em;
    font-weight: 900;
    color: #005191;
    margin-bottom: 5px;
}

h2.company-name {
    margin-top: 0;
}

ion-item {
    margin: 10px 0;
}

.orange-button {
    width: unset;
}