ion-title {
  margin: 0;
}

.instructions {
  font-weight: 600;
  line-height: 1em;
  width: 400px;
  color: #222;
  font-size: 1.3em;
  border-radius: 50px;
}

.info-section{
  margin-bottom: 60px;
}


.company-logo {
  background-image: url("../../../../assets/journi-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0;
  animation: logo-slide-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s forwards;
}

.job-title {
  font-size: 2em;
  font-weight: 900;
  margin-top: 15px;
  margin-bottom: 5px;
  opacity: 0;
  color: #005191;
  animation: header-slide-up 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.8s forwards;
}

h2.company-name {
  margin-top: 0;
  margin-bottom: 15px;
  opacity: 0;
  animation: header-slide-up 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.1s forwards;
}

p {
  margin-top: 25px;
  font-size: 1.3em;
  color: #666;
}


.custom-file-input {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select some files';
  display: inline-block;
  background: linear-gradient(to top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(to top, #e3e3e3, #f9f9f9);
}

ion-label {
  margin-top: 25px;
  font-size: 1.3em;
  color: #666;
}

