<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Update Resume</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- Desktop Header -->
    <ion-row style="padding-top: 80px; margin-bottom: 40px;" class="ion-hide-lg-down ion-justify-content-center">
     <ion-col size-xs="11" size-sm="10" size-md="10" size-lg="8" size-xl="6">
       <ion-toolbar class="desktop-toolbar">
             <ion-buttons slot="start">
                 <h1>Update Resume </h1>
             </ion-buttons>
             <ion-buttons slot="end">
               <ion-button class="back-button" (click)="goBack()">
                 Back
               </ion-button>
             </ion-buttons>
       </ion-toolbar>
           <!-- <img height="50" style="display: inline;" src="../../../assets/icon/suitcase-blue.svg" alt="" srcset="">
           <h1 style="display: inline; margin-left: 15px;">Jobs</h1> -->
     </ion-col>
   </ion-row>

   <ion-row class="ion-justify-content-center">
    <ion-col class="ion-text-center" size-xs="12" size-sm="10" size-md="8" size-lg="6" size-xl="6">
      <h6 class="text-header">Please upload a resume from your phone</h6>
    </ion-col>
  </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center" size-xs="11" size-sm="10" size-md="8" size-lg="4">
        <!-- Need to express to User formats that are acceptable -->
        <!-- pdf, ect -->
        <form
        (ngSubmit)="uploadResume()" id="changeResumeForm">
          <input
            name="resume-update"
            (change)="getFormData($event)" placeholder="Upload Resume"
            type="file"/>

          <ion-button
            type="submit"
            class="orange-button"
            [disabled]="!uploadedPhotoURL">Update
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
