<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Update Resume</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-hide-md-down" style="margin: 5% 0% 3% 0%;">
      <ion-col offset="2.8" size="2.5">
        <h1>Update Resume</h1>
      </ion-col>
      <ion-col push="2.5" size="2">
        <ion-button class="back-button" (click)="back()">
           Back
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-hide-md-down">
      <ion-col size="10">
        <hr style="background-color: #00000044;" />
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="11" size-sm="10" size-md="8" size-lg="6">
        <!-- Need to express to User formats that are acceptable -->
        <!-- pdf, ect -->
        <p>Please upload a resume from your phone</p>
        <ion-item>
          <ion-label>file</ion-label>
          <p>resume.pdf</p>
        </ion-item>
        <ion-button (click)="updateResume()" class="orange-button" style="width: unset;">UPLOAD</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
