<ion-header class="ion-hide-lg-up">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="small">Forgot Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="spacer ion-hide-lg-down"></div>
    <ion-grid class="ion-text-center">

    <!-- Desktop Header -->
    <ion-row style="padding-top: 80px; margin-bottom: 40px;" class="ion-hide-lg-down ion-justify-content-center">
      <ion-col size-xs="11" size-sm="10" size-md="10" size-lg="8" size-xl="6">
        <ion-toolbar class="desktop-toolbar">
              <ion-buttons slot="start">
                  <img height="50" src="../../../../../assets/icon/Logo 2.0.svg" alt="" srcset="">
              </ion-buttons>
              <ion-buttons slot="end">
                <ion-button class="back-button" (click)="back()">
                  Back
                </ion-button>
              </ion-buttons>
        </ion-toolbar>
            <!-- <img height="50" style="display: inline;" src="../../../assets/icon/suitcase-blue.svg" alt="" srcset="">
            <h1 style="display: inline; margin-left: 15px;">Jobs</h1> -->
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <h6 class="text-header">Please enter your email address. An email will be sent to you with a <span style="font-weight: 700;">6 character code</span>. </h6>
        </ion-col>
        <ion-col size-xs="11" size-sm="10" size-md="10" size-lg="6" size-xl="4">
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="goToEnterCodePage(this.forgotPasswordForm.value.email)">
            <ion-list class="line-input">
            <ion-item>
              <ion-input
                placeholder="Enter Email Address"
                required
                formControlName="email"
                inputmode="email"
                type="email">
              </ion-input>
            </ion-item>


              <!-- Password Validation-->
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessasges.email">
                  <div class="error-message"
                    *ngIf="forgotPasswordForm
                      .get('email')
                      .hasError(validation.type) && (forgotPasswordForm.get('email')
                      .dirty || forgotPasswordForm.get('email').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>

          </ion-list>

          <ion-button type="submit" class="orange-button">GET CODE</ion-button><br>

          <ion-button (click)="cancel()" class="cancel-button">CANCEL</ion-button>

          </form>
          
        </ion-col>
    </ion-row>
    </ion-grid>
  </ion-content>
