.desktop-toolbar{
  --background: none;
  padding-bottom: 16px;
  border-bottom: 1px solid #33333326;

  h1 {
    color: #0055a5;
  }
}
.back-button {
  --color: white;
  --background: #0055a5;
  --background-hover: linear-gradient(#0055a5, #0c375f);
  height: 24px;
  --border-radius: 5px;
  width: 100px;
  font-size: 0.5em;
  font-weight: 600;
  display: block;
}
.cancel-button {
  color: #e4405f;
  --background:  none;
  --background-hover: linear-gradient(#f15b77, #e4405f);
  height: 40px;
  width: 200px;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}