<!-- Mobile Header -->
<ion-header class="ion-hide-lg-up">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>{{eventTitle}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>

        <!-- Picture Header -->
        <ion-row class="ion-justify-content-center header ion-align-items-center">
          <ion-col size-lg="">
            <!-- Image needs to be 500x357, 800x571, or 1050x750 -->
              <div class="event-image"></div>
          </ion-col>
        </ion-row>

        <!-- Event Details -->
        <ion-row class="details ion-justify-content-center ion-align-items-center">
          <ion-col size-xs="11" size-lg="6">
            <h3>Title</h3>
            <p>{{ eventTitle }}</p>
            <h3>Address </h3>
            <p>{{ eventAddressOne }} {{ eventAddressTwo }}, {{ eventCity }}, {{ eventState }}, {{ eventZip}}</p>
            <h3>Date</h3>
            <p> {{ eventDate }}</p>
            <h3>Time</h3>
            <p>{{ eventTime }}</p>
            <h3>Description</h3>
            <p>{{ eventDescription }}</p>
        </ion-col>
        </ion-row>

        <!-- Going or Not Going sections? -->

        <!-- GOING? -->
        <ion-row *ngIf="!going" class="going ion-justify-content-center">
            <ion-col class="ion-text-center" size="12">
              <p class="going-text">Do you want to go to this event?<br> By clicking 'Yes', this event will be added to your Your Events.</p>
              <ion-button class="going-button" (click)="goingToEvent()">
                   Yes.
                </ion-button><br><br>
              <a class="going-link" routerLink="/home/events" (click)="callEventEmitter()">Go back to Events Page</a><br><br>
               <a class="going-link" routerLink="/home/events/going">View My Events</a>
                 </ion-col>
        </ion-row>

        <!-- NOT GOING -->
        <ion-row *ngIf="going" class="going ion-justify-content-center">
              <ion-col class="ion-text-center" size="10">
                <p class="going-text">Do you want to go to this event?<br> By clicking 'No', this event will be deleted to your Your Events.</p>
                <ion-button class="not-going-button" (click)="notGoingToEvent()">
                 No.
                </ion-button><br><br>
                <a class="not-going-link" routerLink="/home/events" (click)="callEventEmitter()">Go back to Events Page</a><br><br>
                <a class="not-going-link" routerLink="/home/events/going">View My Events</a>
               </ion-col>
      </ion-row>

      </ion-grid>
</ion-content>
