span {
  color: #005191;
  font-weight: 600;
}

ion-header::after {
  background-image: none;
}

.event-header {
  height: 40vh;
  background-attachment: fixed;
}


ion-buttons > ion-button {
  --padding: ;
  color: white;
  height: 45px;
  border-radius: 5px;
  font-size: 0.9em;
  text-transform: none;
}