ion-toolbar {
  background: none;
  --box-shadow: none;
}

ion-header {
  background: none;
  --box-shadow: none;
}

h3 {
  font-weight: 800;
  line-height: 1em;
  width: 150px;
  color: #0055a5;
  font-size: 1.1em;
}

p {
  font-size: 1.1em;
  color: #333;
  margin-bottom: 16px;
  white-space: pre-wrap;
}

.going-link:link {
  color: #1baf88;
}

.going-link:visited {
  color: #1baf88;
}

.not-going-link:link {
  color: #faa71b;
  font-size: 1.4em;
}

.not-going-link:visited {
  color: #faa71b;
  font-size: 1.4em;
}


.header {
  background-color: #edf3f8;
  padding: 0;
  height: auto;
}

.event-image {
  height: 350px;
  background-size: cover;
  background-position: center;
}

.details {
  height: auto;
  background: white;
  padding: 2em;
  margin: 2em;;
  box-shadow: 1px 10px 26px rgba(0,0,0,0.05);
}

.going-text {
  font-weight: 600;
  color: #222;
  width: 100%;
  margin: 26px auto;
}

.going {
  background: #edf3f8;
  padding: 80px 0px;
  color: white;
}

.not-going {
  background: #edf3f8;
  padding: 80px 0px;
  color: white;
}

.going-button {
  width: 200px;
  font-size: 1.2em;
  font-weight: 800;
  --background: #1baf88;
  --background-hover: #1baf88;
  --color: white;
}

.not-going-button {
  width: 200px;
  font-size: 1.2em;
  --background: #faa71b;
  --background-hover: #faa71b;
  --color: white;
}


ion-buttons > ion-button {
  --padding: ;
  color: white;
  height: 45px;
  border-radius: 5px;
  font-size: 0.9em;
  text-transform: none;
}

@keyframes slide-up {
  0% {
    width: 0px;
    transform: translateY(20%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}