span {
  color: #005191;
  font-weight: 600;
  font-size: 1.5em;
}

ion-header::after {
  background-image: none;
}

.event-header {
  height: 20vh;
  background-attachment: fixed;
}

p {
  font-size: 1.3em;
}


ion-buttons > ion-button {
  --padding: ;
  color: white;
  height: 45px;
  border-radius: 5px;
  font-size: 0.9em;
  text-transform: none;
}