<ion-header>
  <ion-toolbar>
    <!-- Maybe make this the title the event -->
    <ion-title>Events Page</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ion-row>
          <ion-col style="height: 300px;" size="12">
            <ion-toolbar style="height: 50px; --background: none;">
              <ion-buttons slot="end">
                <ion-button style="--background: #333">
                  Going
                </ion-button>
                </ion-buttons>
            </ion-toolbar>
            <p>Pictures or Flyers</p>
          </ion-col>
          <ion-col style= "background: lightgrey; height: auto; padding: 20px;" size="12">
              <p style="float: right">posted _ days ago</p>
              <p>Who: {{ eventOrganizer }} </p>
              <p>Title: {{ eventTitle }} </p>
              <p>Datetime: {{ eventDate }} </p>
              <p>Location: {{ eventLocation }} </p>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
