<ion-radio-group [value]="this.selection" (ionChange)="selectOption($event)" name="post-menu-filter">
  <ion-item lines="none">
    <ion-label>Most Comments</ion-label>
    <ion-radio value="mostc"></ion-radio>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Most Upvotes</ion-label>
    <ion-radio value="mostu"></ion-radio>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Most Followers</ion-label>
    <ion-radio value="mostf"></ion-radio>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Newest</ion-label>
    <ion-radio value="newest"></ion-radio>
  </ion-item>
  <ion-item lines="none">
    <ion-label>Oldest</ion-label>
    <ion-radio value="oldest"></ion-radio>
  </ion-item>
  <ion-item class="ion-text-center" (click)="dismiss()" button lines="none">
    <ion-label style="color: #e3405f">Close</ion-label>
  </ion-item>
</ion-radio-group>