<ion-header style="display: none;">
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">

    <!-- Header -->
    <ion-row class="header ion-justify-content-center">
      <ion-col size-lg="5" size-md="7" size-xs="11">
        <h6 class="text-header">Please enter your profile information.</h6>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">

      <!-- Form -->
      <ion-col style="margin-top: 50px;" size-lg="5" size-md="7" size-xs="11">
        <form [formGroup]="userInfoForm" (ngSubmit)="goToProfilePicturePage(this.userInfoForm.value)">

            <ion-list class="line-input">

            <ion-item>
              <ion-input
              #ioninput
              autocapitalize="on"
              required
              inputmode="text"
              formControlName="fullName"
              placeholder="First & Last Name"></ion-input>
            </ion-item>

            <ion-item>
                <ion-select
                  required
                  formControlName="gender"  placeholder="Gender">
                    <ion-select-option value="female">Female</ion-select-option>
                    <ion-select-option value="male">Male</ion-select-option>
                  </ion-select>
            </ion-item>

            <ion-item>
                  <ion-label>Date of Birth</ion-label>
                  <ion-datetime
                    required
                    min="2000"
                    displayFormat="DDD. MMM DD, YY"
                    placeholder="Select Date"
                    formControlName="dob"
                    monthShortNames="Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec"></ion-datetime>
            </ion-item>

            <ion-item>
              <ion-input
                required
                formControlName="school"    placeholder="School"></ion-input>
            </ion-item>

            <ion-item>
                <ion-select
                  required
                  formControlName="grade"   placeholder="Grade">
                  <ion-select-option value="7th Grade">Middle School - 7th Grade</ion-select-option>
                  <ion-select-option value="8th Grade">Middle School - 8th Grade</ion-select-option>
                  <ion-select-option value="High School - Freshmen">High School - Freshmen</ion-select-option>
                  <ion-select-option value="High School - Sophmore">High School - Sophmore</ion-select-option>
                  <ion-select-option value="High School - Junior">High School - Junior</ion-select-option>
                  <ion-select-option value="High School - Senior">High School - Senior</ion-select-option>
                  <ion-select-option value="Collge - Freshmen">College - Freshmen</ion-select-option>
                  <ion-select-option value="Collge - Sophmore">College - Sophmore</ion-select-option>

                  </ion-select>

            </ion-item>

            <ion-item>
              <ion-textarea
              autogrow="true"
              autocapitalize="true"
              rows="5"
              spellcheck="true"
              wrap="soft"
              type="text"
              maxlength="500"
              placeholder="Tell us about yourself" formControlName="about">
            </ion-textarea>
          </ion-item>
          <p class="char-limit">500 character limit</p>

            </ion-list>
            <ion-button [disabled]="!this.userInfoForm.valid" class="orange-button" type="submit">NEXT</ion-button><br>
            <ion-button (click)="cancel()" id="cancel-button" class="blue-button" slot="end">
                cancel
              </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


