
.orange-button, .blue-button {
    margin: 25px 0 25px 0;
}

.blue-button {
    margin: 25px 0 100px 0;
}
.desktop-toolbar{
    --background: none;
    padding-bottom: 16px;
    border-bottom: 1px solid #33333326;
  
    h1 {
      color: #0055a5;
    }
  }
  .back-button {
    --color: white;
    --background: #0055a5;
    --background-hover: linear-gradient(#0055a5, #0c375f);
    height: 24px;
    --border-radius: 5px;
    width: 100px;
    font-size: 0.5em;
    font-weight: 600;
    display: block;
  }
ion-textarea{
    background: white;
    transition: 0.2s;
    border-radius: 4px;
    padding: 8px;
    box-shadow: 1px 10px 26px rgba(0,0,0,0.05);
    border: 2px solid #0055a5;
}
.char-limit {
    float: right;
    position: relative;
    top: 20px;
    margin-bottom: 80px;
    color: #e4405f;
}