<ion-header style="display: none;">
</ion-header>

<ion-content>
  <ion-grid style="margin: 100px 0 100px 0;" class="ion-text-center">
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="5" size-md="7" size-xs="10">
          <h6 class="text-header">Please enter your profile information.</h6>
        <form [formGroup]="userInfoForm" (ngSubmit)="goToProfilePicturePage(this.userInfoForm.value)">

            <ion-list class="line-input">

            <ion-item>
              <ion-input
              #ioninput
              autocapitalize="on"
              required
              inputmode="text"
              formControlName="fullName"
              placeholder="First & Last name"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input
                required 
                formControlName="addressOne"  placeholder="address 1"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input formControlName="addressTwo"  placeholder="apt/unit #"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input
              required
              inputmode="text"
              formControlName="phone"
              maxlength="10"
              placeholder="phone # e.i (xxx) xxx - xxxx"></ion-input>
            </ion-item>
            <!-- Password Validation-->
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessasges.phone">
                <div class="error-message"
                *ngIf="userInfoForm
                  .get('phone')
                  .hasError(validation.type) && (userInfoForm.get('phone')
                  .dirty || userInfoForm.get('phone').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>

            <ion-item>
              <ion-input 
              required
              formControlName="city"  placeholder="city"></ion-input>
            </ion-item>

            <ion-item>
                <ion-select
                required
                formControlName="state"
                interface="action-sheet"
                placeholder="State"
                value="">
                    <ion-select-option value="Alabama">Alabama</ion-select-option>
                    <ion-select-option value="Alaska">Alaska</ion-select-option>
                    <ion-select-option value="Arizona">Arizona</ion-select-option>
                    <ion-select-option value="Arkansas">Arkansas</ion-select-option>
                    <ion-select-option value="California">California</ion-select-option>
                    <ion-select-option value="Colorado">Colorado</ion-select-option>
                    <ion-select-option value="Connecticut">Connecticut</ion-select-option>
                    <ion-select-option value="Delaware">Delaware</ion-select-option>
                    <ion-select-option value="Florida">Florida</ion-select-option>
                    <ion-select-option value="Georgia">Georgia</ion-select-option>
                    <ion-select-option value="Hawaii">Hawaii</ion-select-option>
                    <ion-select-option value="Idaho">Idaho</ion-select-option>
                    <ion-select-option value="Illinois">Illinois</ion-select-option>
                    <ion-select-option value="Indiana">Indiana</ion-select-option>
                    <ion-select-option value="Iowa">Iowa</ion-select-option>
                    <ion-select-option value="Kansas">Kansas</ion-select-option>
                    <ion-select-option value="Kentucky">Kentucky</ion-select-option>
                    <ion-select-option value="Louisiana">Louisiana</ion-select-option>
                    <ion-select-option value="Maine">Maine</ion-select-option>
                    <ion-select-option value="Maryland">Maryland</ion-select-option>
                    <ion-select-option value="Massachusetts">Massachusetts</ion-select-option>
                    <ion-select-option value="Michigan">Michigan</ion-select-option>
                    <ion-select-option value="Minnesota">Minnesota</ion-select-option>
                    <ion-select-option value="Mississippi">Mississippi</ion-select-option>
                    <ion-select-option value="Montana">Montana</ion-select-option>
                    <ion-select-option value="Nebraska">Nebraska</ion-select-option>
                    <ion-select-option value="Nevada">Nevada</ion-select-option>
                    <ion-select-option value="New Hampshire">New Hampshire</ion-select-option>
                    <ion-select-option value="New Mexico">New Mexico</ion-select-option>
                    <ion-select-option value="Michigan">Michigan</ion-select-option>
                    <ion-select-option value="Minnesota">Minnesota</ion-select-option>
                    <ion-select-option value="Mississippi">Mississippi</ion-select-option>
                    <ion-select-option value="Montana">Montana</ion-select-option>
                    <ion-select-option value="Nebraska">Nebraska</ion-select-option>
                    <ion-select-option value="Nevada">Nevada</ion-select-option>
                    <ion-select-option value="New Hampshire">New Hampshire</ion-select-option>
                    <ion-select-option value="New Jersey">New Mexico</ion-select-option>
                    <ion-select-option value="New York">New York</ion-select-option>
                    <ion-select-option value="North Caroloina">North Caroloina</ion-select-option>
                    <ion-select-option value="North Dakota">North Dakota</ion-select-option>
                    <ion-select-option value="Ohio">Ohio</ion-select-option>
                    <ion-select-option value="Oklahoma">Oklahoma</ion-select-option>
                    <ion-select-option value="Oregon">Oregon</ion-select-option>
                    <ion-select-option value="Pennsylvania">Pennsylvania</ion-select-option>
                    <ion-select-option value="Rhode Island">Rhode Island</ion-select-option>
                    <ion-select-option value="New York">New York</ion-select-option>
                    <ion-select-option value="North Caroloina">North Caroloina</ion-select-option>
                    <ion-select-option value="North Dakota">North Dakota</ion-select-option>
                    <ion-select-option value="Ohio">Ohio</ion-select-option>
                    <ion-select-option value="Oklahoma">Oklahoma</ion-select-option>
                    <ion-select-option value="Oregon">Oregon</ion-select-option>
                    <ion-select-option value="Pennsylvania">Pennsylvania</ion-select-option>
                    <ion-select-option value="Rhode Island">Rhode Island</ion-select-option>
                    <ion-select-option value="Rhode Island">Rhode Island</ion-select-option>
                    <ion-select-option value="New York">New York</ion-select-option>
                    <ion-select-option value="North Caroloina">North Caroloina</ion-select-option>
                    <ion-select-option value="North Dakota">North Dakota</ion-select-option>
                    <ion-select-option value="Ohio">Ohio</ion-select-option>
                    <ion-select-option value="Oklahoma">Oklahoma</ion-select-option>
                    <ion-select-option value="Oregon">Oregon</ion-select-option>
                    <ion-select-option value="Pennsylvania">Pennsylvania</ion-select-option>
                    <ion-select-option value="Rhode Island">Rhode Island</ion-select-option>
                    <ion-select-option value="South Carolina">South Carolina</ion-select-option>
                    <ion-select-option value="South Dakota">South Dakota</ion-select-option>
                    <ion-select-option value="Tennessee">Tennessee</ion-select-option>
                    <ion-select-option value="Texas">Texas</ion-select-option>
                    <ion-select-option value="Utah">Utah</ion-select-option>
                    <ion-select-option value="Vermont">Vermont</ion-select-option>
                    <ion-select-option value="Virginia">Virginia</ion-select-option>
                    <ion-select-option value="Washington">Washington</ion-select-option>
                    <ion-select-option value="West Virginia">West Virginia</ion-select-option>
                    <ion-select-option value="Wisconsin">Wisconsin</ion-select-option>
                    <ion-select-option value="Wyoming">Wyoming</ion-select-option>
                  </ion-select>
            </ion-item>

            <ion-item>
              <ion-input
                required
                maxLength="5"
                formControlName="zip"   placeholder="zip"></ion-input>
            </ion-item>

            <ion-item>
                <ion-select
                  required
                  formControlName="gender"  placeholder="Gender">
                    <ion-select-option value="female">Female</ion-select-option>
                    <ion-select-option value="male">Male</ion-select-option>
                  </ion-select>
            </ion-item>

            <ion-item>
                  <ion-label>Date of Birth</ion-label>
                  <ion-datetime
                    required
                    min="2000"
                    displayFormat="DDD. MMM DD, YY"
                    placeholder="Select Date"
                    formControlName="dob"
                    monthShortNames="jan, feb, mar, apr, mai, jun, jul, aug, sep, okt, nov, des"></ion-datetime>
            </ion-item>

            <ion-item>
              <ion-input
                required
                formControlName="school"    placeholder="school"></ion-input>
            </ion-item>

            <ion-item>
                <ion-select
                  required
                  formControlName="grade"   placeholder="Grade">
                  <ion-select-option value="7th Grade">Middle School - 7th Grade</ion-select-option>
                  <ion-select-option value="8th Grade">Middle School - 8th Grade</ion-select-option>
                  <ion-select-option value="High School - Freshmen">High School - Freshmen</ion-select-option>
                  <ion-select-option value="High School - Sophmore">High School - Sophmore</ion-select-option>
                  <ion-select-option value="High School - Junior">High School - Junior</ion-select-option>
                  <ion-select-option value="High School - Senior">High School - Senior</ion-select-option>
                  <ion-select-option value="Collge - Freshmen">College - Freshmen</ion-select-option>
                  <ion-select-option value="Collge - Sophmore">College - Sophmore</ion-select-option>

                  </ion-select>

            </ion-item>
            </ion-list>
            <ion-button [disabled]="!this.userInfoForm.valid" class="orange-button" type="submit">NEXT</ion-button><br>
            <ion-button (click)="cancel()" class="blue-button" slot="end">
                cancel
              </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


