h6 {
    padding: unset;
}

.header {
    background: #edf3f8;
    height: auto;
    text-align: center;
  }

.orange-button, .blue-button {
    margin: 25px 0 25px 0;
}

.blue-button {
    margin: 25px 0 100px 0;
}

.text-header {
    background: #edf3f8;
    padding: 30px 0;
    color: #666;
    z-index: 999;
    margin: 0 auto;
    // box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}
ion-item {
    padding: 0.4em 0;
    margin: 32px auto;
  
    ion-label {
      font-weight: 500;
    }
  }
ion-textarea{
    // background: #d1d8e0;
    border: 2px solid #dedede;
    transition: 0.2s;
    border-radius: 4px;
    padding: 8px;
}
.char-limit {
    float: right;
    position: relative;
    top: 20px;
    margin-bottom: 80px;
    color: #e4405f;
}