ion-grid {
  --ion-grid-padding: 0px;
}

h2 {
  font-weight: 900;
  font-size: 1.3em;
}

p {

}

ion-text, p, h3 {
  margin: 3px;
}

ion-row {
  margin: 50px 0px 50px 0;
}

.fair-page-toolbar-lg {
  --background: #f9fafc;
  --padding-end: 30px;

  ion-buttons {
    color: #faa71b;
    font-weight: 900;
    // border: 2px solid white;
    border-radius: 50px;
    width: auto;
    padding: 4px;
    text-align: center;
  }
}

.agenda-header{
  color: #005191;
  font-weight: 800;
}

.schedule {
  background: #f9fafc;
  overflow-y: scroll;
  height: 60vh;

  ion-item {
    --background: #f9fafc;
  }
}



.schedule::-webkit-scrollbar {
  -webkit-appearance: none;
}

.schedule::-webkit-scrollbar:vertical {
  width: 11px;
}

.schedule::-webkit-scrollbar:horizontal {
  height: 11px;
}

.schedule::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
}


.options {
  // background: green;
}

.booth-partners {
  background: lightgray;
  margin: 0;
  --ion-grid-padding: 0px;
}