<ion-header>
  <ion-toolbar>
      <ion-title>Edit Profile</ion-title>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-col size="11" offset="0.5">
        <ion-list>
            <ion-item (click)="changeEmail()">
              <ion-label>Change Email</ion-label>
            </ion-item>
            <ion-item (click)="changeAddress()">
              <ion-label>Change Address</ion-label>
            </ion-item>
            <ion-item (click)="changePassword()">
              <ion-label>Change Password</ion-label>
            </ion-item>
            <ion-item (click)="changePhoneNumber()">
              <ion-label>Change Phone Number</ion-label>
            </ion-item>
            <ion-item (click)="changeSchool()">
              <ion-label>Change School/Grade</ion-label>
            </ion-item>
            <ion-item (click)="changeProfilePicture()">
              <ion-label>Change Profile Picture</ion-label>
            </ion-item>
            <ion-item (click)="updateResume()">
              <ion-label>View/Update Resume</ion-label>
            </ion-item >
            <ion-item (click)="logout()">
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-list>
    </ion-col>

</ion-content>
