<ion-header no-border class="ion-hide-lg-up">
  <ion-toolbar>
      <ion-title>Edit Profile</ion-title>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <!-- Desktop Header - Edit Profile Head w./ Back Button -->
    <ion-row class="ion-hide-md-down" style="margin: 5% 0% 3% 0%;">
      <ion-col offset="3" size="2">
        <h1>Edit Profile</h1>
      </ion-col>
      <ion-col push="3" size="2">
        <ion-button class="back-button"  (click)="back()">
           Back
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- Mobile -->
    <ion-row class="ion-justify-content-center ion-hide-lg-up">
      <ion-col size-xs="11" size-sm="10" size-md="8" size-lg="6">
          <ion-list>
              <ion-item detail="true" lines="none" (click)="changeEmail()">
                <ion-icon name="mail" slot="start"></ion-icon>
                <ion-label>Change Email</ion-label>
              </ion-item>
              <ion-item detail="true" lines="none"   (click)="changeAddress()">
                <ion-icon name="home" slot="start"></ion-icon>
                <ion-label>Change Address</ion-label>
              </ion-item>
              <ion-item detail="true" lines="none"   (click)="changePassword()">
                <ion-icon name="help" slot="start"></ion-icon>
                <ion-label>Change Password</ion-label>
              </ion-item>
              <ion-item detail="true" lines="none"   (click)="changePhoneNumber()">
                <ion-icon name="call" slot="start"></ion-icon>
                <ion-label>Change Phone Number</ion-label>
              </ion-item>
              <ion-item detail="true" lines="none"   (click)="changeSchool()">
                <ion-icon name="school" slot="start"></ion-icon>
                <ion-label>Change School/Grade</ion-label>
              </ion-item>
              <ion-item detail="true" lines="none"   (click)="changeProfilePicture()">
                <ion-icon name="image" slot="start"></ion-icon>
                <ion-label>Change Profile Picture</ion-label>
              </ion-item>
              <ion-item detail="true" lines="none"   (click)="updateResume()">
                <ion-icon name="document" slot="start"></ion-icon>
                <ion-label>View/Update Resume</ion-label>
              </ion-item >
              <ion-item detail="true" lines="none"   (click)="logout()">
                <ion-icon name="arrow-round-back" color="danger" slot="start"></ion-icon>
                <ion-label>Logout</ion-label>
              </ion-item>
            </ion-list>
      </ion-col>
    </ion-row>

    <!-- Desktop -->
    <ion-row class="ion-justify-content-center ion-hide-md-down">
      <ion-col class="edit-profile-desktop" size-xs="11" size-sm="10" size-md="8" size-lg="6">
          <ion-row class="ion-justify-content-center">
            <ion-col size="10">
              <ion-list>
                <ion-item detail="true" lines="none" (click)="changeEmail()">
                  <ion-icon name="mail" slot="start"></ion-icon>
                  <ion-label>Change Email</ion-label>
                </ion-item>
                <ion-item detail="true" lines="none"   (click)="changeAddress()">
                  <ion-icon name="home" slot="start"></ion-icon>
                  <ion-label>Change Address</ion-label>
                </ion-item>
                <ion-item detail="true" lines="none"   (click)="changePassword()">
                  <ion-icon name="help" slot="start"></ion-icon>
                  <ion-label>Change Password</ion-label>
                </ion-item>
                <ion-item detail="true" lines="none"   (click)="changePhoneNumber()">
                  <ion-icon name="call" slot="start"></ion-icon>
                  <ion-label>Change Phone Number</ion-label>
                </ion-item>
                <ion-item detail="true" lines="none"   (click)="changeSchool()">
                  <ion-icon name="school" slot="start"></ion-icon>
                  <ion-label>Change School/Grade</ion-label>
                </ion-item>
                <ion-item detail="true" lines="none"   (click)="changeProfilePicture()">
                  <ion-icon name="image" slot="start"></ion-icon>
                  <ion-label>Change Profile Picture</ion-label>
                </ion-item>
                <ion-item detail="true" lines="none"   (click)="updateResume()">
                  <ion-icon name="document" slot="start"></ion-icon>
                  <ion-label>View/Update Resume</ion-label>
                </ion-item >
                <ion-item detail="true" lines="none"   (click)="logout()">
                  <ion-icon name="arrow-round-back" color="danger" slot="start"></ion-icon>
                  <ion-label>Logout</ion-label>
                </ion-item>
            </ion-list>
            </ion-col>
          </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
