<!-- Mobile Header -->
<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Change Profile Picture</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-grid>
    <ion-row class="ion-hide-md-down" style="margin: 5% 0% 3% 0%;">
      <ion-col offset="2" size="3.5">
        <h1>Change Profile Picture</h1>
      </ion-col>
      <ion-col push="2.5" size="2">
        <ion-button class="blue-button" (click)="back()">
           Back
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-hide-md-down">
      <ion-col size="6">
        <hr style="background-color: #00000044;" />
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="11" size-sm="10" size-md="8" size-lg="6">
        <h6 class="text-header">Please select the profile picture you will use to replace your current one. Only pictures with the extentions <span>'.png', '.jpg', and '.jpeg'</span> are allowed. </h6>

        <!-- <p>{{awsPrefix}}</p> -->
        <img *ngIf="!uploadedPhoto" id="profile-picture" src="{{imageUrl}}" alt="Profile Picture">


        <img *ngIf="uploadedPhoto" id="profile-picture" src="{{uploadedPhotoURL}}" alt="Profile Picture">

        <form
        (ngSubmit)="uploadChangedPhoto()" id="changePhotoForm">
          <input
            name="profile-picture-update"
            (change)="getFormData($event)" placeholder="Upload Image"
            type="file"/>

          <ion-button
            type="submit"
            class="orange-button"
            [disabled]="!imageUrl">Update
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
