<ion-header>
    <ion-toolbar class="ion-hide-md-up">
      <ion-title>Register for {{title}} as Chaperone</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>

    <!-- Dekstop Toolbar -->
    <ion-toolbar class="ion-hide-sm-down fair-page-toolbar-lg">
        <ion-title color="primary">Register for {{title}} as Chaperone</ion-title>
        <ion-button (click)="goBack()" class="orange-button" style="width: 100px; --background: #005191; --color: white;" slot="end">Go Back
        </ion-button>
      </ion-toolbar>
  </ion-header>

  <ion-content>

    <!-- Mobile & Tablet -->
    <ion-grid class="ion-text-center ion-hide-md-up">
      <ion-row>
        <ion-col size="5" offset="2">
          <p class="text-header">
            Information about signing up as a chaperone
          </p>
        </ion-col>
        <ion-col size="5" offset="2">
         <form [formGroup]="registerForm" (ngSubmit)="register(this.registerForm.value)">
           <ion-list class="line-input">
              <ion-item>
                <ion-input
                 #autoFucousInput
                 required
                 inputmode="text"
                 formControlName="name"
                 type="text"
                 placeholder="First & Last Name"></ion-input>
              </ion-item>
             <ion-item>
               <ion-input
                #autoFucousInput
                required
                inputmode="email"
                formControlName="email"
                type="text"
                placeholder="Email"></ion-input>
             </ion-item>

                  <!-- Email Validation-->
                  <div class="validation-errors">
                      <ng-container *ngFor="let validation of validationMessasges.email">
                        <div class="error-message"
                        *ngIf="registerForm
                          .get('email')
                          .hasError(validation.type) && (registerForm.get('email')
                          .dirty || registerForm.get('email').touched)">
                          {{ validation.message }}
                        </div>
                      </ng-container>
                    </div>

             <ion-item>
                <ion-select
                  interfaceOptions="customAlertOptions"   interface="alert"
                  placeholder="School"
                  formControlName="school">
                  <ion-select-option
                    *ngFor="let school of schoolList"
                    value="{{school}}">{{school}}</ion-select-option>
                </ion-select>
             </ion-item>
             <ion-item>
               <ion-input
                required
                inputmode="phone"
                formControlName="phone"
                type="text"
                maxlength='10'
                placeholder="Phone (xxx) xxx - xxxxx"></ion-input>
             </ion-item>
             <ion-item>
                <ion-select
                  interfaceOptions="customAlertOptions"   interface="alert"
                  placeholder="Gender"
                  formControlName="gender">
                  <ion-select-option
                    value="Male">Male</ion-select-option>
                    <ion-select-option
                    value="Female">Female</ion-select-option>
                </ion-select>
             </ion-item>
             <ion-item>
                <ion-radio-group
                required>
                    <ion-list-header>
                      <ion-label>Lunch</ion-label>
                    </ion-list-header>
                    <ion-item>
                      <ion-label>Apple</ion-label>
                      <ion-radio slot="start" color="success" value="apple"></ion-radio>
                    </ion-item>

                    <ion-item>
                      <ion-label>Grape</ion-label>
                      <ion-radio slot="start" color="tertiary" value="grape" checked></ion-radio>
                    </ion-item>

                    <ion-item>
                      <ion-label>Cherry</ion-label>
                      <ion-radio slot="start" color="danger" value="cherry"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
             </ion-item>
           </ion-list>

           <ion-col size="12" class="ion-text-center">
            <ion-button class="orange-button" type="submit">Register</ion-button>
           </ion-col>

         </form>
        </ion-col>
        <ion-col size="11" offset="0.5">
          <!-- <ion-button (click)="register()">
            Register
          </ion-button> -->
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- Desktop -->
    <ion-grid class="ion-text-center ion-hide-sm-down">

      <ion-row style="margin-top: 100px">
        <ion-col push="2" size="5">
          <p class="text-header">After you have successfully registered, you will be sent a confirmation email.
          </p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col push="2" size="5">
         <form [formGroup]="registerForm" (ngSubmit)="register(this.registerForm.value)">
           <ion-list class="line-input">
              <ion-item>
                <ion-input
                 #autoFucousInput
                 required
                 inputmode="text"
                 formControlName="name"
                 type="text"
                 placeholder="First & Last Name"></ion-input>
              </ion-item>
             <ion-item>
               <ion-input
                #autoFucousInput
                required
                inputmode="email"
                formControlName="email"
                type="text"
                placeholder="Email"></ion-input>
             </ion-item>

                  <!-- Email Validation-->
                  <div class="validation-errors">
                      <ng-container *ngFor="let validation of validationMessasges.email">
                        <div class="error-message"
                        *ngIf="registerForm
                          .get('email')
                          .hasError(validation.type) && (registerForm.get('email')
                          .dirty || registerForm.get('email').touched)">
                          {{ validation.message }}
                        </div>
                      </ng-container>
                    </div>

             <ion-item>
                <ion-select
                  interfaceOptions="customAlertOptions"   interface="alert"
                  placeholder="School"
                  formControlName="school">
                  <ion-select-option
                    *ngFor="let school of schoolList"
                    value="{{school}}">{{school}}</ion-select-option>
                </ion-select>
             </ion-item>
             <ion-item>
               <ion-input
                required
                inputmode="phone"
                formControlName="phone"
                type="text"
                maxlength='10'
                placeholder="Phone (xxx) xxx - xxxxx"></ion-input>
             </ion-item>
             <ion-item>
                <ion-radio-group
                required
                formControlName="lunch">
                    <ion-list-header>
                      <ion-label>Lunch</ion-label>
                    </ion-list-header>
                    <ion-item>
                      <ion-label>Turkey</ion-label>
                      <ion-radio slot="start" color="success" value="Turkey"></ion-radio>
                    </ion-item>

                    <ion-item>
                      <ion-label>Ham</ion-label>
                      <ion-radio slot="start" color="tertiary" value="Ham" checked></ion-radio>
                    </ion-item>

                    <ion-item>
                      <ion-label>Veggie</ion-label>
                      <ion-radio slot="start" color="danger" value="Veggie"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
             </ion-item>
           </ion-list>

           <ion-col size="12" class="ion-text-center">
            <ion-button class="orange-button" type="submit">Register</ion-button>
           </ion-col>

         </form>
        </ion-col>
        <ion-col size="11" offset="0.5">
          <!-- <ion-button (click)="register()">
            Register
          </ion-button> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>