ion-row {
  margin-bottom: 20px;
}

h1{
  color: #005191;
  font-size: 3em;
  z-index: 999;
  margin-top: 40px;
}

h2 {
  font-weight: 900;
  font-size: 1.85em;
  line-height: 1.85em;
  background: rgb(66, 63, 57);
  width: 300px;
  color: white;
  padding: 5px 0px 5px 20px;
  border-radius: 5px;
}

.desciption {
  font-size: 1.2em;
  line-height: 1.6em;
  padding-bottom: 30px;
  border-bottom: 2px solid #f0f0f0;
}

.off{
  opacity: 0;
}

.on {
  opacity: 0;
  animation: slide-up 0.2s ease .5s forwards;
}

ul {
  background: rgba(0,0,0,0.03);
  padding: 35px;
}

li {
  font-size: 1.7em;
  margin: 10px 0px;
}

@keyframes slide-up {
  0% {
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(-10px);
  }
}