.fair-page-toolbar-lg {
  --background: #f9fafc;
  --padding-end: 30px;
}

ion-item {
  margin: 30px 0 30px 0;
}

.register-wrapper{
  margin-top: 75px;
}

.register-info {
  position: fixed;
}

ion-radio-group {
  ion-item {
    border: none;
  }
}

ion-title {
  padding-left: 100px;
  font-size: 1.4em;
  font-weight: 900;
}