 <!-- Mobile Toolbar -->
 <ion-header class="ion-hide-lg-up">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
        <p class="toolbar-title">Student Chat</p>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="newMessage()">
          <ion-icon class="new-message" size="large" name="create"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- Mobile -->
  <!-- Searchbar -->
  <ion-toolbar class="searchbar-wrapper ion-hide-lg-up">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>

  

  <!-- List of Text Items -->
<ion-list class="ion-hide-lg-up">
  <!-- If student has no messages in their inbox -->
  <div *ngIf="this.conversations == 0" id="no-messages" class="ion-text-center" style="margin-top: 75px; padding: 15px;">
    <p>You have <b>no messages</b> in your inbox. Please press the <ion-icon class="new-message" size="small" name="create"></ion-icon> button to create a new message. </p>
  </div>

  <ion-item-sliding *ngFor="let convo of conversations" (click)="chatPage(convo.chatId)">
  <ion-item class="unread">
    <ion-avatar slot="start">
      <!-- Show images are profiles of the other user -->
      <img src="{{convo.isUser ? convo.respondingUserPhoto : convo.requestingUserPhoto}}">
    </ion-avatar>
    <ion-label>
      <h2>{{convo.isUser ? convo.respondingUserFullname : convo.requestingUserFullname}} <span class="date-sent">&middot; {{convo.lastMessageTime}}</span></h2>
      <!-- TODO: Most recent message -->
      <p>{{convo.lastMessageText}}</p>
    </ion-label>
  </ion-item>
    <ion-item-options side="end">
      <!-- <ion-item-option color="danger" (click)="delete(item)">Delete</ion-item-option> -->
    </ion-item-options>
  </ion-item-sliding>
</ion-list>

  <!-- Desktop -->
  <!-- <ion-grid class="ion-hide-lg-down">
    <ion-row>
      <ion-col size="6"></ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
