<ion-header class="ion-hide-md-up">

    <!-- Mobile & Tablet Toolbar -->
    <ion-toolbar>
      <ion-title>Chaperones</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button class="register" (click)="register()">
          Register
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

  </ion-header>

  <!-- Desktop Header -->
<ion-header class="ion-hide-sm-down">

    <ion-toolbar class="ion-padding-horizontal fair-page-toolbar-lg">
        <ion-button class="orange-button" style="width: 100px; --background: lightgray; --color: #005191; margin-left: 30px;" (click)="goHome()" slot="start">
          Home
        </ion-button>
        <ion-title color="primary">Chaperones</ion-title>
        <ion-title class="sub-title" color="primary">{{title}}, {{time}}, {{date}}</ion-title>

        <ion-button color="success" class class="orange-button" style="width: 100px; --color: white; margin-right: 30px;" (click)="register()" slot="end">
          Register
        </ion-button>
        <ion-button (click)="goBack()" class="orange-button" style="width: 100px; --background: #005191; --color: white;" slot="end">Go Back
        </ion-button>
    </ion-toolbar>

</ion-header>

<ion-content
  [scrollEvents]="true"
  (ionScroll)="logScrolling($event)">

    <!-- Mobile & Tablet -->
    <ion-grid class="ion-hide-md-up">

      <ion-row>
        <ion-col class="schedule-mobile" size-xs="12" size-sm="10" size-md="10">

            <div margin>
                <h1 class="agenda-header-mobile">Agenda</h1>
            </div>

         <ion-item lines="none" padding *ngFor="let slot of slots">
           <ion-label class="ion-text-wrap">
           <ion-text color="primary">
             <h2>{{slot.time}}</h2>
            </ion-text>
            <ion-text color="secondary">
              <p style="font-weight: 900; font-size: 1.em;">{{slot.title}}</p>
             </ion-text>
             <p>{{slot.description}}</p>
            </ion-label>
         </ion-item>

        </ion-col>

        <ion-col class="booth-partners-mobile" push-xs="2" size-xs="8" size-sm="8" size-md="10">
          <div>
              <h2 #boothPartners >Booth Partners</h2>
              <p style="color: #888; line-height: 2em;">These are all the booth partners that will be involved with this fair.</p>
              <ion-button class="orange-button" style="--background: none; border: 2px solid #005191; border-radius: 5px; width: 200px;" (click)="boothPartnersPage()">
                View Booth Partners
              </ion-button>
          </div>
          <div>
              <h2 #findFind >Where is the Fair?</h2>
              <p style="width: 300px; color: #888; line-height: 2em;">Need help finding the location of the far? Use Google maps to find the best route.</p>
              <ion-button class="orange-button" style="--background: none; border: 2px solid #005191; border-radius: 5px; width: 200px;" (click)="findFairLocation()">
                View Fair Location
              </ion-button>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>

    <!-- Desktop -->
    <ion-grid style="margin-top: 75px" class="ion-hide-sm-down">

        <ion-row class="ion-justify-content-center">
          <ion-col class="schedule" size="5">

              <div margin>
                  <h1 class="agenda-header">Agenda</h1>
              </div>

           <ion-item *ngFor="let slot of slots">
             <ion-label class="ion-text-wrap">
             <ion-text color="primary">
               <h2>{{slot.time}}</h2>
              </ion-text>
              <ion-text color="secondary">
                <p style="font-weight: 900; font-size: 1.em;">{{slot.title}}</p>
               </ion-text>
               <p>{{slot.description}}</p>
              </ion-label>
           </ion-item>

          </ion-col>

          <ion-col class="options" push="1" size="3">
            <div>
                <h2>Booth Partners</h2>
                <p style="width: 300px; color: #888; line-height: 2em;">These are all the booth partners that will be involved with this fair.</p>
                <ion-button class="orange-button" style="--background: none; border: 2px solid #005191; border-radius: 5px; width: 200px;" (click)="boothPartners()">
                  View Booth Partners
                </ion-button>
            </div>
            <div>
                <h2>Where is the Fair?</h2>
                <p style="width: 300px; color: #888; line-height: 2em;">Need help finding the location of the far? Use Google maps to find the best route.</p>
                <ion-button class="orange-button" style="--background: none; border: 2px solid #005191; border-radius: 5px; width: 200px;" (click)="boothPartners()">
                  View Fair Location
                </ion-button>
            </div>
          </ion-col>
        </ion-row>
  
        <!-- <ion-row class="ion-text-center booth-partners">
          <ion-col size="11" offset="0.5">
  
          </ion-col>
        </ion-row> -->
  
    </ion-grid>

</ion-content>
