<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button>
          </ion-back-button>
        </ion-buttons>
        <ion-title>Job Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
        <ion-col size="10">
            <h3 style="color: #005191; font-weight: 600;">{{jobTitle}}</h3>
            <h6><span>Company </span>{{jobCompanyName}}</h6>
            <h6><span>Email:</span> {{jobCompanyEmail}}</h6>
            <h6><span>Description:</span> {{jobSummary}}</h6>

            <h6>{{jobFullJobDescription}}</h6>

        </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="11" offset="0.5"  class="ion-text-center">
        <ion-button (click)="applyForJob()" class="orange-button">Apply for Job</ion-button>
      </ion-col>
    </ion-row>


  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="favoriteThisJob()">
        <ion-icon name="heart"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>