.report-input {
  background: white;
  height: auto;
  margin: 20px 0 0 0;
  box-shadow: none;
  border: 1px solid rgba(0, 81, 145,0.4);
  border-radius: 5px;
  padding-left: 10px;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.report-input:hover {
  height: auto;
  box-shadow: 1px 1px 3px #999;
  border: 1px solid rgba(0, 81, 145, 1);
  border-radius: 5px;
  padding-left: 10px;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#comment {
  font-size: 1em;
  color: #e4405f;
}

#userfullname {
  font-size: 1em;
}

#date {
  font-size: 1em;
}

#back-arrow-icons {
  font-size: 1.5em;
  position: relative;
  left: 24px;
  top: 8px;
}