<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Change Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed class="ion-text-center">
    <ion-row class="ion-hide-md-down" style="margin: 5% 0% 3% 0%;">
      <ion-col offset="2.7" size="2.5">
        <h1>Change Address</h1>
      </ion-col>
      <ion-col push="2.5" size="2">
        <ion-button class="back-button" (click)="back()">
           Back
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-hide-md-down">
      <ion-col size="10">
        <hr style="background-color: #00000044;" />
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="11" offset="0.5">
        <h6 class="text-header" style="width: unset; margin: 0;">
            {{addressOne}}, {{addressTwo}},
            {{city}}, {{state}}, {{zip}}
        </h6>
      </ion-col>
      <ion-col size-xs="11" size-sm="10" size-md="8" size-lg="6">
        <h6>Please enter your new Address</h6>
          <form [formGroup]="changeAddress" (ngSubmit)="confirmChangeAddress(
            this.activeEmail,
            this.changeAddress.controls.addressOne.value,
            this.changeAddress.controls.addressTwo.value,
            this.changeAddress.controls.city.value,
            this.changeAddress.controls.state.value,
            this.changeAddress.controls.zip.value,
            this.changeAddress.controls.password.value
          )">


          <ion-list class="line-input">

            <ion-item>
                <ion-input
                  placeholder="Address"
                  formControlName="addressOne">
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-input
                  placeholder="Apt/Unit"
                  formControlName="addressTwo">
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-input
                  placeholder="City"
                  formControlName="city">
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-select
                formControlName="state" 
                interface="action-sheet"
                placeholder="State"
                value="">
                    <ion-select-option value="Alabama">Alabama</ion-select-option>
                    <ion-select-option value="Alaska">Alaska</ion-select-option>
                    <ion-select-option value="Arizona">Arizona</ion-select-option>
                    <ion-select-option value="Arkansas">Arkansas</ion-select-option>
                    <ion-select-option value="California">California</ion-select-option>
                    <ion-select-option value="Colorado">Colorado</ion-select-option>
                    <ion-select-option value="Connecticut">Connecticut</ion-select-option>
                    <ion-select-option value="Delaware">Delaware</ion-select-option>
                    <ion-select-option value="Florida">Florida</ion-select-option>
                    <ion-select-option value="Georgia">Georgia</ion-select-option>
                    <ion-select-option value="Hawaii">Hawaii</ion-select-option>
                    <ion-select-option value="Idaho">Idaho</ion-select-option>
                    <ion-select-option value="Illinois">Illinois</ion-select-option>
                    <ion-select-option value="Indiana">Indiana</ion-select-option>
                    <ion-select-option value="Iowa">Iowa</ion-select-option>
                    <ion-select-option value="Kansas">Kansas</ion-select-option>
                    <ion-select-option value="Kentucky">Kentucky</ion-select-option>
                    <ion-select-option value="Louisiana">Louisiana</ion-select-option>
                    <ion-select-option value="Maine">Maine</ion-select-option>
                    <ion-select-option value="Maryland">Maryland</ion-select-option>
                    <ion-select-option value="Massachusetts">Massachusetts</ion-select-option>
                    <ion-select-option value="Michigan">Michigan</ion-select-option>
                    <ion-select-option value="Minnesota">Minnesota</ion-select-option>
                    <ion-select-option value="Mississippi">Mississippi</ion-select-option>
                    <ion-select-option value="Montana">Montana</ion-select-option>
                    <ion-select-option value="Nebraska">Nebraska</ion-select-option>
                    <ion-select-option value="Nevada">Nevada</ion-select-option>
                    <ion-select-option value="New Hampshire">New Hampshire</ion-select-option>
                    <ion-select-option value="New Mexico">New Mexico</ion-select-option>
                    <ion-select-option value="Michigan">Michigan</ion-select-option>
                    <ion-select-option value="Minnesota">Minnesota</ion-select-option>
                    <ion-select-option value="Mississippi">Mississippi</ion-select-option>
                    <ion-select-option value="Montana">Montana</ion-select-option>
                    <ion-select-option value="Nebraska">Nebraska</ion-select-option>
                    <ion-select-option value="Nevada">Nevada</ion-select-option>
                    <ion-select-option value="New Hampshire">New Hampshire</ion-select-option>
                    <ion-select-option value="New Jersey">New Mexico</ion-select-option>
                    <ion-select-option value="New York">New York</ion-select-option>
                    <ion-select-option value="North Caroloina">North Caroloina</ion-select-option>
                    <ion-select-option value="North Dakota">North Dakota</ion-select-option>
                    <ion-select-option value="Ohio">Ohio</ion-select-option>
                    <ion-select-option value="Oklahoma">Oklahoma</ion-select-option>
                    <ion-select-option value="Oregon">Oregon</ion-select-option>
                    <ion-select-option value="Pennsylvania">Pennsylvania</ion-select-option>
                    <ion-select-option value="Rhode Island">Rhode Island</ion-select-option>
                    <ion-select-option value="New York">New York</ion-select-option>
                    <ion-select-option value="North Caroloina">North Caroloina</ion-select-option>
                    <ion-select-option value="North Dakota">North Dakota</ion-select-option>
                    <ion-select-option value="Ohio">Ohio</ion-select-option>
                    <ion-select-option value="Oklahoma">Oklahoma</ion-select-option>
                    <ion-select-option value="Oregon">Oregon</ion-select-option>
                    <ion-select-option value="Pennsylvania">Pennsylvania</ion-select-option>
                    <ion-select-option value="Rhode Island">Rhode Island</ion-select-option>
                    <ion-select-option value="Rhode Island">Rhode Island</ion-select-option>
                    <ion-select-option value="New York">New York</ion-select-option>
                    <ion-select-option value="North Caroloina">North Caroloina</ion-select-option>
                    <ion-select-option value="North Dakota">North Dakota</ion-select-option>
                    <ion-select-option value="Ohio">Ohio</ion-select-option>
                    <ion-select-option value="Oklahoma">Oklahoma</ion-select-option>
                    <ion-select-option value="Oregon">Oregon</ion-select-option>
                    <ion-select-option value="Pennsylvania">Pennsylvania</ion-select-option>
                    <ion-select-option value="Rhode Island">Rhode Island</ion-select-option>
                    <ion-select-option value="South Carolina">South Carolina</ion-select-option>
                    <ion-select-option value="South Dakota">South Dakota</ion-select-option>
                    <ion-select-option value="Tennessee">Tennessee</ion-select-option>
                    <ion-select-option value="Texas">Texas</ion-select-option>
                    <ion-select-option value="Utah">Utah</ion-select-option>
                    <ion-select-option value="Vermont">Vermont</ion-select-option>
                    <ion-select-option value="Virginia">Virginia</ion-select-option>
                    <ion-select-option value="Washington">Washington</ion-select-option>
                    <ion-select-option value="West Virginia">West Virginia</ion-select-option>
                    <ion-select-option value="Wisconsin">Wisconsin</ion-select-option>
                    <ion-select-option value="Wyoming">Wyoming</ion-select-option>
                  </ion-select>
            </ion-item>
            <ion-item>
                <ion-input
                  maxLength="5"
                  placeholder="Zip"
                  formControlName="zip"
                  required>
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-input
                  required
                  type="password"
                  placeholder="Password"
                  formControlName="password"
                  (keyup.enter)="confirmChangeAddress(
                    this.activeEmail,
                    this.changeAddress.controls.addressOne.value,
                    this.changeAddress.controls.addressTwo.value,
                    this.changeAddress.controls.city.value,
                    this.changeAddress.controls.state.value,
                    this.changeAddress.controls.zip.value,
                    this.changeAddress.controls.password.value
                  )">
                </ion-input>
            </ion-item>
              <ion-button type="submit"class="orange-button" style="width: unset; margin-top: 16px;">CHANGE ADDRESS</ion-button>

            </ion-list>

          </form>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
