<ion-header>
  <ion-toolbar>
    <ion-title>change-password</ion-title>
    <ion-button (click)="cancel()" id="cancel-button" slot="end">
        cancel
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed class="ion-text-center">
      <ion-row>
        <ion-col size="12">
            <form [formGroup]="changePassword">
                <!-- Email -->
                <ion-item>
                  <ion-input
                    placeholder="current password"
                    formControlName="currentPassword"
                    type="email">
                  </ion-input>
                </ion-item>
                <ion-item>
                    <ion-input
                      placeholder="new password"
                      formControlName="newPassword"
                      type="password">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-input
                      placeholder="retype new password"
                      formControlName="reTypeNewPassword"
                      type="password">
                    </ion-input>
                </ion-item>
              </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
<button (click)="confirmChangedPassword()" id="next-button">CHANGE PASSWORD</button>
