<ion-header>
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
    <ion-button (click)="cancel()" class="cancel-button" slot="end">
        cancel
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed class="ion-text-center">
      <ion-row>
        <ion-col size="12">
            <h6 class="text-header">Change your password.</h6>
            <form 
             (ngSubmit)="confirmChangedPassword(
              this.changePassword.controls.password.value,
              this.changePassword.controls.newPassword.value,
              this.changePassword.controls.reTypeNewPassword.value)"
            [formGroup]="changePassword">


            <ion-list class="line-input">
                <!-- Email -->
                <ion-item>
                  <ion-input
                    required
                    placeholder="Current password"
                    formControlName="password"
                    type="password">
                  </ion-input>
                </ion-item>

                <ion-item>
                    <ion-input
                      required
                      placeholder="New Password"
                      formControlName="newPassword"
                      type="password">
                    </ion-input>

                    <ion-button *ngIf="!passwordsMatch" class="badPassword" item-right>
                        <ion-icon style="color: #FF443B;" name="close"> </ion-icon>
                    </ion-button>

                     <ion-button *ngIf="passwordsMatch" class="goodPassword" item-right>
                         <ion-icon style="color: #21df82;" name="checkmark"> </ion-icon>
                    </ion-button>
                </ion-item>
                
                <!-- Password Validation-->
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validationMessasges.password">
                      <div class="error-message"
                        *ngIf="changePassword
                          .get('newPassword')
                          .hasError('pattern') && (changePassword.get('newPassword')
                          .dirty || changePassword.get('newPassword').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>

  
                <ion-item>
                    <ion-input
                      required
                      placeholder="Re-Type New Password"
                      formControlName="reTypeNewPassword"
                      type="password">
                    </ion-input>

                    <ion-button *ngIf="!passwordsMatch" class="badPassword" item-right>
                        <ion-icon style="color: #FF443B;" name="close"> </ion-icon>
                    </ion-button>

                     <ion-button *ngIf="passwordsMatch" class="goodPassword" item-right>
                         <ion-icon style="color: #21df82;" name="checkmark"> </ion-icon>
                    </ion-button>
                </ion-item>
              </ion-list>

              <!-- Password Validation-->
              <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessasges.password">
                    <div class="error-message"
                      *ngIf="changePassword
                        .get('reTypeNewPassword')
                        .hasError('pattern') && (changePassword.get('reTypeNewPassword')
                        .dirty || changePassword.get('reTypeNewPassword').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>

                <ion-button 
                [disabled]="!passwordsMatch" 
                type="submit" class="orange-button">CHANGE PASSWORD</ion-button>

              </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
