.desktop-toolbar{
  --background: none;
  padding-bottom: 16px;
  border-bottom: 1px solid #33333326;

  h1 {
    color: #0055a5;
  }
}
.text-header {
  background: rgb(228, 235, 241);
}
.back-button {
  --color: white;
  --background: #0055a5;
  --background-hover: linear-gradient(#0055a5, #0d2e4d);
  height: 24px;
  --border-radius: 5px;
  width: 100px;
  font-size: 0.5em;
  font-weight: 600;
  display: block;
}
.badPassword {
  --background: none;
  opacity: 0;
  animation: password-icons 1s ease-in 0.5s forwards;
}

.badPassword:nth-child(2) {
  --background: none;
  opacity: 0;
  animation: password-icons 1s ease-in forwards;
}

.goodPassword {
  --background: none;
  opacity: 0;
  animation: password-icons 1s ease-in 0.5s forwards;
}

.goodPassword:nth-child(2) {
  --background: none;
  opacity: 0;
  animation: password-icons 1s ease-in forwards;
}

@keyframes password-icons {
  0% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}