<!-- ion-header is required -->
<ion-header>
    <ion-toolbar>
        <ion-title>{{userObject.fullName}}</ion-title>
        <ion-title style="font-size: 0.7em">{{userObject.email}}</ion-title>
        <ion-buttons class="logout-button"  slot="end">
          <ion-button class="cancel-button" (click)="logout()">
            Logout
          </ion-button>
          </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row style="padding-top: 50px;">

        <ion-col size="5" offset="1" class="header-half" class="ion-text-center">
          <div id="profile-picture">
              <button id="change-pro-pic-button" (click)="changeProfilePicture()">
                  +
                </button>
          </div>

        </ion-col>
        <ion-col size="5" offset="1" class="header-half">
          <ion-button id="edit-profile-button" (click)="editPage()">
            Edit Profile
          </ion-button>
        </ion-col>
      <ion-col id="profile-header" size="11" offset="0.5">

        <p>Gender: {{userObject.gender}}</p>
        <p>Address: {{userObject.addressOne}} {{userObject.addressTwo}}</p>
        <p>Phone: {{userObject.phone}}</p>
        <p>City: {{userObject.city}}</p>
        <p>State: {{userObject.state}}</p>
        <p>Zip: {{userObject.zip}}</p>
        <p>School: {{userObject.school}}</p>
        <p>Grade: {{userObject.grade}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>