ion-header {
  display: none;
  ion-buttons {
    ion-button {
      color: white;
    }
  }
}

ion-toolbar {
  --color: #005191;
}

ion-alert {
  --background: #e4405f;
}

#profile-info {
  height: auto;
  margin-top: 20px;
  text-align: left;
  padding: 25px;
}

h4 {
  color: #777;
}

.header-half {
  height: auto;
  background-image: linear-gradient(
    to bottom right, 
    rgba(230,230,230,0.4), 
    rgba(200,200,200,0.9));
  background-attachment: fixed;
  padding: 50px 0 50px 0;
}


span {
  color: #005191;
  font-weight: 600;
}

#profile-picture {
  height: 100px;
  width: 100px;
  border-radius: 100px;
  margin: 0 auto;
  display: block;
}

#change-pro-pic-button {
  width: 30px;
  height: 30px;
  background: #0d467b;
  color: white;
  font-size: 1.5em;
  font-weight: 400;
  border-radius: 100px;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 25px;
}

#edit-profile-button {
  --background: #d3d3d3;
  --color: #333;
  font-size: 0.6em;
}

.logout-button {
  color: red;
}

