<!-- ion-header is required -->
<ion-header>
    <ion-toolbar>
        <ion-title>{{userObject.fullName}}</ion-title>
        <ion-title style="font-size: 0.7em">{{userObject.email}}</ion-title>
        <ion-buttons class="logout-button"  slot="end">
          <ion-button class="cancel-button" (click)="logout()">
            Logout
          </ion-button>
          </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed class="ion-text-center">
    <ion-row style="padding-top: 50px;">

        <ion-col size="11" offset="0.5" class="header-half">
          <div id="profile-picture">
              <button id="change-pro-pic-button" (click)="changeProfilePicture()">
                  +
                </button>
          </div>

        </ion-col>
        <ion-col size="11" offset="0.5" class="header-half">
          <ion-button class="orange-button" (click)="editPage()">
            Edit Profile
          </ion-button>
        </ion-col>
        <ion-col size="11" offset="0.5" class="header-half">
          <ion-button style="--background: white; border: 1px solid #005191; border-radius: 5px;" class="orange-button" (click)="updateResume()">
            View Resume
          </ion-button>
        </ion-col>
      <ion-col id="profile-info" size="12">
        <p><span>Name</span>: {{userObject.fullName}}</p>
        <p><span>Email</span>: {{userObject.email}}</p>
        <p><span>Gender</span>: {{userObject.gender}}</p>
        <p><span>Address</span>: {{userObject.addressOne}}, {{userObject.addressTwo}}</p>
        <p><span>Phone</span>: {{userObject.phone}}</p>
        <p><span>City</span>: {{userObject.city}}</p>
        <p><span>State</span>: {{userObject.state}}</p>
        <p><span>Zip</span>: {{userObject.zip}}</p>
        <p><span>School</span>: {{userObject.school}}</p>
        <p><span>Grade</span>: {{userObject.grade}}</p>
      </ion-col>

      <ion-col size="11" offset="0.5" class="header-half">
        <ion-button style="--background: white; color: #d3d3d3; margin-bottom: 50px;" class="orange-button"  (click)="confirmLogout()">
          Logout
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>