.profile-wrapper {
  margin: 16px auto;
}
@media only screen and (max-width: 575px) {
  .profile-wrapper {
    margin: 24px auto;
  }
}
ion-alert {
  --background: #e4405f;
}
ion-list {
  background: none;
}
ion-item {
  background: none;
  --color: #0055a5;
  margin: 8px auto;
  box-shadow: 1px 10px 26px rgba(0,0,0,0.05);
  border-radius: 5px;
}
.desktop-toolbar{
  --background: none;
  padding-bottom: 16px;
  border-bottom: 1px solid #33333326;

  h1 {
    color: #0055a5;
  }
}
#profile-info {
  height: auto;
  text-align: left;
  margin-left: 24px;
}

h4 {
  color: #000;
  font-size: 1.9em;
  opacity: 1;
  // animation: header-slide-right 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s forwards;
}
p {
  font-size: 1em;
  opacity: 1;
  transition: 0.5s;
  // animation: text-slide-up 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.5s forwards;
}
span {
  color: #0055a5;
  font-weight: 600;
  width: 64px;
  display: inline-block;
}
#profile-picture {
  height: 80px;
  width: 80px;
  border-radius: 100px;
  margin: 0 auto 8px;
  display: block;
  opacity: 1;
  border: 5px solid #0055a5;
  // animation: pic-slide-right 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s forwards;
}
.back-button{
  opacity: 1;
  // animation: buttons-slide-up 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
.blue-button{
  --background: #0055a5;
  opacity: 1;
  height: 24px;
  width: 100px;
  font-size: 0.5em;
  // animation: buttons-slide-right 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) .9s forwards;
}
.logout-button {
  color: white;
  --background: #e4405f;
  --background-hover: #dd3252;
  height: 24px;
  width: 100px;
  font-size: 0.5em;
  font-weight: 600;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  margin-bottom: 52px auto;
  // animation: buttons-slide-right 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.3s forwards;
}

@keyframes text-slide-up {
  0%{
    transform: translateY(20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes pic-slide-right {
  0%{
    transform: translateX(-20px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes header-slide-right {
  0%{
    transform: translateX(-20px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes buttons-slide-up {
  0%{
    transform: translateY(-20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes buttons-slide-right {
  0%{
    transform: translateX(-20px);
  }
  100%{
    opacity: 1;
    transform: translateX(0px);
  }
}

@media screen and (max-width: 992px) {
  p {
    font-size: 1em;
  }
   span {
    color: #0055a5;
    font-weight: 600;
    width: 64px;
    display: inline-block;
    text-align: left;
    margin-right: 10px;
  }
}


@media screen and (min-width: 768px) {
  #change-pro-pic-button {
    position: absolute;
    top: 75px;
    left: 188px;
  }
}