ion-header {
  height: 80px;
  background: #005191;
  ion-buttons {
    ion-button {
      color: white;
    }
  }
}

#profile-header {
  height: auto;
  margin-top: 20px;
}

.header-half {
  height: 200px;
  // background: lightgray;
}

#profile-picture {
  background: red;
  height: 75px;
  width: 75px;
  border-radius: 100px;
}

#change-pro-pic-button {
  width: 30px;
  height: 30px;
  background: blue;
  color: white;
  font-size: 1.5em;
  font-weight: 400;
  border-radius: 100px;
  position: relative;
  top: 50px;
  left: 25px;
}

#edit-profile-button {
  --background: #d3d3d3;
  --color: #333;
  font-size: 0.6em;
}

.logout-button {
  color: red;
}

