ion-item {
  --padding-top: 20px;
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-bottom: 20px;
}

ion-grid {
  --ion-grid-padding: 0px;
}

.fair-button {
  --background: none;
  --color: #005191;
  --border-color: #005191;
  --border-width: 1px;
  --border-style: solid;
  --padding-top: 20px;
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-bottom: 20px;
}