<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>

    <ion-row class="fair-photo">
      <ion-col size="12">
      </ion-col>
      <div class="fair-info"2`  >
        <h4>{{title}}</h4>
        <p>Date: {{date}}</p>
        <p>Start Time: {{time}}</p>
        <p>{{summary}}</p>
        <p>{{description}}
        </p>
      </div>
    </ion-row>


    <ion-row style="margin: 100px 0 100px 0;">
      <ion-col size="11" offset="0.5">
        <p>Register, view agendas, view FAQs, get parking information, and complete surveys. </p>
        <h3>I am a: </h3>
        <ion-item lines="none">
          <ion-button class="fair-button" (click)="students()">
            Student
          </ion-button>
        </ion-item>
        <ion-item lines="none">
          <ion-button class="fair-button" (click)="chaperones()">
            Chaperone
          </ion-button>
        </ion-item>
        <ion-item lines="none">
          <ion-button class="fair-button" (click)="volunteers()">
            Volunteer
          </ion-button>
        </ion-item>
        <ion-item lines="none">
          <ion-button class="fair-button" (click)="partners()">
            Partner
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-row class="ion-text-center" style="background: rgba(200,200,200,0.3);">
      <ion-col size="12" class="ion-text-center">
        <h2 style="color: #005191; font-weight: 800;">Need directions? </h2>
        <p>Use Google Maps to get directions for:</p>
        <p style="background: rgba(230,230,230,0.7); padding: 8px">{{address}}, {{city}} {{state}}, {{zip}}</p>
        <ion-item lines="none" style="--background: none;">
          <ion-button class="orange-button" (click)="partners()">
            Google Maps
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
