<ion-header class="ion-hide-md-up">
    <!-- Mobile & Tablet Header -->
    <ion-toolbar>
      <ion-title>Fair Information</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>

  </ion-header>

  <ion-header class="ion-hide-sm-down">
     <!-- Desktop Header -->
    <ion-toolbar class="fair-page-toolbar-lg ion-padding-horizontal">
        <ion-title color="primary">Fair Information</ion-title>
        <ion-button (click)="goBack()" class="orange-button" style="width: 100px; --background: #005191; --color: white;" slot="end">Go Back
        </ion-button>
      </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-grid>

    <!-- Desktop -->
    <ion-row class="fair-photo-lg ion-hide-sm-down ion-justify-content-center">

        <ion-col class="info-section ion-align-self-center" size="9">
          <h1>{{title}}</h1>
          <p>{{date}}</p>
          <p>{{time}}</p>
          <p>{{description}}</p>
        </ion-col>

        <ion-col class="button-wrapper ion-align-self-center" size="9">
            <h2>I am a: </h2>
            <ion-button class="fair-page-btn" (click)="students()">
              Student
            </ion-button>

            <ion-button class="fair-page-btn" (click)="partners()">
              Partner
            </ion-button>

              <ion-button class="fair-page-btn" (click)="volunteers()">
                Volunteer
              </ion-button>

             <ion-button class="fair-page-btn" (click)="chaperones()">
              Chaperone
            </ion-button>
        </ion-col>

      </ion-row>

    <!-- Mobile -->
    <ion-row class="ion-hide-md-up ion-justify-content-center">

      <ion-col class="info-section" size-xs="12" size-sm="8">
       <h1>{{title}}</h1>
       <p>{{date}}</p>
       <p>{{time}}</p>
       <p style="
       margin-bottom: 50px;">{{description}}</p>
      </ion-col>


      <ion-col class="button-wrapper" size-xs="12" size-sm="12" style="margin-top: 30px;">

        <h2>I am a </h2>

        <p style="line-height: 2em; font-weight: 400; font-size: 1.2em;">Register, view agendas, view FAQs, get parking information, and complete surveys. </p>
        <ion-item lines="none">
          <ion-button class="orange-button" (click)="students()">
            Student
          </ion-button>
        </ion-item>
        <ion-item lines="none">
          <ion-button class="orange-button" (click)="chaperones()">
            Chaperone
          </ion-button>
        </ion-item>
        <ion-item lines="none">
          <ion-button class="orange-button" (click)="volunteers()">
            Volunteer
          </ion-button>
        </ion-item>
        <ion-item lines="none">
          <ion-button class="orange-button" (click)="partners()">
            Partner
          </ion-button>
        </ion-item>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>
