ion-item {
  --padding-top: 20px;
  --padding-start: 10px;
  --padding-end: 10px;
  --padding-bottom: 20px;
  --height: 100px;
  --background: none;
}

ion-grid {
  --ion-grid-padding: 0px;
}

h1{
  color: #005191;
  font-weight: 900;
  font-size: 1.75em;
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-bottom: #005191 2px solid;
}

h2{
  color: #005191;
  font-weight: 900;
  font-size: 1.75em;
  margin-bottom: 50px;
  padding-bottom: 20px;
  width: 100%;
  border-bottom: #005191 2px solid;
}

.info-section {
  padding: 20px;

  p {
    line-height: 0.5em;
    color: #222;
    font-weight: 500;
    font-size: 1.4em;
  }
}

.button-wrapper{
  padding: 20px;
}

.orange-button {
  height: 50px;
  width: 200px;
  margin: 0 auto;
  font-weight: 900;
  --background: #faa71b;
  --color: #005191;
  --padding-top: 20px;
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-bottom: 20px;
}

.fair-info{
  margin-top: 20px;

  p {
    opacity: 0.5;
  }
}

.fair-page-toolbar-lg {
  --background: rgba(245,245,245,1);
  height: 100px;
}

.fair-photo {
  height: 300px;
  background: url('/../../assets/Journi_flyer-500x357.png') no-repeat top center fixed;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.fair-photo-lg {
  background-image: linear-gradient(#f3f3f3, #ffffff);
  height: 100vh;

  .info-section {
    margin-top: 30px;
    border-radius: 10px;
    border: 2px solid #005191;
    height: 30vh;
    padding: 30px;
    background: white;
  }

  .button-wrapper {
    background: white;
    border-radius: 10px;
    border: 2px solid #005191;
    padding: 30px;
    height: auto;
    text-align: center;
    position: relative;
    top: -100px;
    opacity: 0;
    animation: btn-wrapper-slide-up 0.5s ease-out 1s forwards;
  }

  @keyframes btn-wrapper-slide-up {
    0%{
      opacity: 0;
      transform: translateY(100px);
    }
    100%{
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .fair-page-btn {
    width: 120px;
    margin: 7px;
    --background: #faa71b;
    --color: #005191;
    font-weight: 900;
  }
}