<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-input value="eddie" placeholder="name"></ion-input>
    <br>
  <ion-input value="eddielacrosse2@gmail.com" placeholder="email"></ion-input>
    <br>
  <ion-input value="12345" placeholder="password"></ion-input>
    <br>
  <ion-button (click)="registerUser()" shape="round" expand="full">Sign Up</ion-button>
    <br>
  <a text="center" [routerLink]="['/']">cancel</a>
</ion-content>
