ion-item {
  --background: none;
  position: relative;
  right: 16px;
}
.add-comment-footer {
  background: rgba(213, 232, 236, 0.3);
  height: 80px;
  font-size: 1.3em;
  border-top: 6px solid #0055a5;
  padding-top: 4px;
}
.more-icon {
  color: #0055a5;
  font-size: 1.3em;
}
.reply-wrapper {
  padding: 10px;
  margin: 16px;
  box-shadow: 1px 10px 10px rgba(0,0,0,0.05);
  background: white;
}

#reply-avatar {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  position: relative;
  top: 7px;
}

.reply-name {
  font-weight: bold;
  margin: 0.5em 0 0.5em;
}

#reply-date {
  font-size: 0.7em;
  color: #999;
}

#back-arrow-icons {
  font-size: 1.5em;
  position: relative;
  left: 24px;
  top: 8px;
}