<ion-tabs class=" ion-hide-md-down">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="jobs">
      <ion-icon src="../assets/icon/suitcase-inactive.svg"></ion-icon>
      <ion-label>JOBS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="events">
      <ion-icon src="../assets/icon/calendar-inactive.svg"></ion-icon>
      <ion-label>EVENTS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="posts">
      <ion-icon src="../assets/icon/post-inactive.svg"></ion-icon>
      <ion-label>POSTS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mentors">
      <ion-icon src="../assets/icon/question-inactive.svg"></ion-icon>
      <ion-label>MENTORS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon src="../assets/icon/profile-inactive.svg"></ion-icon>
      <ion-label>PROFILE</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
<!--
<ion-tabs class=" ion-hide-md-down">

    <ion-tab-bar slot="top">
      <ion-tab-button tab="jobs">
        <ion-icon src="../assets/icon/suitcase-inactive.svg"></ion-icon>
        <ion-label>JOBS</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="events">
        <ion-icon src="../assets/icon/calendar-inactive.svg"></ion-icon>
        <ion-label>EVENTS</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="posts">
        <ion-icon src="../assets/icon/post-inactive.svg"></ion-icon>
        <ion-label>POSTS</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="mentors">
        <ion-icon src="../assets/icon/question-inactive.svg"></ion-icon>
        <ion-label>MENTORS</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon src="../assets/icon/profile-inactive.svg"></ion-icon>
        <ion-label>PROFILE</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs> -->
