<ion-tabs>
  <!-- Toolbar for Desktop -->
  <ion-toolbar slot="top" class="ion-hide-lg-down">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col  size="2"></ion-col>
        <ion-col pull-lg="1.5" pull-xl="0" size="2">
          <img id="logo" src="../../assets/icon/Logo 2.0.png">
        </ion-col>
        <ion-col style="z-index: 9999;" class="ion-float-right" push-lg="1.5"  size-lg="6" push-xl="1" size-xl="4.5">

          <a (click)="logoutConfirm()" style="cursor: pointer;">
            LOGOUT
          </a>
          <a routerLink="/home/profile/" routerLinkActive="active-link">
            PROFILE
          </a>
          <a routerLink="/home/mentors" routerLinkActive="active-link">
            MENTORS
          </a>
          <a routerLink="/home/posts" routerLinkActive="active-link">
            POSTS
          </a>
          <a routerLink="/home/events" routerLinkActive="active-link">
           EVENTS
          </a>
          <a routerLink="/home/jobs" routerLinkActive="active-link">
            JOBS
          </a>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <!-- Tab Bar for Mobile -->
  <ion-tab-bar slot="bottom" id="tabBar" class="ion-hide-lg-up">
    <ion-tab-button tab="jobs">
      <ion-icon src="../assets/icon/suitcase-inactive.svg"></ion-icon>
      <!-- <ion-label>JOBS</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="events">
      <ion-icon src="../assets/icon/calendar-inactive.svg"></ion-icon>
      <!-- <ion-label>EVENTS</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="posts">
      <ion-icon src="../assets/icon/post-inactive.svg"></ion-icon>
      <!-- <ion-label>POSTS</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="mentors">
      <ion-icon src="../assets/icon/question-inactive.svg"></ion-icon>
      <!-- <ion-label>MENTORS</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon src="../assets/icon/profile-inactive.svg"></ion-icon>
      <!-- <ion-label>PROFILE</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

