<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="jobs">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Jobs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="events">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Events</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="posts">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Posts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mentors">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Mentors</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="send"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
