<ion-header style="display: none;">
</ion-header>

<ion-content style="--background: #46c9a3;">
    <ion-grid class="ion-text-center" style="margin-top: 10%;">
      <ion-row>
        <ion-col size-lg="6" offset-lg="3">
          <ion-icon class="check-icon" src="../../../assets/icon/white-check.svg" ></ion-icon>
          <h6 class="text-header">Your password has been changed. Please log in with your new password</h6>
          <ion-button (click)="goToLogin()" class="orange-button" >LOGIN</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>

