<ion-header>
  <ion-toolbar>
    <ion-title>Password change confirmed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed class="ion-text-center">
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-icon class="check-icon" src="../../../assets/icon/green-check.svg" ></ion-icon>
          <h6 style="background: rgba(245,245,245,0.7); padding: 20px; margin: 30px 0 30px 0;">Your password has been changed. Please log in with your new password</h6>
          <ion-button (click)="goToLogin()" class="orange-button" >LOGIN</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>

