<!-- Mobile Toolbar -->
<ion-header no-border class="ion-hide-lg-up">
  <ion-toolbar>
    <ion-grid>
      <!-- Searchbar & Favorites Icon -->
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col push-xs="0.5" push-sm="1" size-xs="8" size-sm="8" size-md="8">
          <ion-searchbar
          class="searchbar"
          debounce="2000"
          showCancelButton="true"
          placeholder="Search Job Titles"
          (ionChange)="filter($event)"
          ></ion-searchbar>
        </ion-col>


      <ion-col push-xs="0.5" push-sm="1" size-xs="3" size-sm="3" size-md="3">
        <ion-button id="favorites-button" (click)="favoritesPage()">
            <ion-icon src="../../../assets/icon/heart-inactive.svg"></ion-icon>
          {{favoriteJobsAmount}}</ion-button>
      </ion-col>
      </ion-row>
  </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>

    <!-- Desktop Searchbar / Toolbar -->
    <ion-row class="ion-hide-md-down" style="margin: 50px 0 50px 0;">
      <ion-col size="8.33" push="1">
        <ion-searchbar
        class="searchbar"
        showCancelButton="true"
        placeholder="Search Job Titles"
        debounce="1500"
        (ionChange)="filter($event)"
        ></ion-searchbar>

      </ion-col>
      <ion-col size="2" push="0.5">
        <ion-button class="blue-button ion-float-right" style="width: 170px; position: fixed; top: 60px;" (click)="favoritesPage()">
          <ion-icon src="../../../assets/icon/heart-inactive.svg"></ion-icon>
          {{favoriteJobsAmount}}
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- No Search Results Message -->
    <ion-row *ngIf="noSearchInput" class="ion-justify-content-center">
      <ion-col size="6" style="margin-top: 25px;">
        <h6 class="text-header-mobile" style="text-align: center;">There were no search results with that name.</h6>
        <ion-button class="orange-button" expand="block" (click)="doRefresh($event)">
          Clear Search
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!noSearchInput">
      <ion-col push-xs="0" push-sm="1.3" push-lg="1.05" size-xs="12" size-sm="10" size-md="7.4">
        <ion-row class="job-section" *ngFor="let job of allJobs">

          <!-- First Row w/ Job Tile, Date posted, and Logo -->
          <ion-col push="0.5" push-lg="0.6" size-xs="12 "size="7" style="padding-top: 30px">
            <ion-row class="ion-align-items-start">
              <ion-col size="1">
                <div class="company-logo" style="height: 60px; width: 60px;"></div>
              </ion-col>
              <ion-col push-xs="1" push-sm="1" push-md="1" push-lg="0.5" size="4">
                <h5 id="job-title">{{job.title}}</h5>
                <p id="company-name">{{job.companyName}}</p>
                <h5 id="job-posted-date">Posted: {{job.dateCreated}}</h5>
              </ion-col>
              <ion-col push-xs="3.5" push-sm="3.5" push-sm="3.5" push-sm="3.9" size="1">
                  <!-- Heart Icon Component holds the state for Favorites -->
                  <app-heart-icon [job]="job" [favoriteJobs]="favoriteJobsObj" *ngIf="favoriteJobsObj"></app-heart-icon>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col size="12">
            <ion-row>
              <ion-col push="0.5"  size="10.5" >
                <p id="job-summary">{{job.summary}}</p>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col size="12">
            <ion-row>
              <ion-col push="0.5" size="10.5">
                <ion-button id="job-details" class="ion-float-right" (click)="jobPage(job)">
                  Details
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-col>

          <!-- Fourth Row w/ Favorite Button -->
          <ion-col size="12">
            <ion-row>
            </ion-row>
          </ion-col>

        </ion-row>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
