#logo{
  width: 100px;
  position: relative;
  top: 10px;
  left: 10px;
}

.company-logo {
  background-image: url("../../../assets/journi-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}



#job-details {
  --background: #e6e6e6;
  --background-hover: #999;
  color: #888;
  margin-right: 10px;
  font-size: 15px;
  height: 45px;
  border-radius: 5px;
}

#job-details:hover{
  color: white;
}

#favorites-button {
  opacity: 1;
  --background: #005191;
  --background-hover: #005191;
  --color: white;
  --border-style: solid;
  --border-width: 1px;
  --border-color: white;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  width: 100px;
  height: 50px;
  font-size: 0.8em;
  font-weight: 600;
  position: relative;
  right: 15px;
}

ion-icon {
  color: red;
  font-size: 25px;
  position: relative;
  right: 5px;
}

ion-searchbar {
  --background: white;
  border-radius: 5px;
  --height: 60px;
  width: 90%;
  font-size: 0.8em;
  --box-shadow: none;
  --cancel-button-color: #005191;
  --clear-button-color: #005191;
  --placeholder-opacity: 0.5;
  --icon-color: #005191;
  transition: 0.5s;
  padding: 5px;
}

ion-searchbar:focus {
  border: 1px solid #005191;
}

.job-section {
  background: white;
  height: auto;
  color: #777;
  width: 100%;
  margin-bottom: 50px;
  box-shadow: 1px 10px 10px rgba(0,0,0,0.1);
}

h6, p {
  display: block;
}

--ion-buttons {
  --color: #888;
}

#job-summary {
  font-size: 1.1em;
  line-height: 29px;
  position: relative;
  color: #666;
  opacity: 0.7;
  top: -60px;
}

#company-name {
  font-size: 0.9em;
  opacity: 0.8;
  position: relative;
  top: -29px
}

#job-title {
  font-size: 0.9em;
  font-weight: 500;
  position: relative;
  top: -15px;
  color: #111;
}

#job-rate {
  font-size: 12px;
  opacity: 0.7;
  position: relative;
  top: -53px;
  color: green;
}

@media only screen and (min-width: 992px) {
  #job-title  {
    font-size: 1.3em;
    font-weight: 500;
  }
}

@media only screen and (min-width: 576px) {
  #job-title  {
    font-size: 1.3em;
    font-weight: 500;
  }
}

#job-posted-date {
  font-size: 10px;
  opacity: 0.7;
  position: relative;
  top: -43px
}
