<ion-header no-border class="ion-hide-lg-up">
  <!-- Mobile & Tablet Toolbar -->
  <ion-toolbar>
    <img class="ion-float-left" style="position: relative; left: 16px;
" height="40" src="../../../assets/icon/suitcase-white.svg">
    <ion-title style="position: relative; top: 16px;
">Jobs</ion-title>
       <ion-buttons slot="end">
        <ion-button (click)="favoritesPage()">
          <ion-icon slot="start" src="../../assets/icon/my-favorite-jobs.svg"></ion-icon>
        </ion-button>
        <ion-button (click)="filterMenu()">
          <ion-icon slot="start" name="filter"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <!-- Desktop Header -->
    <ion-row style="padding-top: 80px; margin-bottom: 40px;" class="ion-hide-lg-down ion-justify-content-center">
      <ion-col size-xs="11" size-sm="10" size-md="10" size-lg="8" size-xl="6">
        <ion-toolbar class="desktop-toolbar">
              <ion-buttons slot="start">
                  <img height="50" src="../../../assets/icon/suitcase-blue.svg" alt="" srcset="">
                  <h1>Jobs</h1>
              </ion-buttons>
              <ion-buttons slot="end">
                <ion-button class="filter-button" (click)="filterMenu()">
                  Filter
                </ion-button>
                <ion-button class="favorites-button" (click)="favoritesPage()">
                  Favorites
                </ion-button>
              </ion-buttons>
        </ion-toolbar>
        <ion-row>
          <ion-col size="12">
            <p *ngIf="this.jobFilter === 'htol'" class="filter-message"><span>Filter</span>: Pay - High to Low</p>
            <p *ngIf="this.jobFilter === 'ltoh'" class="filter-message"><span>Filter</span>: Pay - Low to High</p>
            <p *ngIf="this.jobFilter === 'newest'" class="filter-message"><span>Filter</span>: Newest</p>
            <p *ngIf="this.jobFilter === 'oldest'" class="filter-message"><span>Filter</span> {{this.jobFilter}}</p>
          </ion-col>
        </ion-row>
            <!-- <img height="50" style="display: inline;" src="../../../assets/icon/suitcase-blue.svg" alt="" srcset="">
            <h1 style="display: inline; margin-left: 15px;">Jobs</h1> -->
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col style="position: relative; top: -32px;" class="ion-text-center" size="12">
        <ion-spinner *ngIf="this.filtering" name="bubbles">Filtering</ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!this.filtering" class="ion-justify-content-center">
      <ion-col size-xs="11" size-sm="10" size-md="10" size-lg="8" size-xl="6">
        <ion-row>
          <ion-col class="ion-hide-lg-up" size="12">
            <p *ngIf="this.jobFilter === 'htol'" class="filter-message"><span>Filter</span>: Pay - High to Low</p>
            <p *ngIf="this.jobFilter === 'ltoh'" class="filter-message"><span>Filter</span>: Pay - Low to High</p>
            <p *ngIf="this.jobFilter === 'newest'" class="filter-message"><span>Filter</span>: Newest</p>
            <p *ngIf="this.jobFilter === 'oldest'" class="filter-message"><span>Filter</span> {{this.jobFilter}}</p>
          </ion-col>
        </ion-row>
        <div class="spacer ion-hide-lg-up"></div>
        <ion-row class="job-section ion-justify-content-center" *ngFor="let job of allJobs">
              <ion-col push="0.5" size="1">
                <img class="company-logo" src="{{job.companyLogo}}">
              </ion-col>
              <ion-col push="0.5" style="height: 80px;">
                <h5 id="job-title">{{job.title}}</h5>
                <p id="company-name">{{job.companyName}}</p>
                <h5 id="job-posted-date">Posted: {{job.dateCreated}}</h5>
                <h5 id="job-rate">${{job.rateOfPay}}/hr</h5>
              </ion-col>
              <ion-col size="11">
                <p id="job-summary">{{job.summary}}</p>
              </ion-col>
              <ion-col pull="0" size="11">
                  <ion-button class="job-details ion-float-right" (click)="jobPage(job)">
                    Details
                  </ion-button>
                  <!-- Heart Icon Component holds the state for Favorites -->
                  <app-heart-icon [job]="job" [favoriteJobs]="favoriteJobsObj" *ngIf="favoriteJobsObj"></app-heart-icon>
              </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
