<!-- Mobile Toolbar -->
<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Add Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- Desktop Header -->
    <ion-row class="header ion-hide-md-down ion-justify-content-center"  style="margin: 4% 0% 1% 0%;">
      <ion-col size-xs="11" size-sm="10" size-md="9" size-lg="6" size-xl="6">
        <h1 style="">New Post</h1>
        <ion-button class="blue-button-small ion-float-right"  (click)="back()">
           Back
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center" style="margin-top: 1%;">
      <ion-col class="ion-text-center" size-xs="11" size-sm="10" size-md="9" size-lg="7" size-xl="6">
        <!-- Mobile Text Header -->
        <p class="message ion-hide-md-up">Please keep your content clean. In order to maintain a high standard of content, each post will have to be verified before they are added to the Posts feed. Happy posting, and be inspired!</p>

        <!-- Desktop Text Header -->
        <p class="message ion-hide-md-down">Please keep your content clean. In order to maintain a high standard of content, each post will have to be verified before they are added to the Posts feed. Happy posting, and be inspired!</p>
        <hr style="border-top: #9993 solid 2px;
        margin-bottom: 50px;">
      </ion-col>

    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="11" size-sm="10" size-md="9" size-lg="7" size-xl="6">
        <form [formGroup]="textPostForm" (ngSubmit)="textPostForm.value.post.length > 0 ? post(this.creatorName, this.creatorEmail, this.creatorProfilePicture, this.hashtags, this.textPostForm.controls.post.value, this.textPostForm.controls.title.value) : null">

          <ion-list class="line-input">
            <ion-label>Title</ion-label>
            <ion-item>
              <ion-input
              #titleChars
              autocapitalize="on"
              required
              inputmode="text"
              maxlength="100"
              formControlName="title"
              placeholder="Title"></ion-input>
            </ion-item>
            <ion-label>Hashtags</ion-label>
            <h5>Please seperate each tag with a comma ( , ). You can add up to 5 hashtags.</h5>
            <div class="hashtag" *ngFor="let i = index; let tag of hashtags">
              <p>{{tag}}</p>
              <img (click)="deleteTag(i)" src="../../../../assets/icon/close-icon.svg" alt="" srcset="">
            </div>
            <ion-item>
              <ion-input
              #hashtagRef
              autocapitalize="on"
              required
              inputmode="text"
              maxlength="100"
              clearInput="true"
              (keydown)="addHashTag($event)"
              formControlName="hashtags"
              placeholder="Type tag then press Enter">#</ion-input>
            </ion-item>
            <!-- <p class="char-limit">{{titleChars.value.length}} / 100 character limit</p> -->

            <ion-label>Post</ion-label>
            <h5>Keep your content clean. There is a filter for profane language. Administrative action will be taken against posts with too much profanity.</h5>
              <ion-item style="height: auto;">
                <ion-textarea
                  #postChars
                  rows="10"
                  auto-grow="true"
                  spellcheck="true"
                  maxlength="1000"
                  formControlName="post"
                  placeholder="What do you have to say?"
                  (keydown.control.enter)="textPostForm.value.textPost.length > 0 ? post(this.hashtags, this.creatorName, this.creatorEmail, this.creatorProfilePicture, this.textPostForm.value.textPost, this.textPostForm.value.title) : null">
                </ion-textarea>
              </ion-item>
              <p class="char-limit">{{postChars.value.length}} / 3000 character limit</p>
              <ion-button
                  class="orange-button"
                  type="submit">
                    Submit
                  </ion-button>
            </ion-list>
        </form>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center" size-lg="6" style="margin-bottom: 100px;">
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
