<!-- Mobile Toolbar -->
<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Add Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- Desktop Header -->
    <ion-row class="header ion-hide-md-down ion-justify-content-center ion-text-center" style="padding: 3% 0%;">
      <ion-col size="5">
        <h1 style="margin: 10px 0">New Post</h1>
      </ion-col>
      <ion-col push="2" size="5">
        <ion-button class="back-button"  (click)="back()">
           Back
        </ion-button>
      </ion-col>
    </ion-row>
    <!-- Horizontal Line for Desktop Header -->
    <ion-row class="ion-justify-content-center ion-hide-md-down">
      <ion-col size="7">
        <hr style="background-color: #666;" />
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center" style="margin-top: 1%;">
      <ion-col class="ion-text-center" size-xs="11" size-sm="8" size-md="8" size-lg="7" size-xl="6">
        <!-- Mobile Text Header -->
        <p class="message ion-hide-lg-up">Please keep your content clean. In order to maintain a high standard of content, each post will have to be verified before they are added to the Posts feed. Happy posting, and be inspired!</p>

        <!-- Desktop Text Header -->
        <p class="message ion-hide-md-down">Please keep your content clean. In order to maintain a high standard of content, each post will have to be verified before they are added to the Posts feed. Happy posting, and be inspired!</p>
      </ion-col>

    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="11" size-sm="8" size-md="8" size-lg="7" size-xl="6">
        <form [formGroup]="textPostForm" (ngSubmit)="textPostForm.value.textPost.length > 0 ? post(this.creatorName, this.creatorEmail, this.creatorProfilePicture, this.textPostForm.value.textPost) : null">
          <ion-row>
            <ion-col class="ion-text-center">
              <ion-item class="text-input ion-no-padding">
                <ion-textarea
                  rows="15"
                  auto-grow="true"
                  spellcheck="true"
                  wrap="soft"
                  formControlName="textPost"
                  placeholder="What do you have to say?"
                  (keydown.control.enter)="textPostForm.value.textPost.length > 0 ? post(this.creatorName, this.creatorEmail, this.creatorProfilePicture, this.textPostForm.value.textPost) : null">
                </ion-textarea>
              </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-item style="margin: 15px 0 20px;" lines="none">
                  <ion-button
                  class="orange-button"
                  type="submit">
                    Submit
                  </ion-button>
                </ion-item>
              </ion-col>
            </ion-row>
        </form>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center" size-lg="6" style="margin-bottom: 100px;">
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
