.header h1{
  font-size: 2em;
}

ion-title {
  margin: 0;
}

.message {
  font-size: 1.2em;
  padding: 10px;
}

ion-item {
  --background: none;
  --border-color: none;
  --border-radius: 5px;
  --inner-padding-end: 0;
}

.text-input {
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  padding-left: 10px;
}

ion-textarea {
  --background: white;
  --border-color: none;
}

.item-interactive {
  --border-width: 0px;
  --show-full-highlight: 0;
}

h6 {
  padding: 15px;
  line-height: 35px;
  font-weight: 400;
}