.blue-button {
  animation: none;
  opacity: unset;
  width: unset;
  height: 36px;
  margin-top: 20px;
  margin-bottom: 4px;
  position: unset;
}

ion-title {
  margin: 0;
}

.message {
  font-size: 1.2em;
  text-align: justify;
}

ion-item {
  --background: none;
  --border-color: none;
  --border-radius: 5px;
  --inner-padding-end: 0;
}

.text-input {
  box-shadow: 1px 1px 20px rgba(0,0,0,0.1);
  padding-left: 10px;
  border: 1px solid rgba(0,0,0,0.1);
}

@media only screen and (max-width: 576px) {
  .text-input {
    box-shadow: none;
    background: #edf3f8;
  }

  ion-textarea {
    background: #edf3f8;
  }
}

ion-textarea {
  --background: white;
  --border-color: none;
  padding: 5px 0 0 10px;
  font-size: 1em;
}

.item-interactive {
  --border-width: 0px;
  --show-full-highlight: 0;
}

h6 {
  padding: 15px;
  line-height: 35px;
  font-weight: 400;
}