<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Change School/Grade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="ion-text-center">
      
     <!-- Desktop Header -->
     <ion-row style="padding-top: 80px; margin-bottom: 40px;" class="ion-hide-lg-down ion-justify-content-center">
      <ion-col size-xs="11" size-sm="10" size-md="10" size-lg="8" size-xl="6">
        <ion-toolbar class="desktop-toolbar">
              <ion-buttons slot="start">
                  <h1>Change Grade & School</h1>
              </ion-buttons>
              <ion-buttons slot="end">
                <ion-button class="back-button" (click)="goBack()">
                  Back
                </ion-button>
              </ion-buttons>
        </ion-toolbar>
            <!-- <img height="50" style="display: inline;" src="../../../assets/icon/suitcase-blue.svg" alt="" srcset="">
            <h1 style="display: inline; margin-left: 15px;">Jobs</h1> -->
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center" size-xs="12" size-sm="10" size-md="8" size-lg="6" size-xl="6">
        <h6 class="text-header">{{grade}}, {{school}}</h6>
      </ion-col>
    </ion-row>
      <ion-row class="ion-justify-content-center">
          <ion-col size-xs="11" size-sm="10" size-md="8" size-lg="4">
            <form [formGroup]="changeSchool" (ngSubmit)="confirmChangedSchool(
              this.activeEmail,
              this.changeSchool.controls.newSchool.value,
              this.changeSchool.controls.newGrade.value,
              this.changeSchool.controls.password.value
            )" >


            <ion-list class="line-input">
                <!-- Email -->
                <ion-item>
                    <ion-input
                      required
                      placeholder="Name of new school"
                      formControlName="newSchool"
                      type="">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-select
                      required  
                      formControlName="newGrade"   placeholder="Grade">
                        <ion-select-option value="7th Grade">Middle School - 7th Grade</ion-select-option>
                        <ion-select-option value="8th Grade">Middle School - 8th Grade</ion-select-option>
                        <ion-select-option value="High School - Freshmen">High School - Freshmen</ion-select-option>
                        <ion-select-option value="High School - Sophmore">High School - Sophmore</ion-select-option>
                        <ion-select-option value="High School - Junior">High School - Junior</ion-select-option>
                        <ion-select-option value="High School - Senior">High School - Senior</ion-select-option>
                        <ion-select-option value="Collge - Freshmen">College - Freshmen</ion-select-option>
                        <ion-select-option value="Collge - Sophmore">College - Sophmore</ion-select-option>
    
                      </ion-select>
                </ion-item>
                <ion-item>
                    <ion-input
                      required
                      placeholder="Password"
                      formControlName="password"
                      type="password">
                    </ion-input>
                </ion-item>
              </ion-list>
                <ion-button type="submit" class="orange-button" style="width: unset;">CHANGE SCHOOL</ion-button>
              </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
