<ion-header style="display: none;">
</ion-header>

<ion-content id="background">
  <ion-grid>
    <ion-row class="ion-justify-content-center full-page" style="margin: 15% 0% 3% 0%;">
      <ion-col size-xs="11" size-sm="10" size-md="7" size-lg="6" size-xl="5" class="ion-text-center">
        <img src="../../../../../../assets/icon/Green-Checked.svg">
        <p>Thank you for signing up with Find Your Future! You can now login to your account</p>
        <ion-button (click)="goToLogin()">
          Done
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

