<ion-header style="display: none;">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="background">
  <ion-grid fixed  class="ion-text-center">
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-icon class="check-icon" src="../../../assets/icon/white-check.svg" ></ion-icon>
        <h6>Thank you for signing up with United Way! You can now login to your account</h6>
      </ion-col>
    </ion-row>
  <ion-button (click)="goToLogin()" class="thank-you-button">LOGIN</ion-button>
  </ion-grid>
</div>
</ion-content>

