<ion-header>
  <ion-toolbar>
    <ion-title>
      View :
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        All
      </ion-button>
      <ion-button (click)="following()">
        Followed
      </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row style="margin: 20px 0px 60px 0px;">
        <ion-col size="2" offset="0.5">
          <div style="height: 50px; width: 50px; background: #222; border-radius: 50px;"></div>
            <!-- <ion-img [src]="image" style="background: #999; border-radius: 100px;"></ion-img> -->
        </ion-col>
        <ion-col size="7">
            <h6>Name</h6>
        </ion-col>
        <ion-col size="2" offset="0.5">
            <h6 style="opacity: 0.4">Date</h6>
        </ion-col>

      <!-- Post Content -->
      <ion-col style="margin-top: 20px; height: 200px;" size="11" offset="0.5">

          <p style="font-size: 1em; line-height: 25px;">If you study every single day, you will be rich before you know it. If you study every single day, you will be rich before you know it. If you study every single day, you will be rich before you know it. If you study every single day, you will be rich before you know it……..</p>
      </ion-col>

      <!-- Post Actions -->
      <ion-col style="margin-top: 10px; height: 50px;" size="11" offset="0.5">
          <ion-toolbar style="--background: none;">
              <ion-buttons slot="end">
                <ion-button style="font-size: 0.8em; color: #555;">
                  Follow
                </ion-button>
                <ion-button (click)="postPage()" style="font-size: 0.8em; color: #555;">
                  Comments (0)
                </ion-button>
                </ion-buttons>
          </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>
   <!-- fab placed to the top end -->
   <ion-fab (click)="addPost()" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
