<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>
      Posts
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="following()">
          <ion-icon name="chatboxes"></ion-icon>
        Followed
      </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>

  <ion-grid no-padding>

    <!-- Post -->
    <ion-row style="margin: 20px 0px 50px 0px;" *ngFor="let post of allPosts">
        <ion-col size="3" offset="0.5">
          <div style="height: 45px; width: 45px; background: #222; border-radius: 50px;"></div>
            <!-- <ion-img [src]="image" style="background: #999; border-radius: 100px;"></ion-img> -->
        </ion-col>
        <ion-col size="6">
            <h6 style="font-size: 0.8em;">{{post.creatorName}}</h6>
        </ion-col>
        <ion-col size="2" offset="0.5">
            <h6 style="opacity: 0.4; font-size: 0.8em;">{{date}}</h6>
        </ion-col>

      <!-- Post Content -->
      <ion-col (click)="postPage(post)" style="margin-top: 20px; height: 40vh; padding: 20px; background: rgba(200,200,200,0.2)">

          <p style="font-size: 0.65em; line-height: 25px;">{{post.post}}</p>
      </ion-col>

      <!-- Post Actions -->
      <ion-col style="margin-top: 10px; height: 50px;" size="12">
          <ion-toolbar class="post-toolbar" style="--background: none;">
              <ion-buttons slot="end">
                <!-- Icons -->
                <ion-button>
                    <app-follow-icon [post]="post" [userEmail]="userEmail"></app-follow-icon>
                  Follow
                </ion-button>
                <ion-button (click)="postPage(post)">
                <ion-icon style=" position: relative; left: -5px;"  name="chatboxes" ></ion-icon>
                ({{post.comments.length}})
                </ion-button>
                </ion-buttons>
          </ion-toolbar>

          <hr/>

      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Floating Action Button -->
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" style="color: #FFB351"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light" (click)="addTextPost()">
        <p>Add Post</p>
      </ion-fab-button>
      <ion-fab-button color="light">
        <p>Add Photo</p>
      </ion-fab-button>
      <ion-fab-button color="light">
        <p>Add Video</p>
      </ion-fab-button>
      <ion-fab-button color="light">
        <p>Add Link</p>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
