.post {
  padding: 20px 0;
  margin-bottom: 90px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  font-size: 1.2em;
  line-height: 35px;
}

.post-content {
  font-size: 1.05em;
}

.user-details {
  position: fixed;
  background: none;
  height: 200px;
}

#username {
  color: white;
  font-size: 1em;
  font-weight: 600;
  position: relative;
  left: 10px;
  opacity: 0;
  animation: slide-up 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}


ion-toolbar {
  --background: none;
  height: 60px;

  p {
    color: #000;
    font-size: 1.2em;
  }
}

form {
  width: 95%;
  border-top: 1px solid rgba(50, 50, 50, 0.2);
}

.comment {
  border: 1px solid #005191;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
  padding-left: 10px;
}

.comment-post-button {
  --background: linear-gradient(#0672c4, #005191);
  height: 30px;
  margin-top: 20px;
  opacity: 0;
  width: 80px;
  transform: 0.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: slide-up 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

ion-item {
  --backsground: none;
}

.following-button {
  opacity: 1;
  --background: rgba(255,255,255,0.1);
  --color: white;
  --border-style: solid;
  --border-width: 1px;
  --border-color: white;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  width: 100px;
  height: 40px;
  font-size: 0.6em;
  font-weight: 600;
}

.followed-button {
  --color: white;
  --background: linear-gradient(#0672c4, #005191);
  font-weight: 800;
  display: block;
  width: 200px;
  margin-top: 20px;
}

.add-button {
  --color: white;
  --background: linear-gradient(#24d8a8, #1baf88);
  font-weight: 800;
  display: block;
  width: 200px;
  margin-top: 20px;
}

.comment-input {
  background: rgba(247, 248, 248, 0.5);
  height: auto;
  margin: 30px 0 60px 0;
  box-shadow: none;
  border: 1px solid rgba(0, 81, 145,0.4);
  border-radius: 5px;
  padding-left: 10px;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.comment-input:hover {
  background: rgba(247, 248, 248, 0.5);
  height: auto;
  margin: 50px 0 80px 0;
  box-shadow: 1px 1px 3px #999;
  border: 1px solid rgba(0, 81, 145, 1);
  border-radius: 5px;
  padding-left: 10px;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.comment-input-mobile {
  background: rgba(247, 248, 248, 0.5);
  height: auto;
  margin: 30px 0 60px 0;
  box-shadow: none;
  padding-left: 10px;
  border: 1px solid rgba(0, 81, 145,0.4);
  border-radius: 5px;
  transition: 1s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.comment-input-mobile:focus {
  background: rgba(247, 248, 248, 0.5);
  height: 100px;
  margin: 30px 0 150px 0;
  box-shadow: 1px 1px 3px #999;
  border: 1px solid rgba(0, 81, 145, 1);
  border-radius: 5px;
  transition: 1s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


ion-fab-button {
  --background: #797;
  --background-focused: #FFB351;
  --background-hover: #FFB351;
  --background-activated: #FFB351;
  --color-focused: white;
  --color-hover: white;
  --color-activated: white;
  position: relative;
  bottom: 50px;
  right: 10px;
  // animation: add-post-button-tap .5
}

@keyframes slide-up {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes username-slide-in {
  0% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes add-post-button-tap {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}