 <!-- Mobile Toolbar -->
<ion-header no-border class="ion-hide-lg-up">
  <ion-toolbar>
    <ion-icon style="color: white; font-size: 1.5em; margin-left: 16px;" slot="start" name="newspaper-outline"></ion-icon>
    <ion-title>
      <img class="profile-picture" src="{{userProfilePicture}}" alt="">
      <!-- {{userFullName}} -->
    </ion-title>
    <ion-buttons slot="end">
      <!-- Notifications -->
      <ion-button (click)="notifications()">
        <ion-icon class="header-icons" src="../../assets/icon/notifications-icon.svg"></ion-icon>
        <span style="color: #ffb351; height: 25px; width: 25px; border-radius: 100px; position: relative; font-size: 1.4em; font-weight: 600;">{{notificationsLength}}</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- fab placed to the bottom end -->
  <ion-fab [@inOutAnimation] id="fab-wrapper" class="ion-hide-lg-up" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button id="add-post-button" (click)="addPost()">
      <ion-icon name="add" size="large"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- Spinner -->
<ion-spinner *ngIf="searching" name="crescent"></ion-spinner>

  <!-- Desktop -->
  <ion-grid class="ion-hide-lg-down">
    <ion-row style="margin-top: 40px;" class="ion-justify-content-center">
      <ion-col pull-lg="1" size-md="7.5" size-lg="6" pull-xl="1" size-xl="4">
        <ion-searchbar
          class="searchbar-desktop"
          animated="true"
          (keyup.enter)="searchLoading()"
          cancelButtonText=""
          showCancelButton="true"
          placeholder="Search Posts by Hashtags"
          (ionFocus)="searchBarFocus()"
          (ionChange)="search($event)">
          <span class="hash-desktop">#</span>
        </ion-searchbar>
          <p *ngIf="this.postFilter === 'mostc'" class="filter-message"><span>Filter</span>: Most Comments</p>
          <p *ngIf="this.postFilter === 'mostu'" class="filter-message"><span>Filter</span>: Most Upvotes</p>
          <p *ngIf="this.postFilter === 'mostf'" class="filter-message"><span>Filter</span>: Most Followers</p>
          <p *ngIf="this.postFilter === 'newest'" class="filter-message"><span>Filter</span>: Newest</p>
          <p *ngIf="this.postFilter === 'oldest'" class="filter-message"><span>Filter</span> {{this.postFilter}}</p>
        <p style="font-size: 0.7em;">
          Please seperate each tag with a comma ( , ).<br>
          Example: "Computers, Science, Technology"<br>
          <span style="color: #e4405f">You can choose up to five hashtags.</span>
        </p>
      </ion-col>
      <ion-col  size-md="7.5" pull-lg="1" size-lg="3" pull-xl="1.4" size-xl="2">
        <ion-button class="orange-button ion-float-right" style="display: inline-block; width: 72px; font-size: 1.2em; --background: none; --color: white;" (click)="filterMenu()">
          <ion-icon slot="start" style="font-size: 1.3em;" color="primary" name="filter"></ion-icon>
        </ion-button>
        <ion-button class="orange-button ion-float-right" style="display: inline-block; width: 72px; font-size: 0.7em;" (click)="searchLoading()">
          Search
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col style="position: relative; top: -32px;" class="ion-text-center" size="12">
        <ion-spinner *ngIf="this.filtering" name="bubbles">Filtering</ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!this.filtering" class="ion-justify-content-center">
      <!-- Posts -->
      <ion-col style="border-top: 1px solid rgba(153, 153, 153, 0.397); padding: 18px 0px;"  size-md="7.5" size-lg="9" size-xl="6">
        <div class="post" *ngFor="let post of allPosts" style="margin-top: 1%;">
          <!-- Profile Header -->
          <ion-row>
                <!-- Profile Picture -->
                <ion-col class="ion-text-center" push="0.2" size="1">
                  <img src="{{post.creatorProfilePicture}}" style="border-radius: 100px; height: 35xpx; width: 35px;">
                </ion-col>
                <!-- Post Creator's Name -->
                <ion-col push="0.2" size="10">
                  <p class="post-name">{{post.creatorName}}</p>
                  <p class="post-date">{{this.formatDistanceToNow(post.date)}}</p>
                </ion-col>
          </ion-row>
          <!-- Post Content -->
          <ion-row class="ion-justify-content-center">
            <!-- (click)="postPage(post)"  -->
            <!-- 1080x1350 -->
            <ion-col size="11">
              <p class="post-title">{{post.title}}</p>
              <div class="hashtags">
                <p class="hashtag" *ngFor="let tag of post.hashtags">
                  #{{tag}}
                </p>
              </div>
              <p class="no-tags" *ngIf="post.hashtags.length === 0">
                No #hashtags for this post
              </p>
              <p style="border-top: 1px solid #999; padding: 18px 0px;"  [ngClass]="{'show-less': showShortDesciption}" class="post-content">{{post.post}}</p>
              <span class="ellipsis" *ngIf="post.post.length > 400 && showShortDesciption">...</span>
              <button *ngIf="post.post.length > 400" class="show-more-or-less-button" type="button" (click)="alterDescriptionText(post.post)">
                {{ showShortDesciption ? 'Read More': 'Hide' }}
              </button>
            </ion-col>
          </ion-row>
          <!-- Comment -->
          <ion-row class="ion-justify-content-center">
            <ion-col size="11.5">
              <ion-item  style="height: auto;" lines="none">
                <form (ngSubmit)="comment(post._id, this.userFullName, this.userEmail, this.userProfilePicture, this.commentForm.value)" [formGroup]="commentForm">
                  <ion-textarea
                      class="comment-input-mobile"
                      autogrow="true"
                      autocapitalize="true"
                      rows="5"
                      spellcheck="true"
                      wrap="soft"
                      type="text"
                      #postComment
                      placeholder="Add a Comment"
                      formControlName="comment">
                  </ion-textarea>
                  <!-- Comment Post Button -->
                  <ion-button
                    style="float: right;"
                    *ngIf="postComment.value.length >= 2;"
                    class="comment-post-button"
                    name="send"
                    type="submit">Post Comment
                  </ion-button>
                </form>
              </ion-item>
            </ion-col>
          </ion-row>
          <!-- Post Buttons -->
          <ion-row class="ion-justify-content-center">
            <!-- Upvote & Downvote-->
            <ion-col size="8">
              <app-up-down-vote-buttons [postID]="post._id" [postEmail]="post.creatorEmail"></app-up-down-vote-buttons>
            </ion-col>
            <!-- Follow & Comment -->
            <ion-col size="3">
              <app-follow-comment-buttons [postID]="post._id" [commentLength]="post.comments.length"></app-follow-comment-buttons>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>

      <!-- Sidebar with User Info -->
      <ion-col push="0.5" size="2">
        <ion-row class="user-details" style="position: fixed; top: 36px;">
          <ion-col size="12">
            <img src="{{userProfilePicture}}" style="border-radius: 100px; height: 55px; width: 55px;">
            <h6 style="font-size: 1.2em;">{{userFullName}}</h6>
            <ion-button class="my-post-button"  (click)="myPosts()">
              My Posts
            </ion-button>
            <ion-button class="following-button" (click)="following()">
              Following ({{followedPostCount}})
            </ion-button>
            <ion-button class="add-button"  (click)="addPost()">
              Add Post
            </ion-button>
            <ion-button style="--background: none; --background: none; position: relative; top: 16px;" (click)="notifications()">
              <ion-icon style="font-size: 1.5em;" src="../../assets/icon/notifications-icon-blue.svg"></ion-icon>
              <span style="color: #e4405f; height: 25px; width: 25px; border-radius: 100px; position: relative; font-size: 1.4em; font-weight: 600;">{{notificationsLength}}</span>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Mobile -->
  <ion-grid class="ion-hide-lg-up">
    <!-- Filter Toolbar -->
    <ion-row class="filter-toolbar-wrapper ion-hide-lg-up ion-justify-content-center">
      <ion-col size-xs="11" size-sm="10" size-md="10" size-lg="8" size-xl="6">
        <ion-toolbar class="filter-toolbar">
          <ion-buttons slot="start">
            <p *ngIf="this.postFilter === 'mostc'" class="filter-message"><span>Filter</span>: Most Comments</p>
            <p *ngIf="this.postFilter === 'mostu'" class="filter-message"><span>Filter</span>: Most Upvotes</p>
            <p *ngIf="this.postFilter === 'mostf'" class="filter-message"><span>Filter</span>: Most Followers</p>
            <p *ngIf="this.postFilter === 'newest'" class="filter-message"><span>Filter</span>: Newest</p>
            <p *ngIf="this.postFilter === 'oldest'" class="filter-message"><span>Filter</span> {{this.postFilter}}</p>
          </ion-buttons>
          <ion-buttons slot="end">
              <ion-button (click)="filterMenu()">
                <ion-icon class="filter-icon" slot="start" name="filter"></ion-icon>
              </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
    </ion-row>
    <!-- Followed Posts and My Posts -->
    <ion-row class="top-button-wrapper ion-hide-lg-up ion-justify-content-center">
      <div class="spacer"></div>
      <ion-col class="ion-text-left" push-xs="1" size-xs="12" size-sm="11" size-md="10">
        <ion-button class="toolbar-orange-button" (click)="following()">
          <!-- <ion-icon class="header-icons" src="../../assets/icon/following.svg"></ion-icon> -->
          Following ({{this.followedPostCount}})
        </ion-button>
        <!-- My Posts -->
        <ion-button class="toolbar-orange-button" (click)="myPosts()">
          <!-- <ion-icon class="header-icons" name="list"></ion-icon> -->
          My Posts ({{this.myPostsLength}})
        </ion-button>
      </ion-col>
    </ion-row>
    <!-- Posts -->
    <ion-row class="ion-justify-content-center">
      <ion-col *ngIf="noPosts" size-xs="12" size-sm="11" size-md="10" size-lg="8" size-xl="5">
        <p>No Posts with those #Hashtags. Please try again.</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <!-- Posts -->
      <ion-col style="padding: 0; position: relative; top: -5px;" size-xs="12" size-sm="11" pull-md="1.5" size-md="8" size-lg="8" size-xl="5">
        <div class="post" *ngFor="let post of allPosts" style="margin-top: 1%;">
      <!-- Profile Header -->
      <ion-row class="ion-justify-content-center">
            <!-- Profile Picture -->
            <ion-col size="1">
              <img src="{{post.creatorProfilePicture}}" style="background: #999; border-radius: 100px; height: 35xpx; width: 35px;">
            </ion-col>

            <!-- Post Creator's Name -->
            <ion-col push="0.2" size="10">
              <p class="post-name">{{post.creatorName}}</p>
              <p class="post-date">{{this.formatDistanceToNow(post.date)}}</p>
            </ion-col>

      </ion-row>
      <!-- Post Content -->
      <ion-row class="ion-justify-content-center">
        <!-- (click)="postPage(post)"  -->
        <!-- 1080x1350 -->
        <ion-col size="11">
          <p class="post-title">{{post.title}}</p>
          <div class="hashtags">
            <p class="hashtag" *ngFor="let tag of post.hashtags">
              #{{tag}}
            </p>
          </div>
          <p class="no-tags" *ngIf="post.hashtags.length === 0">
            No #hashtags for this post
          </p>
          <p [ngClass]="{'show-less': showShortDesciption}" class="post-content">{{post.post}}</p>
          <span class="ellipsis" *ngIf="post.post.length > 400 && showShortDesciption">...</span>
          <button *ngIf="post.post.length > 400" class="show-more-or-less-button" type="button" (click)="alterDescriptionText(post.post)">
            {{ showShortDesciption ? 'Read More': 'Hide' }}
          </button>
        </ion-col>
      </ion-row>
      <!-- Comment -->
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <ion-item  style="height: auto;" lines="none">
            <form (ngSubmit)="comment(post._id, this.userFullName, this.userEmail, this.userProfilePicture, this.commentForm.value)" [formGroup]="commentForm">
              <ion-textarea
                (ionBlur)="this.commentBlur()"
                (ionFocus)="this.commentFocus()"
                class="comment-input-mobile"
                autogrow="true"
                autocapitalize="true"
                rows="1"
                spellcheck="true"
                wrap="soft"
                type="text"
                #postComment
                placeholder="Add a Comment"
                formControlName="comment">
              </ion-textarea>

              <!-- Textarea that appears after User focuses on Comment Input -->
              <!-- Comment Post Button -->
              <ion-button
                style="float: right;"
                *ngIf="postComment.value.length >= 2;"
                class="comment-post-button"
                name="send"
                type="submit">Post Comment
              </ion-button>
            </form>
          </ion-item>
        </ion-col>
      </ion-row>
      <!-- Post Buttons -->
      <ion-row class="ion-justify-content-center">
        <!-- Upvote & Downvote-->
        <ion-col size="8">
          <app-up-down-vote-buttons [postID]="post._id" [postEmail]="post.creatorEmail"></app-up-down-vote-buttons>
        </ion-col>
        <!-- Follow & Comment -->
        <ion-col size="3">
          <app-follow-comment-buttons [postID]="post._id" [commentLength]="post.comments.length"></app-follow-comment-buttons>
        </ion-col>
      </ion-row>
        </div>
      </ion-col>
     </ion-row>
    <!-- Spacer -->
    <div style="margin-bottom: 200px;" ></div>
  </ion-grid>

</ion-content>

<ion-footer class="ion-hide-lg-up">
  <!-- <ion-textarea
    class="comment-input-mobile-focused"
    autogrow="true"
    autocapitalize="true"
    rows="1"
    spellcheck="true"
    wrap="soft"
    type="text"
    #postComment
    placeholder="Add a Comment">
  </ion-textarea> -->
  <div
  id="searchbar-wrapper">
  <!-- (keyup)="addHashTag($event)"-->
    <ion-searchbar
      class="searchbar"
      animated="true"
      searchIcon="none"
      cancelButtonText=""
      showCancelButton="true"
      placeholder="Search Posts by Hashtags"
      (ionFocus)="searchBarFocus()"
      (ionChange)="search($event)">
      <span class="hash">#</span>
    </ion-searchbar>
    <div id="search-options">
      <p>You can choose up to five hashtags.
        <br>Please seperate each tag with a comma ( , ).
        <br>Example: "Computers, Science, Technology"</p>
      <div>
        <ion-button
        (click)="searchLoading()" class="search-button">
          Search
        </ion-button>
        <ion-button
        (click)="searchBarBlur()" class="cancel-button">
          Cancel
        </ion-button>
      </div>
    </div>
  </div>
</ion-footer>

