.fair-page-toolbar-lg {
  --background: rgba(245,245,245,1);

  ion-title {
    padding-left: 75px;
    font-size: 1.5em;
  }

  .sub-title {
    padding-left: 75px;
    font-size: 1em;
    color: #999;
  }
}

.question {
  padding: 10px;
  background: white;
}