<ion-header>
  <ion-toolbar>
    <ion-title>new-password</ion-title>
    <ion-button (click)="cancel()" id="cancel-button" slot="end">
        cancel
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="10" offset="1">
          <h4>Please enter your new password.</h4>
          <form [formGroup]="newPassword">
            <ion-item>
              <ion-input formControlName="newPassword" type="text" placeholder="enter password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input formControlName="newPassword" type="text" placeholder="re-type password"></ion-input>
            </ion-item>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <button (click)="goToConfirmPage()" id="next-button">SET NEW PASSWORD</button>
