<ion-header style="display: none;">
</ion-header>

<ion-content>
    <ion-grid class="ion-text-center" style="margin-top: 10%;">
      <ion-row>
        <ion-col size-lg="6" offset-lg="3">
          <h6 class="text-header">Please enter your new password.</h6>
          <form [formGroup]="newPasswordForm" (ngSubmit)="goToConfirmPage()" >
            <ion-list class="line-input">

            <ion-item>
              <ion-input placeholder="Password" formControlName="newPassword" type="password"></ion-input>

                  <ion-button *ngIf="!passwordsMatch" class="badPassword" item-right>
                     <ion-icon style="color: #FF443B;" name="close"> </ion-icon>
                  </ion-button>

                  <ion-button *ngIf="passwordsMatch" class="goodPassword" item-right>
                      <ion-icon style="color: #21df82;" name="checkmark"> </ion-icon>
                   </ion-button>
            </ion-item>


            <ion-item>
              <ion-input placeholder="Re-type Password" formControlName="reTypeNewPassword" type="password"></ion-input>

                  <ion-button *ngIf="!passwordsMatch" class="badPassword" item-right>
                     <ion-icon style="color: #FF443B;" name="close"> </ion-icon>
                  </ion-button>

                  <ion-button *ngIf="passwordsMatch" class="goodPassword" item-right>
                      <ion-icon style="color: #21df82;" name="checkmark"> </ion-icon>
                   </ion-button>
            </ion-item>


            <ion-button type="submit" class="orange-button" >NEXT</ion-button><br>
            <ion-button (click)="cancel()" class="cancel-button" slot="end">
                cancel
            </ion-button>
          </ion-list>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
