<ion-header>
    <ion-toolbar class="ion-hide-md-up">
      <ion-title>Register for {{fair}} as Partner</ion-title>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>


    <ion-toolbar class="ion-hide-sm-down fair-page-toolbar-lg">
        <ion-title color="primary">Register for {{fair}} as Partner</ion-title>
        <ion-button (click)="goBack()" class="orange-button" style="width: 100px; --background: #005191; --color: white;" slot="end">Go Back
        </ion-button>
      </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-grid  class="ion-text-center">
      <ion-row class="ion-justify-content-right register-wrapper">

        <ion-col size="5" offset="2">
         <form [formGroup]="registerForm" (ngSubmit)="register(this.registerForm.value)">
           <ion-list class="line-input">
             <ion-item>
               <ion-input
                #autoFucousInput
                required
                inputmode="text"
                formControlName="name"
                type="text"
                placeholder="Contact First & Last Name"></ion-input>
             </ion-item>
             <ion-item>
               <ion-input
                #autoFucousInput
                required
                inputmode="email"
                formControlName="email"
                type="text"
                placeholder="Contact Email"></ion-input>
             </ion-item>

                  <!-- Email Validation-->
                  <div class="validation-errors">
                      <ng-container *ngFor="let validation of validationMessasges.email">
                        <div class="error-message"
                        *ngIf="registerForm
                          .get('email')
                          .hasError(validation.type) && (registerForm.get('email')
                          .dirty || registerForm.get('email').touched)">
                          {{ validation.message }}
                        </div>
                      </ng-container>
                    </div>

             <ion-item>
               <ion-input
                required
                inputmode="phone"
                formControlName="phone"
                type="text"
                maxlength='10'
                placeholder="Phone (xxx) xxx - xxxxx"></ion-input>
             </ion-item>

                <ion-item>
                  <ion-input
                   required
                   formControlName="logo"
                   type="file"
                   placeholder="Logo"></ion-input>
                </ion-item>

                    <ion-item>
                      <ion-input
                       required
                       formControlName="company"
                       type="text"
                       placeholder="Company/Organization"></ion-input>
                    </ion-item>

             <ion-item>
                <ion-radio-group
                required
                formControlName="lunch">
                    <ion-list-header>
                      <ion-label>Lunch</ion-label>
                    </ion-list-header>
                    <ion-item>
                      <ion-label>Apple</ion-label>
                      <ion-radio slot="start" color="success" value="apple"></ion-radio>
                    </ion-item>

                    <ion-item>
                      <ion-label>Grape</ion-label>
                      <ion-radio slot="start" color="tertiary" value="grape" checked></ion-radio>
                    </ion-item>

                    <ion-item>
                      <ion-label>Cherry</ion-label>
                      <ion-radio slot="start" color="danger" value="cherry"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
             </ion-item>

             <ion-item>
                <ion-textarea
                formControlName="colleagues" rows="6" cols="20" placeholder="Enter any of your colleagues names here, each seperated by a comma ( , )"></ion-textarea>
              </ion-item>
           </ion-list>

           <ion-col size="12" class="ion-text-center">
            <ion-button class="orange-button" type="submit">Register</ion-button>
           </ion-col>

         </form>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-content>