ion-fab-button {
  --background: linear-gradient(#4dc066, #2da847);
  --background-hover: none;
  position: relative;
  bottom: 50px;
  right: 20px;
  transform: scale(1.25);
  ion-icon {
    font-size: 3.2em;
  }
}

.fair-header {
  height: auto;
  padding: 30px 0;
  // background: lightcyan;
}

h1 {
  color: #005191;
  margin-bottom: 20px;
}

.usertype {
  text-transform: capitalize;
  background: #faa71b;
  width: auto;
  color: white;
  padding: 5px 0px 5px 15px;
  border-radius: 5px;
  margin-bottom: 0px;
}

.fair-date {
  ion-icon {
    font-size: 2.2em;
    position: relative;
    top: 10px;
  }
}

.fair-address {
  border-bottom: 1px solid #999;
  padding-bottom: 30px;
  position: relative;
  top: -20px;
  ion-icon {
    font-size: 2.2em;
    position: relative;
    top: 10px;
  }
}

.fair-summary {
  padding: 10px;
  font-size: 0.9em;
  line-height: 1.3em;
}

#info {
  background: #edf3f8;
}

.agenda {
  padding: 1.5em 2em 3em 2em;
  // background: lightgray;
  opacity: 0;
  height: auto;
  transition: 0.5s;
  animation: popin 500ms ease forwards;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.parking {
  padding: 1.5em 2em 3em 2em;
  // background: lightgreen;
  height: auto;
  opacity: 0;
  transition: 0.5s;
  animation: popin 1s ease forwards;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.faq {
  padding: 1.5em 2em 3em 2em;
  // background: lightcoral;
  height: auto;
  opacity: 0;
  transition: 0.5s;
  animation: popin 1s ease forwards;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.booth-partners {
  padding: 1.5em 2em 3em 2em;
  border-bottom: 1px solid rgb(221, 221, 221);
  // h1 {
  //   margin-top: 100px;
  //   margin-bottom: 20px;
  // }

  img {
    height: 80px; width: 80px;
    display: inline-block;
    border-radius: 100px;
    position: relative;
    top: 10px;
  }

  .partner-link {
    background: #edf3f8;
    color: #005191;
    padding: 8px 13px;
    font-weight: 500;
    border-radius: 5px;
    position: relative;
    top: 30px;
    width: 100px;
    text-decoration: none;
  }

  .organization {
    background: #faa71b;
    border-radius: 5px;
    margin-bottom: 25px;
    color: white;
    padding: 0.3em;
  }

  .partner-description{
    position: relative;
    top: -10px;
    font-size: 0.9em;
    line-height: 1.3em;
  }

  .divider {
    width: 100px;
    height: 1.5px;
    background: rgb(199, 198, 198);
    float: right;
  }

  // background: lightblue;
  height: auto;
  opacity: 0;
  transition: 0.5s;
  animation: popin 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

.survey {
  padding: 1.5em 2em 3em 2em;
  // background: lightgrey;
  height: auto;
  opacity: 0;
  transition: 0.5s;
  animation: popin 1s ease forwards;

  .divider {
    width: 100px;
    height: 1.5px;
    background: rgb(199, 198, 198);
    float: right;
  }

  .survey-validation {
    background: #edf3f8;
    padding: 0.8em;
    margin-top: 30px;
  }
}

.agenda-item {
  margin: 0px 0px 15px 0px;
  position: relative;
  left: -15px;
  ion-badge {
    font-size: 1em;
    width: 4em;
    padding: 12px;
  }
  h2{
    font-size: 1.3em;
  }
}


ion-col {
  // margin-bottom: 100px;
}

h5 {
  color: #666;
}

ion-radio-group{
  h3 {
    margin-top: 80px;
  }
}

.green-button {
  margin-top: 80px;
}

.off{
  visibility: hidden;
  opacity: 0;
  animation: popin-reverse 1s ease forwards;
}


@keyframes popin {
  0% {
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes popin-reverse {
  0% {
    transform: translateX(0%);
  }

  100% {
    opacity: 1;
    transform: translateX(-100%);
  }
}