<ion-header style="display: none;">
  <ion-toolbar>
    <ion-title>{{usertype}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
    <ion-row>
      <ion-col class="fair-header" size-xs="12" size-sm="10" size-md="8" size-lg="8">
        <div style="padding: 10px;">
          <h1>{{fair}}</h1>
          <h5>Date</h5>
          <h5>Address</h5>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia sit recusandae qui, fugiat, delectus eum excepturi officiis vitae eveniet maiores sunt, nisi esse voluptatibus itaque corporis sint! Laborum, pariatur culpa!</p>
        </div>
      </ion-col>
      <ion-col class="ion-text-center" size-xs="12" size-sm="10" size-md="8" size-lg="8">
        <ion-button class="green-button" style="margin: 0 auto;" (click)="register()">
          Register
        </ion-button>
      </ion-col>
      <ion-col class="agenda" size-xs="12" size-sm="10" size-md="8" size-lg="8">
        <h2>Agenda</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
