<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <p class="toolbar-title">Back</p>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="this.getYPosition($event)">

  <!-- fab placed to the bottom start -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="register(this.id)">

      <!-- <ion-icon name="add" size="large"></ion-icon> -->
      <ion-icon src="../../assets/icons/register-icon.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Info & Agenda -->
  <div id="info">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="fair-header" size-xs="10" size-sm="10" size-md="8" size-lg="8">
          <div style="padding: 10px;">
            <h1 class="fair-name">{{fairName}}</h1>
            <h2 class="usertype">{{usertype}}</h2>
            <h5 class="fair-date">
              <ion-icon slot="start" src="../../assets/icons/time-icon.svg"></ion-icon>{{date}}</h5>
            <h5 class="fair-address">
              <ion-icon slot="start" src="../../assets/icons/location-icon.svg"></ion-icon>{{address}}, {{city}}, {{state}}, {{zip}}</h5>
            <p class="fair-summary">{{summary}}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Agenda -->
  <div>
    <ion-row class="ion-justify-content-center">
      <ion-col class="agenda" size-xs="10" size-sm="10" size-md="8" size-lg="8">
        <h1>Agenda</h1>
        <ion-list>
          <ion-item class="agenda-item" *ngFor="let item of agenda" lines="">
            <ion-badge slot="start">{{item.time}}</ion-badge>
            <ion-label>
              <h2>{{item.title}}</h2>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </div>

  <!-- Parking -->
  <div #parking id="parking" [className]="parkingPopIn ? 'parking' : 'off'">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-text-center" size="12">
          <img style="width: 100%;" src="../../../../../assets/icons/parking-placeholder.svg" alt="" srcset="">
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <!-- FAQ -->
  <div #faq id="faq" [className]="faqPopIn ? 'faq' : 'off'">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col  size-xs="11" size-sm="10" size-md="8" size-lg="8">
          <ion-list>
            <h3 style="margin-bottom: 35px;">Frequently Asked Questions</h3>
            <div *ngFor="let question of faqInfo">
              <h5>{{question.question}}</h5>
              <p>{{question.answer}}</p>
              <div class="divider"></div>
            </div>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Booth Partners -->
  <div #boothPartners id="boothPartners" [className]="boothPartnersPopIn ? 'booth-partners' : 'off'">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size-xs="11" size-sm="10" size-md="8" size-lg="8">
          <h1 style="margin-top: 40px;">Booth Partners</h1>
          <div *ngFor="let partner of partners">
            <div *ngIf="partner.verified === true">
              <ion-row style="margin-bottom: 80px;">
                <ion-col size="4">
                  <img src="{{partner.logo}}" alt="">
                  <a class="partner-link" href="http://www.google.com">Website</a>
                </ion-col>
                <ion-col size="7">
                  <h3 class="organization">{{partner.organization}}</h3>
                  <p class="partner-description">{{partner.description}}</p>
                  <div class="divider"></div>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Survey -->
  <div #survey id="survey" [className]="surveyPopIn ? 'survey' : 'off'">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size-xs="11" size-sm="10" size-md="8" size-lg="8">
          <h1 style="margin-top: 40px;">Survey</h1>
          <ion-list class="line-input">
            <!-- Post Suvery Questions -->
            <h3>Please fill out the entire form to successfully submit the survey.</h3>
            <ion-item>
              <ion-input #email type="email" placeholder="Email"></ion-input>
            </ion-item>

            <!-- Question 1 -->
            <ion-radio-group
            required (ionChange)="question1Handler($event)">
              <ion-list-header>
                <h3>Question 1
                  <ion-text color="danger">*</ion-text></h3>
              </ion-list-header>
              <ion-item>
                <ion-label>Cord</ion-label>
                <ion-radio value="cord"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Duesenberg</ion-label>
                <ion-radio value="duesenberg"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Hudson</ion-label>
                <ion-radio value="hudson"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Packard</ion-label>
                <ion-radio value="packard"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Studebaker</ion-label>
                <ion-radio value="studebaker"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <div class="divider"></div>

            <!-- Question 2 -->
            <ion-radio-group
            required (ionChange)="question2Handler($event)">
              <ion-list-header>
                <h3>Question 2
                  <ion-text color="danger">*</ion-text></h3>
              </ion-list-header>
              <ion-item>
                <ion-label>Cord</ion-label>
                <ion-radio value="cord"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Duesenberg</ion-label>
                <ion-radio value="duesenberg"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Hudson</ion-label>
                <ion-radio value="hudson"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Packard</ion-label>
                <ion-radio value="packard"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Studebaker</ion-label>
                <ion-radio value="studebaker"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <div class="divider"></div>

            <!-- Question 3 -->
            <ion-radio-group
            required
            (ionChange)="question3Handler($event)">
              <ion-list-header>
                <h3>Question 3
                  <ion-text color="danger">*</ion-text></h3>
              </ion-list-header>
              <ion-item>
                <ion-label>Cord</ion-label>
                <ion-radio value="cord"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Duesenberg</ion-label>
                <ion-radio value="duesenberg"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Hudson</ion-label>
                <ion-radio value="hudson"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Packard</ion-label>
                <ion-radio value="packard"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Studebaker</ion-label>
                <ion-radio value="studebaker"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <div class="divider"></div>

            <!-- Question 4 -->
            <ion-radio-group
            required
            (ionChange)="question4Handler($event)">
              <ion-list-header>
                <h3>Question 4
                  <ion-text color="danger">*</ion-text>
                </h3>
              </ion-list-header>
              <ion-item>
                <ion-label>Cord</ion-label>
                <ion-radio value="cord"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Duesenberg</ion-label>
                <ion-radio value="duesenberg"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Hudson</ion-label>
                <ion-radio value="hudson"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Packard</ion-label>
                <ion-radio value="packard"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Studebaker</ion-label>
                <ion-radio value="studebaker"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <div class="divider"></div>

            <!-- Question 5 -->
            <ion-radio-group
            required
            (ionChange)="question5Handler($event)">
              <ion-list-header>
                <h3>Question 5
                  <ion-text color="danger">*</ion-text>
                </h3>
              </ion-list-header>
              <ion-item>
                <ion-label>Cord</ion-label>
                <ion-radio value="cord"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Duesenberg</ion-label>
                <ion-radio value="duesenberg"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Hudson</ion-label>
                <ion-radio value="hudson"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Packard</ion-label>
                <ion-radio value="packard"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Studebaker</ion-label>
                <ion-radio value="studebaker"></ion-radio>
              </ion-item>
            </ion-radio-group>
            <div class="divider"></div>

          </ion-list>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="11" size-sm="10" size-md="8" size-lg="8">
          <ion-button class="green-button" (click)="submitSurvey()"
          [disabled]=" !this.email.value || !this.surveyObject.question1.answer || !this.surveyObject.question2.answer || !this.surveyObject.question3.answer || !this.surveyObject.question4.answer || !this.surveyObject.question5.answer">
            Submit
          </ion-button>
          <p class="survey-validation" *ngIf=" !this.email.value || !this.surveyObject.question1.answer || !this.surveyObject.question2.answer || !this.surveyObject.question3.answer || !this.surveyObject.question4.answer || !this.surveyObject.question5.answer">
            In order to submit the survey, please answer all the questions first.
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
