<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <p class="toolbar-title">Back</p>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="this.getYPosition($event)">
  <!-- Info & Agenda -->
  <div id="info">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="fair-header" size-xs="11" size-sm="10" size-md="8" size-lg="8">
          <div style="padding: 10px;">
            <h1>{{fairName}}</h1>
            <h2>{{usertype}}</h2>
            <h5>{{date}}</h5>
            <h5>{{address}}</h5>
            <h5>{{city}}, {{state}}</h5>
            <p>{{summary}}</p>
          </div>
        </ion-col>
        <ion-col class="ion-text-center" size-xs="12" size-sm="10" size-md="8" size-lg="8">
          <ion-button class="green-button" style="margin: 0 auto;" (click)="register(this.id)">
            Register
          </ion-button>
        </ion-col>
        <ion-col class="agenda" size-xs="11" size-sm="10" size-md="8" size-lg="8">
          <h2>Agenda</h2>
          <ion-list>
            <ion-item *ngFor="let item of agenda" lines="none">
              <ion-badge slot="start">{{item.time}}</ion-badge>
              <ion-label>
                <h2>{{item.title}}</h2>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Parking -->
  <div #parking [className]="parkingPopIn ? 'parking' : 'off'">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <h1>This is parking</h1>
        </ion-col>
        <ion-col size="6"></ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- FAQ -->
  <div #faq [className]="faqPopIn ? 'faq' : 'off'">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col  size-xs="11" size-sm="10" size-md="8" size-lg="8">
          <ion-list>
            <h3 style="margin-bottom: 35px;">Frequently Asked Questions</h3>
            <div *ngFor="let question of faqInfo">
              <h5>{{question.question}}</h5>
              <p>{{question.answer}}</p>
            </div>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Booth Partners -->
  <div #boothPartners [className]="boothPartnersPopIn ? 'booth-partners' : 'off'">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <h1>Booth Partners</h1>
          <div *ngFor="let partner of partners">
            <div *ngIf="partner.verified === true">
              <img src="{{partner.logo}}" alt="">
              <h1>{{partner.organization}}</h1>
              <p>{{partner.description}}</p>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- Survey -->
  <div #survey [className]="surveyPopIn ? 'survey' : 'off'">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <h1>Survey</h1>
        </ion-col>
        <ion-col size="6"></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
