<ion-header>
  <ion-toolbar>
    <ion-title>Change Phone Number</ion-title>
    <ion-button (click)="cancel()" class="cancel-button" slot="end">
        cancel
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed class="ion-text-center">
      <ion-row>
        <ion-col size="12">
            <h6 class="text-header">Current Phone Number: {{activePhone}}</h6>
            <form (ngSubmit)="confirmChangedPhoneNumber(
              this.changePhone.controls.newNumber.value,
              this.changePhone.controls.password.value
            )" [formGroup]="changePhone">


            <ion-list class="line-input">
                <!-- Email -->
                <ion-item>
                  <ion-input
                    maxLength="10"
                    placeholder="New Number  - xxx - xxx - xxxx"
                    formControlName="newNumber"
                    type="text">
                  </ion-input>
                </ion-item>

                <!-- Number Validation-->
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validationMessasges.phone">
                      <div class="error-message"
                        *ngIf="changePhone
                          .get('newNumber')
                          .hasError(validation.text) && (changePhone.get('newNumber')
                          .dirty || changePhone.get('newNumber').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                <ion-item>
                    <ion-input
                      placeholder="Password"
                      formControlName="password"
                      type="password">
                    </ion-input>
                </ion-item>
              </ion-list>
                <ion-button
                  [disabled]="disabled"
                  type="submit"
                  class="orange-button">CHANGE NUMBER</ion-button>
              </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

