<ion-header>
  <ion-toolbar>
    <ion-title>change-phone</ion-title>
    <ion-button (click)="cancel()" id="cancel-button" slot="end">
        cancel
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed class="ion-text-center">
      <ion-row>
        <ion-col size="12">
            <form [formGroup]="changePhone">
                <!-- Email -->
                <ion-item>
                  <ion-input
                    placeholder="new number"
                    formControlName="newNumber"
                    type="email">
                  </ion-input>
                </ion-item>
                <ion-item>
                    <ion-input
                      placeholder="password"
                      formControlName="password"
                      type="password">
                    </ion-input>
                </ion-item>
              </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
<button (click)="confirmChangedPhoneNumber()" id="next-button">CHANGE PHONE NUMBER</button>
