<!-- Mobile & Tablet Header -->
<ion-header class="ion-hide-md-up">

    <ion-toolbar>
        <ion-title>Partners</ion-title>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button class="register" (click)="register()">
            Register
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

</ion-header>

  <!-- Desktop Header -->
  <ion-header class="ion-hide-sm-down">

    <ion-toolbar class="ion-padding-horizontal fair-page-toolbar-lg">     <img slot="start" style="height: 50px;" id="logo" src="../../../../../assets/United_Way_Logo_3.svg" />

          <ion-title color="primary">Partners</ion-title>
          <ion-title class="sub-title" color="primary">{{title}}, {{time}}, {{date}}</ion-title>

          <ion-button color="success" class class="orange-button" style="width: 100px; --color: white; margin-right: 30px;" (click)="register()" slot="end">
            Register
          </ion-button>
          <ion-button (click)="goBack()" class="orange-button" style="width: 100px; --background: #005191; --color: white;" slot="end">Go Back
          </ion-button>
    </ion-toolbar>

</ion-header>

<ion-content
[scrollEvents]="true"
(ionScroll)="logScrolling($event)">

  <!-- Mobile & Tablet -->
  <ion-grid class="ion-hide-md-up">

        <ion-row>
            <ion-col class="schedule-mobile" size-xs="12" size-sm="12" size-md="10">

                <div margin>
                    <h1 class="agenda-header-mobile">Agenda</h1>
                </div>

             <ion-item lines="none" padding *ngFor="let slot of slots">
               <ion-label class="ion-text-wrap">
               <ion-text color="primary">
                 <h2>{{slot.time}}</h2>
                </ion-text>
                <ion-text color="secondary">
                  <p>{{slot.title}}</p>
                 </ion-text>
                 <p>{{slot.description}}</p>
                </ion-label>
             </ion-item>

            </ion-col>

      <ion-col ion-col class="faq-mobile" push-xs="2"  size-xs="8" size-sm="8" size-md="10">
        <div #partnerFAQ>
            <h2>Partner FAQ.</h2>
            <p style="width: 300px; color: #888; line-height: 2em;">Have any questions? Visit this page to view Frequently Asked Questions for Partners.</p>
            <ion-button disabled class="orange-button" style="--background: none; border: 2px solid #005191; border-radius: 5px; width: 200px;" (click)="viewFAQs()">
              View FAQ
            </ion-button>
        </div>
        <div #findFind class="find-fair-mobile">
            <h2>Where is the Fair?</h2>
            <p style="color: #888; line-height: 2em;">Need help finding the location of the far? Use Google maps to find the best route.</p>
            <ion-button disabled class="orange-button" style="--background: none; border: 2px solid #005191; border-radius: 5px; width: 200px;" (click)="findFair()">
              View Fair Location
            </ion-button>
        </div>
        <div #parking class="parking-mobile">
            <h2>Parking.</h2>
            <p style="color: #888; line-height: 2em;">Need help with parking? Get parking information here</p>
            <ion-button disabled class="orange-button" style="--background: none; border: 2px solid #005191; border-radius: 5px; width: 200px;" (click)="findFair()">
              Parking
            </ion-button>
        </div>

      </ion-col>
    </ion-row>

  </ion-grid>

  <!-- Desktop -->
  <ion-grid style="margin-top: 75px"  class="ion-hide-sm-down">

    <ion-row>

          <ion-col class="overview" style="background: white; padding: 20px;" size="6" push="3">
           <h1>Partner Overview</h1>
            <p>Volunteers will welcome the students to the fair and assist them during their time in exploration by building relationships and encouraging participation. Volunteers are welcome to bring their own business cards to network with students. Volunteers will attend a workshop session    with a group of students (assisting facilitators as needed).</p>
            <p>After the session, volunteers will help students find their school’s lunch area. Once lunch concludes, volunteers will escort students by school to their buses.</p>
          </ion-col>
    </ion-row>

    <ion-row>
          <ion-col class="schedule" size="6" push="3">

              <div margin>
                  <h1 class="agenda-header">Agenda</h1>
              </div>

           <ion-item *ngFor="let slot of slots">
             <ion-label class="ion-text-wrap">
             <ion-text color="primary">
               <h2>{{slot.time}}</h2>
              </ion-text>
              <ion-text color="secondary">
                <p style="font-weight: 900; font-size: 1.em;">{{slot.title}}</p>
               </ion-text>
               <p>{{slot.description}}</p>
              </ion-label>
           </ion-item>

          </ion-col>
    </ion-row>

    <ion-row class="options ion-justify-content-center">
        <ion-col style="background: white; padding: 20px;" size="6">
         <ion-col size="3">
            <h1>Partners FAQ.</h1>
            <p>Have any questions? <a  (click)="viewFAQs()">Visit this page</a> to view Frequently Asked Questions for Partners.</p>
          </ion-col>
          <ion-col size="3">
                <h1>Parking.</h1>
                <p>Need help with parking? Get parking information <a (click)="findFair()" >here</a></p>
            </ion-col>
        </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
