ion-row {
  margin-bottom: 30px;
}

.sub-title {
  font-size: 1em;
  color: #999;
}

h2 {
  font-weight: 900;
  font-size: 1.3em;
}

.fair-page-toolbar-lg {
  --background: #f9fafc;

  ion-title {
    padding-left: 75px;
    font-size: 1.5em;
  }

  .sub-title {
    padding-left: 75px;
    font-size: 1em;
    color: #999;
  }
}

.agenda-header {
  margin: 30px 0 30px 0;
}

.agenda-header-mobile {
  font-weight: 400;
  font-size: 3em;
  color: #005191;
}

.schedule {
  background: #f9fafc;
  overflow-y: scroll;
  height: 60vh;
  opacity: 0;
  animation: 1s fade-up 0.5s ease-in forwards;

  ion-item {
    --background: #f9fafc;
  }
}

.schedule-mobile {
  opacity: 1;

  ion-item {
    --background: lightgrey;
    margin-bottom: 10px;
    width: 100%;

    h2 {
      color: #005191;
      font-size: 1.5em;
      margin-bottom: 5px;
    }

    h4 {
      color: #222;
      font-size: 1.2em;
    }

    p {
      color: #555;
    }
  }
}

.schedule::-webkit-scrollbar {
  -webkit-appearance: none;
}

.schedule::-webkit-scrollbar:vertical {
  width: 11px;
}

.schedule::-webkit-scrollbar:horizontal {
  height: 11px;
}

.schedule::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
}

.options {
  opacity: 0;
  animation: fade-down 1s ease-in 0.5s forwards;
}

.booth-partners-mobile {
  opacity: 0;
  margin-bottom: 50px;
  animation: fade-left 1s ease-in 0.5s forwards;
}

.find-fair-mobile {
  opacity: 0;
  animation: fade-left 1s ease-in 0.5s forwards;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}