<ion-toolbar style="--background: none">
  <ion-buttons slot="start">
    <ion-button *ngIf="!upVoted" class="upvote" (click)="upVotePost()">
      <ion-icon size="large" src="../assets/icon/caret-up-outline.svg"></ion-icon>
      {{upVoteLength}}
    </ion-button>
    <ion-button *ngIf="upVoted" class="upvote" (click)="upVotePost()">
      <ion-icon  size="large" src="../assets/icon/caret-up-outline-active.svg"></ion-icon>
      {{upVoteLength}}
    </ion-button>

    <!-- Downvotes -->
    <ion-button *ngIf="!downVoted" class="downvote" (click)="downVotePost()">
      <ion-icon size="large" src="../assets/icon/caret-down-outline.svg">
      </ion-icon>
      {{downVoteLength}}
    </ion-button>
      <ion-button *ngIf="downVoted" class="downvote" (click)="downVotePost()">
        <ion-icon size="large" src="../assets/icon/caret-down-outline-active.svg"></ion-icon>
        {{downVoteLength}}
      </ion-button>
  </ion-buttons>
</ion-toolbar>
