ion-buttons {
  position: relative;
  left: 10px;
}

.upvote{
  border-radius: 5px;
  // width: 60px;
  position: relative;
  --color: #005191;

  ion-icon {
    color: #005191;
    font-size: 40px;
  }
}

.downvote {
  border-radius: 5px;
  // width: 60px;
  padding-left: 0px;
  --color: #005191;

  ion-icon {
    color: #005191;
    --font-size: 40px;
  }
}

.upvoted-toast {
  --background: #005191;
}
.downvoted-toast {
  --background: #FFB351;
}

.followed-toast {
  --background: #24d8a8;
}
.unfollowed-toast {
  --background: #FFB351;
}

.follow-button {
  --color: #24d8a8;
  --border-style: solid;
  --border-width: 3px;
  --border-color: #24d8a8;
  font-size: 0.60em;
  font-weight: 800;
  border-radius: 5px;
  width: 100px;
  margin-left: 10px;
}

// Change color
.unfollow-button {
  --color: #faa71b;
  --border-style: solid;
  --border-width: 3px;
  --border-color: #faa71b;
  font-size: 0.60em;
  font-weight: 800;
  border-radius: 5px;
  width: 100px;
  margin-left: 10px;
}