<ion-header>
  <ion-toolbar class="ion-hide-md-up">
    <ion-title>United Way Southast Michigan Fairs</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>


  <ion-toolbar class="ion-hide-sm-down fair-page-toolbar-lg">
      <ion-title color="primary">United Way Southast Michigan Fairs</ion-title>
      <ion-button (click)="goBack()" class="orange-button" style="width: 100px; --background: #005191; --color: white;" slot="end">Go Back
      </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row>
      <ion-col class="ion-hide-md-up" size-sm="11" offset-sm="0.5">
          <ion-card *ngFor="let fair of allFairs">

              <ion-card-content class="fair-photo"></ion-card-content>
               <ion-card-header>
                 <ion-card-title>{{fair.title}}</ion-card-title>
                 <ion-card-subtitle>Date: {{fair.date}}</ion-card-subtitle>
                 <ion-card-subtitle>Time: {{fair.time}}</ion-card-subtitle>
               </ion-card-header>
               <ion-toolbar class="card-toolbar">
                  <ion-button slot="end" class="fair-button-sm orange-button" (click)="fairPage(fair._id)">
                      View Fair
                    </ion-button>
               </ion-toolbar>
             </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let fair of allFairs" class="ion-justify-content-center fair-lg">
        <ion-col class="ion-hide-sm-down fair-info-lg" size-md="4">
          <h1>{{fair.title}}</h1>
          <p>Date: {{fair.date}}</p>
          <p>Time: {{fair.time}}</p>
          <ion-button class="fair-button orange-button" (click)="fairPage(fair._id)">
            View Fair
          </ion-button>
        </ion-col>
        <ion-col class="ion-hide-sm-down fair-photo-lg" size-md="4">
          </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
