<ion-header>
  <ion-toolbar>
    <ion-title>United Way Southeast Michigan Fairs</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let fair of allFairs" (click)="fairPage(fair._id)">

    <ion-card-header>
      <ion-card-subtitle>Date: {{fair.date}}</ion-card-subtitle>
      <ion-card-subtitle>Time: {{fair.time}}</ion-card-subtitle>
      <ion-card-title>{{fair.title}}</ion-card-title>
    </ion-card-header>

   <ion-card-content class="fair-photo">
  </ion-card-content>
  </ion-card>
</ion-content>
