<ion-header>
  <ion-toolbar>
    <ion-title>Enter Code</ion-title>
    <ion-button (click)="cancel()" class="cancel-button" slot="end">
        cancel
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed class="ion-text-center">
    <ion-row>
      <ion-col size="10" offset="1">
        <h6 class="text-header">Please enter the 6 character code that was sent to <span>{{userEmail}}</span></h6>
        <form (ngSubmit)="thankYouPage()" [formGroup]="enterCodeForm">
          <ion-list class="line-input">
            <ion-item>
              <ion-input
              formControlName="code"
              type="email"
              placeholder="enter code"></ion-input>
            </ion-item>
            <ion-button class="send-new-code" (click)="sendNewCode()">
              Send new code
            </ion-button>
            <ion-button [disabled]="disabled" class="orange-button" type="submit">
              ENTER CODE
            </ion-button>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

