.desktop-toolbar{
  --background: none;
  padding-bottom: 16px;
  border-bottom: 1px solid #33333326;

  h1 {
    color: #0055a5;
  }
}
.back-button {
  --color: white;
  --background: #0055a5;
  --background-hover: linear-gradient(#0055a5, #0c375f);
  height: 24px;
  --border-radius: 5px;
  width: 100px;
  font-size: 0.5em;
  font-weight: 600;
  display: block;
}
.text-header {
  font-size: 1.2em;
  line-height: 1.5em;
  color: #222;
  z-index: 999;
}

.orange-button {
  width: unset;
  display: block;
  margin: 48px auto 48px auto;
  width: 200px;
  animation: none;
  opacity: 1;
}


span {
  font-weight: 900;
  font-size: 1.2em;
  color: #005191;
}

.send-new-code {
  display: block;
  --background: #005191;
  color: white;
  font-weight: 600;
  width: 150px;
  margin: 50px auto;
  opacity: 0;
  animation: slide-from-right 1s ease-out 5s forwards;
}

span {
  font-weight: 900;
  font-size: 1em;
  color: #e3405f;
}

@keyframes slide-from-right {

  0% {
    transform: translateX(300px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}