<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
    <ion-title>Enter Code</ion-title>
    <ion-button (click)="cancel()" class="cancel-button" slot="end">
        Cancel
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row class="ion-hide-md-down" style="margin: 5% 0% 3% 0%;">
      <ion-col offset="2.5" size="2.5">
        <h1>Enter Code</h1>
      </ion-col>
      <ion-col push="2.5" size="2">
        <ion-button class="back-button" (click)="cancel()">
           Cancel
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-hide-md-down">
      <ion-col size="10">
        <hr style="background-color: #00000044;" />
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="11" size-md="8" size-lg="6">
        <h6 class="text-header">Please enter the 6 character code that was sent to <span>{{userEmail}}</span></h6>
        <form (ngSubmit)="thankYouPage()" [formGroup]="enterCodeForm">
          <ion-list class="line-input">
            <ion-item>
              <ion-input
              formControlName="code"
              type="email"
              placeholder="enter code"></ion-input>
            </ion-item>
            <ion-button class="send-new-code" (click)="sendNewCode()">
              Send new code
            </ion-button>
            <ion-button [disabled]="disabled" class="orange-button" type="submit">
              ENTER CODE
            </ion-button>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

