<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Change Email</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Desktop Header -->
    <ion-grid fixed class="ion-text-center">
      <ion-row class="ion-hide-md-down" style="margin: 5% 0% 3% 0%;">
        <ion-col offset="2.5" size="2.5">
          <h1>Change Email</h1>
        </ion-col>
        <ion-col push="2.5" size="2">
          <ion-button class="back-button" (click)="back()">
             Back
          </ion-button>
        </ion-col>
      </ion-row>
      <!-- Horizontal Line for Desktop Header -->
      <ion-row class="ion-justify-content-center ion-hide-md-down">
        <ion-col size="10">
          <hr style="background-color: #00000044;" />
        </ion-col>
      </ion-row>
      
      <ion-row class="ion-justify-content-center">
        <ion-col size-xs="11" size-sm="10" size-md="8" size-lg="6">
            <h6 class="text-header" style="width: unset;">{{activeEmail}}</h6>
            <form (ngSubmit)="confirmChangedEmail(this.changeEmail.controls.email.value, this.changeEmail.controls.password.value)" [formGroup]="changeEmail">


            <ion-list class="line-input">

                <!-- Email -->
                <ion-item>
                  <ion-input
                    required
                    placeholder="new email"
                    formControlName="email"
                    type="email"
                    (keyup.enter)="formValid ? confirmChangedEmail(this.changeEmail.controls.email.value, this.changeEmail.controls.password.value) : null">
                  </ion-input>
                </ion-item>

                <!-- Email Validation-->
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessasges.email">
                    <div class="error-message"
                    *ngIf="changeEmail
                      .get('email')
                      .hasError(validation.type) && (changeEmail.get('email')
                      .dirty || changeEmail.get('email').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>

                <ion-item>
                    <ion-input
                      required
                      placeholder="password"
                      formControlName="password"
                      minlength="8"
                      type="password"
                      (keyup.enter)="formValid ? confirmChangedEmail(this.changeEmail.controls.email.value, this.changeEmail.controls.password.value) : null">
                    </ion-input>
                </ion-item>
          </ion-list>
                <ion-button type="submit" [disabled]="!formValid" class="orange-button" style="width: unset;">CHANGE EMAIL</ion-button>
              </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

