.header-hr{
  border-top: 1px solid #666;
  opacity: 0.3;
  margin-top: 10px;
}
.user-profile-picture{
  height: 40px;
  width: 40px;
  margin-right: 8px;
  border-radius: 50px;
}
.post {
  margin-bottom: 40px;
  background: #44474a;
  padding: 20px 0px;
}
.comments-header {
  color: #0055a5;
  font-size: 1.4em;
  font-weight: 600;
}
.add-comment-footer{
  background: rgba(213, 232, 236, 0.3);
  height: 80px;
  font-size: 1.3em;
  border-top: 6px solid #0055a5;
  padding-top: 4px;
}
.post-title {
  color: #67b5ff;
  padding-top: 24px;
  margin-bottom: 64px;
  font-size: 1.4em;
  font-weight: 600;
  border-top: 3px solid white;

}

.profile-picture {
  border-radius: 100px;
  height: 35px;
  width: 35px;
  // position: relative;
  // right: 5px;
  // top: 5px;
  display: inline-block
}

.post-name {
  color: white;
  font-size: 1.6em;
  font-weight: 600;
  margin: 0;
  display: inline-block;
}

.post-date {
  opacity: 0.8;
  font-size: 1em;
  font-weight: 600;
  color: white;
  margin: 0;
  display: block;
}

.blue-button-small {
  --color: white;
  --background: #0055a5;
  --background-hover: linear-gradient(#0055a5, #0055a2);
  height: 24px;
  width: 100px;
  font-size: 0.5em;
  font-weight: 600;
  display: block;
}
.hashtags{
  position: relative;
  top: -32px;
}
.hashtag{
  font-size: 1.3em;
  font-weight: 600;
  display: inline-block;
  margin-right: 5px;
  color: #ea8400;
}
.post-mobile {
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-bottom: 90px;
  background: white;
  box-shadow: none;
}

.post-mobile:hover {
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-bottom: 120px;
  background: white;
  box-shadow: 1px 1px 3px #999;
  border-radius: 5px;
}


@media only screen and (max-width: 576px) {
  .profile-picture  {
    height: 65px;
    width: 65px;
  }
}x

.post-content{
  font-size: 1.15em;
  line-height: 28px;
  color: white;
}

.back-button {
  --color: white;
  --background: linear-gradient(#0672c4, #0055a5);
  font-weight: 800;
  display: inline-block;
  width: 100px;
  margin-top: 20px;
}

.comment-post-button {
  --background: #00c400;
  --background-hover: red;
  height: 54px;
  margin-top: 10px;
  opacity: 0;
  font-size: 1.4em;
  font-weight: 600;
  width: 100%;
  transform: 0.2s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: slide-up 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
// Change color
.unfollow-button {
  --color: white;
  --background: linear-gradient(#faa71b, #e99b14);
  font-weight: 900;
  display: inline-block;
  width: 100px;
  margin-top: 20px;
}
.comments-toolbar{
  
}
.comments-toolbar-mobile{
  --background: none;

  ion-icon {
    color: #0055a5;
    font-size: 2.2em;
  }
}
.comment{
  background: white;
  height: auto;
  opacity: 0;
  margin:  0 8px 0;
  box-shadow: 1px 10px 10px rgba(0,0,0,0.05);
  border-top: 3px solid #d7d7d7;
  border-radius: 5px;
  padding-left: 10px;
  transition: 0.5s;
  animation: post-button-slide-up 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s forwards;
}


.follow-button {
    width: 100px;
    height: 36px;
    opacity: 0;
  --background: #24d8a8;
  --color: white;
  --border-style: solid;
  --border-width: 1px;
  --border-color: linear-gradient(#797, #799);
  animation: post-button-slide-up 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  font-weight: 900;
  width: 100px;
}

.delete-button{
  --color: white;
  --background: linear-gradient(#FF443B, rgb(206, 48, 40));
  font-weight: 800;
  display: inline-block;
  width: 100px;
  margin-top: 20px;
}

.upvote{
  border-radius: 5px;
  width: 80px;
  padding-left: 0px;
  --color: white;

  ion-icon {
    --color: white;
    font-size: 48px;
  }
}
.downvote {
  border-radius: 5px;
  width: 50px;
  padding-left: 0px;
  --color: #0055a5;

  ion-icon {
    color: #0055a5;
    --font-size: 40px;
  }
}

.reply{
  width: 60px;
  --border-width: 3px;
  --border-color: #0055a5;
  --border-style: solid;
  border-radius: 5px;
  --color: #0055a5;
  font-size: 0.7em;
  font-weight: 900;
  margin-right: 10px;
}
.report{
  --border-width: 3px;
  width: 60px;
  --border-color: #666;
  --border-style: solid;
  border-radius: 5px;
  --color: #888;
  font-size: 0.7em;
  font-weight: 900;
  margin-right: 10px;
}
.edit{
  --border-width: 3px;
  width: 60px;
  --border-color: #faa71b;
  --border-style: solid;
  border-radius: 5px;
  --color: #faa71b;
  font-size: 0.7em;
  font-weight: 900;
  margin-right: 10px;
}
.delete{
  width: 60px;
  --background: #faa71b;
  border-radius: 5px;
  --color: white;
  font-size: 0.7em;
  font-weight: 900;
  margin-right: 10px;
}
.follow {
--border-width: 3px;
width: 80px;
--border-color: linear-gradient(#24d8a8, #1baf88);;
--border-style: solid;
border-radius: 5px;
--color: white;
--background: linear-gradient(#5ad8b2, #40c59d);
font-size: 0.7em;
font-weight: 900;
margin-right: 10px;
}

ion-title {
  color: #0055a5;
}

.toolbar {
  --background: #0055a5;
}

ion-item {
  --background: none;
}

ion-fab {
  opacity: 0;
  padding-right: 2%;
  animation: fab-slide-up 0.5s ease-out forwards;

  ion-fab-button {
    --color-activated: white;
    --background-activated: #FFB351;
    --background: white;

    ion-icon {
    color: #0055a5;
    }
  }
}

@keyframes fab-slide-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(-30px);
  }
}

.post-header {
  background: rgba(244, 244, 244, 0.8);
  padding: 10px 0 10px 0;
}

.header-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50px;
}

.comment-form{
  background: none;
  margin-bottom: 20px;
  padding: 20px 0 20px 0;
}

.comment-text {
  color: #222;
  font-size: 1.2em;
}

.reply-wrapper {
  position: relative;
  top: 10px;
  margin-bottom: 5px;
}

.reply-text {
  color: #222;
  font-size: 1em;
  margin: 0px 0 20px 0;
}

.reply-link {
  color: #0055a5;
}

.comment-avatar {
  height: 30px;
  width: 30px;
  border-radius: 50px;
}

.comment-input {
  background: rgba(213, 232, 236, .3);
  height: auto;
  margin: 20px 0 10px 0;
  box-shadow: none;
  padding-left: 10px;
  border: 3px solid #faa71b;

  color: white;
  font-size: 1.3em;
  border-radius: 2px;
  transition: 1s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.comment-input:focus {
  background: rgba(250, 167, 27, 0.04);
  height: auto;
  box-shadow: 1px 1px 3px #999;
  border: 1px solid rgba(0, 81, 145, 1);
  border-radius: 5px;
  padding-left: 10px;
  transition: 0.5s;
}
#reply-date {
  font-size: 0.7em;
  color: #999;
}

#replies-link {
  color: #0055a5;
  font-weight: 500;
}

form {
  width: 100%;
}

@keyframes send-icon-slide-in {
  0% {
    transform: translateX(10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
      opacity: 1;
  }
}

@keyframes post-button-slide-up {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    transform: translateY(-20px);
    opacity: 1;
  }
}

@keyframes comment-slide-up {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    transform: translateY(-20px);
    opacity: 1;
  }
}