<!-- Mobile Header -->
<ion-header class="ion-hide-lg-up" no-border>
  <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content
  [scrollEvents]="true"
  (ionScroll)="logScrolling($event)">

  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

   <!-- fab placed to the bottom end; Going back to the top of the page on the mobile view. -->
  <ion-fab *ngIf="showFab" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="fabScrollTop()">
        <ion-icon name="arrow-up" size="large"></ion-icon>
     </ion-fab-button>
  </ion-fab>

  <ion-grid>
    <ion-row class="post ion-justify-content-center">
       <!-- Profile Header -->
          <!-- Only on Desktop -->
          <ion-col class="ion-hide-lg-down" size-xs="11" size-sm="10" size-md="10" size-lg="8" size-xl="6.5">
            <!-- Profile Header -->
            <div class="spacer"></div>
            <ion-row class="ion-justify-content-center">
              <!-- Profile Picture -->
              <ion-col class="ion-text-center" pull-xl="0.5" pull-lg="0.5" size="0.75">
                <img src="{{creatorProfilePicture}}" style="border-radius: 100px; height: 35xpx; width: 35px;">
              </ion-col>
              <!-- Post Creator's Name -->
              <ion-col pull-xl="0.4" pull-lg="0.4" size="9">
                <p class="post-name">{{creatorName}}</p>
                <p class="post-date">{{date}}</p>
              </ion-col>
              <!-- Back button-->
              <ion-col size="1">
                <ion-button class="blue-button-small ion-float-right" (click)="back()">
                Back
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-col>

          <!-- Mobile header -->
          <ion-col class="ion-hide-lg-up" size-xs="11" size-sm="10" size-md="10" size-lg="8" size-xl="5">
                <img class="profile-picture" src="{{creatorProfilePicture}}">
                <div style="display: inline-block; margin-left: 10px;">
                  <p class="post-name">{{creatorName}}</p>
                  <p class="post-date">Posted {{date}} ago</p>
                </div>
                <hr class="header-hr">
          </ion-col>
          <!-- Post Content -->
          <ion-col size-xs="11" size-sm="10" size-md="10" size-lg="8" size-xl="6.5">
                <p class="post-title">{{title}}</p>
                <div class="hashtags">
                  <p class="hashtag" *ngFor="let tag of hashtags">
                    #{{tag}}
                  </p>
                </div>
               <p class="post-content">{{post}}</p>
          </ion-col>

          <!-- Comment Input -->
          <ion-col size-xs="11" size-sm="10" size-md="10" size-lg="8" size-xl="6.5">
            <form (ngSubmit)="comment(this.postID, this.userFullName, this.userEmail, this.userProfilePicture, commentForm.value )" [formGroup]="commentForm">
              <ion-textarea
                (ionBlur)="onBlur()"
                (onfocusout)="blur()"
                (keydown.control.enter)="comment(this.postID, this.userFullName, this.userEmail, this.userProfilePicture, commentForm.value.comment, false) && ScrollToPostedComment()"
                class="comment-input"
                autogrow="true"
                autocapitalize="true"
                rows="5"
                spellcheck="true"
                wrap="soft"
                type="text"
                placeholder="Add a Comment" formControlName="comment">
              </ion-textarea>
              <ion-button
                      style="float: right;"
                      class="comment-post-button"
                      type="submit"
                      *ngIf="!commentForm
                              .get('comment')
                              .pristine && commentForm.value.comment.length >= 3"
                        name="send">Post
              </ion-button>
            </form>
          </ion-col>

          <!-- Upvote and Downvote Post -->
          <ion-col size-xs="11" size-sm="10" size-md="10" size-lg="4" push-xl="1.5" size-xl="6">
            <app-up-down-vote-buttons [postID]="postID"></app-up-down-vote-buttons>
          </ion-col>
          <ion-col size-xs="11" size-sm="10" size-md="10" size-lg="4" pull-xl="1.4" size-xl="3">
              <ion-button *ngIf="this.isUser === true" (click)="deletePost(this.postID)"  class="delete ion-float-right">
                Delete
              </ion-button>
              <ion-button
                *ngIf="this.isUser === true" (click)="editPost(this.postID, this.post)"
                class="edit ion-float-right"
                style="--background: none;">
                Edit
              </ion-button>
              <ion-button
                *ngIf="this.isUser === false && !following" (click)="follow(this.postID)"
                class="follow ion-float-right">
                Follow
              </ion-button>
              <ion-button
                *ngIf="this.isUser === false && following" (click)="unFollow(this.postID)"
                class="delete ion-float-right"
                style="width: 80px">
                Unfollow
              </ion-button>
          </ion-col>
    </ion-row>

    <!-- Comments -->
    <ion-row class="ion-justify-content-center">

      <!-- If No Comments -->
      <ion-col class="ion-text-center" style="margin: 100px 0;" *ngIf="comments.length === 0" size-xs="11" size-sm="10" size-md="10" size-lg="8" size-xl="6">
      <p style="color: #888;">This post has no comments</p>
      </ion-col>

      <ion-col style="margin-bottom: 24px;" *ngIf="comments.length > 0" size-xs="11" size-sm="10" size-md="10" size-lg="8" size-xl="6">
        <ion-toolbar class="comments-toolbar-mobile ion-hide-lg-up">
          <p style="color: #888;">Comments - {{comments.length}}</p>
          <ion-buttons slot="end">
            <ion-button (click)="filterComments()">
              <ion-icon slot="start" name="filter"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>

        <!-- Comment Wrapper -->
        <ion-col *ngFor="let comment of comments" class="comment" size-xs="12" size-sm="10" size-md="10" size-lg="8" size-xl="6">

          <!-- Comment Header -->
          <ion-row>
            <ion-col>
              <ion-item lines="none">
                <ion-avatar class="comment-avatar" slot="start">
                  <img src="{{comment.userProfilePicture}}">
                </ion-avatar>
                <ion-label>
                  <h6 style="opacity: 0.5">{{ comment.userFullName  }} - {{ comment.date }} </h6>

                  <hr class="header-hr">
                  </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>

          <!-- Comment -->
          <ion-row class="ion-justify-content-center">
            <ion-col size="11">
                <p class="comment-text" style="margin-top: 40px;">{{comment.comment}}
                </p>
            </ion-col>
          </ion-row>


          <!-- Replies -->
          <ion-row class="ion-justify-content-center">
            <ion-col size="11">
              <p
              (click)="repliesModal(
                this.postID,
                comment.replies,
                comment.comment,
                comment._id,
                comment.userFullName,
                comment.userEmail,
                comment.date,
                comment.userProfilePicture,
                this.userFullName,
                this.userEmail)"
              *ngIf="comment.repliesLength >= 1" id="replies-link">Replies - {{comment.repliesLength}}</p>
            </ion-col>
          </ion-row>


          <!-- Comment Buttons -->
          <ion-row style="margin-top: 20px;">
            <!-- Upvote & Downvote Comments-->
            <ion-col size="4">
              <app-comment-vote-bar [postID]="this.postID" [commentID]="comment._id"></app-comment-vote-bar>
            </ion-col>
            <!-- Report, Edit & Reply -->
            <ion-col push="1" size="6">
              <ion-toolbar style="--background: none;">
                <ion-buttons slot="end">
                  <ion-button (click)="repliesModal(
                    this.postID,
                    comment.replies,
                    comment.comment,
                    comment._id,
                    comment.userFullName,
                    comment.userEmail,
                    comment.date,
                    comment.userProfilePicture,
                    this.userFullName,
                    this.userEmail)" class="reply ion-float-right">
                    Reply
                  </ion-button>
                  <ion-button *ngIf="comment.canReport === true" (click)="report(comment._id, comment.comment, this.post, this.postID, comment.userFullName, comment.userEmail, comment.date)"  class="report ion-float-right">
                    Report
                  </ion-button>
                  <ion-button
                    *ngIf="comment.isUser === true" (click)="editComment(comment._id, comment.comment, this.postID, this.userEmail)"
                    class="edit ion-float-right">
                    Edit
                  </ion-button>
                  <ion-button *ngIf="comment.canDeleteComment === true" (click)="deleteComment(comment._id)"  class="delete ion-float-right">
                    Delete
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-col>
          </ion-row>

        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-hide-lg-up add-comment-footer">
  <ion-row class="ion-justify-content-center">
    <ion-col style="display: inline-block; height: 40px;" size="10">
      <ion-textarea
      (ionChange)="commentInput($event)"
      style="display: inline;"
      autocapitalize="true"
      rows="1"
      spellcheck="true"
      wrap="soft"
      type="text"
      placeholder="Add a Comment"
      >
    </ion-textarea>
    </ion-col>
    <ion-col style="display: inline-block; height: 50px;" size="1">
      <ion-button style="--background: none;" (click)="comment(this.postID, this.userFullName, this.userEmail, userProfilePicture, this.commentInputValue, true) && ScrollToPostedComment()">
      <ion-icon style="font-size: 1.4em; color: #0055a5;" slot="start" name="send"></ion-icon>
    </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
