.post {
  padding: 20px 0px 20px 0px;
  background: #f1f1f1;
  margin-bottom: 20px;
  background: #fbfbfb;
  border-radius: 5px;
}
@media only screen and (max-width: 576px) {
  .profile-picture  {
    height: 40px;
    width: 40px;
  }
}

.post-mobile {
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-bottom: 90px;
  background: white;
  box-shadow: none;
}

.post-mobile:hover {
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin-bottom: 120px;
  background: white;
  box-shadow: 1px 1px 3px #999;
  border-radius: 5px;
}

.profile-picture {
  border-radius: 100px;
  height: 50px;
  width: 50px;
  position: relative;
  left: 5px;
  top: 4px;
}


@media only screen and (max-width: 576px) {
  .profile-picture  {
    height: 40px;
    width: 40px;
  }
}

.post-content{
  font-size: 1.4em;
  line-height: 35px;
  text-align: justify;
}

.back-button {
  --color: white;
  --background: linear-gradient(#0672c4, #005191);
  font-weight: 800;
  display: inline-block;
  width: 100px;
  margin-top: 20px;
}

.comment-post-button {
  --color: white;
  --background: linear-gradient(#24d8a8, #1baf88);
  font-weight: 800;
  display: inline-block;
  width: 100px;
  margin-top: 20px;
}

// Change color
.unfollow-button {
  --color: white;
  --background: linear-gradient(#faa71b, #e99b14);
  font-weight: 800;
  display: inline-block;
  width: 100px;
  margin-top: 20px;
}

.comment{
  background: white;
  height: auto;
  opacity: 0;
  margin: 30px 0 60px 0;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  // border: 1px solid rgba(0, 81, 145,0.4);
  border-radius: 5px;
  padding-left: 10px;
  transition: 0.5s;
  animation: post-button-slide-up 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s forwards;
}

.comment:hover {
  background: white;
  height: auto;
  margin: 30px 0 60px 0;
  box-shadow: none;
  border: 1px solid rgba(0, 81, 145,0.4);
  border-radius: 5px;
  padding-left: 10px;
  transition: 0.5s;
  transform: scale(1);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.follow-button {
    width: 100px;
    height: 36px;
    opacity: 0;
  --background: none;
  --color: #24d8a8;
  --border-style: solid;
  --border-width: 1px;
  --border-color: linear-gradient(#24d8a8, #1baf88);
  animation: post-button-slide-up 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  font-weight: 800;
  width: 100px;
}

.delete-button{
  --color: white;
  --background: linear-gradient(#FF443B, rgb(206, 48, 40));
  font-weight: 800;
  display: inline-block;
  width: 100px;
  margin-top: 20px;
}

.upvote{
  border-radius: 5px;
  width: 50px;
  padding-left: 0px;
  --color: #005191;

  ion-icon {
    color: #005191;
    font-size: 40px;
  }
}
.downvote {
  border-radius: 5px;
  width: 50px;
  padding-left: 0px;
  --color: #005191;

  ion-icon {
    color: #005191;
    --font-size: 40px;
  }
}

.reply{
  width: 60px;
  --border-width: 1px;
  --border-color: #005191;
  --border-style: solid;
  border-radius: 5px;
  --color: #005191;
  font-size: 0.6em;
  margin-right: 10px;
}
.report{
  --border-width: 1px;
  width: 60px;
  --border-color: #888;
  --border-style: solid;
  border-radius: 5px;
  --color: #888;
  font-size: 0.6em;
  margin-right: 10px;
}
.edit{
  --border-width: 1px;
  width: 60px;
  --border-color: #faa71b;
  --border-style: solid;
  border-radius: 5px;
  --color: #faa71b;
  font-size: 0.6em;
  margin-right: 10px;
}
.delete{
  width: 60px;
  --background: #faa71b;
  border-radius: 5px;
  --color: white;
  font-size: 0.6em;
  margin-right: 10px;
}
.follow {
--border-width: 1px;
width: 80px;
--border-color: linear-gradient(#24d8a8, #1baf88);;
--border-style: solid;
border-radius: 5px;
--color: #24d8a8;
--background: none;
font-size: 0.6em;
margin-right: 10px;
}

ion-toolbar {
  --background: none;
}

.toolbar {
  --background: #005191;
}

ion-item {
  --background: none;
}

ion-fab {
  opacity: 0;
  padding-right: 2%;
  animation: fab-slide-up 0.5s ease-out forwards;

  ion-fab-button {
    --color-activated: white;
    --background-activated: #FFB351;
    --background: white;

    ion-icon {
    color: #005191;
    }
  }
}

@keyframes fab-slide-up {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(-30px);
  }
}

.post-header {
  background: rgba(244, 244, 244, 0.8);
  padding: 10px 0 10px 0;
}

.header-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50px;
}

.comment-form{
  background: none;
  margin-bottom: 20px;
  padding: 20px 0 20px 0;
}

.comment-text {
  color: #222;
  font-size: 1.2em;
  margin: 0px 0 20px 0;
}

.reply-wrapper {
  position: relative;
  top: 10px;
  margin-bottom: 5px;
}

.reply-text {
  color: #222;
  font-size: 1em;
  margin: 0px 0 20px 0;
}

.reply-link {
  color: #005191;
}

.comment-avatar {
  height: 30px;
  width: 30px;
  border-radius: 50px;
}

.comment-input {
  background: white;
  height: auto;
  margin: 20px 0 20px 0;
  width: 100%;
  box-shadow: none;
  border: 1px solid rgba(0, 81, 145,0.4);
  border-radius: 5px;
  padding-left: 10px;
  transition: 0.5s;
  transition-timing-function: linear;
}

.comment-input:hover {
  background: rgba(250, 167, 27, 0.02);
  height: auto;
  margin: 35px 0 65px 0;
  box-shadow: 1px 1px 3px #999;
  border: 1px solid rgba(0, 81, 145, 1);
  border-radius: 5px;
  padding-left: 10px;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.comment-input:focus {
  background: rgba(250, 167, 27, 0.04);
  height: auto;
  box-shadow: 1px 1px 3px #999;
  border: 1px solid rgba(0, 81, 145, 1);
  border-radius: 5px;
  padding-left: 10px;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#reply-date {
  font-size: 0.7em;
  color: #999;
}

#replies-link {
  color: #005191;
  font-weight: 500;
}

form {
  width: 100%;
}

@keyframes send-icon-slide-in {
  0% {
    transform: translateX(10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
      opacity: 1;
  }
}

@keyframes post-button-slide-up {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    transform: translateY(-20px);
    opacity: 1;
  }
}

@keyframes comment-slide-up {
  0% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    transform: translateY(-20px);
    opacity: 1;
  }
}