<ion-header class="ion-hide-lg-up">
  <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <div slot="end">
        <ion-title >{{creatorName}}'s Post &middot; <span style="font-size: 0.5em;">{{date}} ago</span></ion-title>
      </div>
      <div style="position: relative; right: 15px;" slot="end">
        <img style="position: relative; right: 5px; display: inline-block;" slot="end" class="profile-picture" src="../../../../assets/aaron.jpg">
      </div>
  </ion-toolbar>
</ion-header>

<ion-content
  [scrollEvents]="true"
  (ionScroll)="logScrolling($event)">

  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

   <!-- fab placed to the bottom end; Going back to the top of the page on the mobile view. -->
  <ion-fab *ngIf="showFab" vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button (click)="fabScrollTop()">
            <ion-icon name="arrow-up" size="large"></ion-icon>
          </ion-fab-button>
  </ion-fab>

  <ion-grid>

    <ion-row class="post ion-justify-content-center">
      <ion-col size-xs="12" size-sm="10" size-md="8" size-lg="12">

        <ion-row class="ion-justify-content-center">

          <!-- Profile Header -->
          <!-- Only on Desktop -->
          <ion-col size-xs="12" size-sm="10" size-md="8" size-lg="8">
            <ion-row>

            <!-- Profile Picture -->
            <ion-col class="ion-hide-md-down" size="1">
              <img class="profile-picture" src="../../../../assets/aaron.jpg">
            </ion-col>

            <!-- Post Creator's Name -->
            <ion-col class="ion-hide-md-down" size="5">
              <h6 style="font-size: 1em; font-weight: 500; opacity: 0.4;">{{creatorName}} - <span style="font-size: 0.5em;">{{date}}  ago</span></h6>
            </ion-col>

            </ion-row>
          </ion-col>

          <!-- Post Content -->
          <ion-col size="12">
            <ion-row class="ion-justify-content-center">
              <!-- 1080x1350 -->
              <ion-col size-xs="11" size-sm="10" size-md="12" size-lg="8">
               <p class="post-content">{{post}}</p>
              </ion-col>
           </ion-row>
          </ion-col>

          <!-- Line -->
          <ion-col size="12">
            <ion-row class="ion-justify-content-center">
              <ion-col size-xs="11" size-sm="8" size-md="8" size-lg="8" size-xl="8">
                <hr style="background-color: #999; opacity: 0.4; margin: 20px 0 20px 0;">
              </ion-col>
            </ion-row>
          </ion-col>

          <!-- Comment Bar -->
          <ion-col size-xs="12" size-sm="10" size-md="12" size-lg="8">
            <ion-row style="position: relative; right: 6px; top: -4px;" >
              <ion-col size="12">
                <ion-item lines="none">
                 <form (ngSubmit)="comment(this.commentForm.value, this.postID)" [formGroup]="commentForm">
                    <ion-textarea
                      (ionFocus)="ScrollToTop()"
                      (ionBlur)="onBlur()"
                      (onfocusout)="blur()"
                      (keyup.enter)="comment(this.commentForm.value, this.postID) && ScrollToPostedComment()"
                      class="comment-input"
                      autogrow="true"
                      autocapitalize="true"
                      rows="5"
                      spellcheck="true"
                      wrap="soft"
                      type="text"
                      placeholder="Add a Comment" formControlName="comment">
                    </ion-textarea>
                    <ion-button
                      style="float: right;"
                      class="comment-post-button"
                      type="submit"
                      *ngIf="!commentForm
                              .get('comment')
                              .pristine && commentForm.value.comment.length >= 3"
                        name="send">Post
                      </ion-button>
                 </form>
                </ion-item>

              </ion-col>
            </ion-row>
          </ion-col>

          <!-- Upvote and Downvote Post -->
          <ion-col id="votes" size-xs="12" size-sm="10" size-md="12" size-lg="8">
            <ion-row>
              <ion-col size="4">
                <app-up-down-vote-buttons [postID]="postID"></app-up-down-vote-buttons>
            </ion-col>
            </ion-row>
          </ion-col>

        </ion-row>
      </ion-col>
    </ion-row>

    <!-- Comments -->
    <ion-row class="ion-justify-content-center">

      <!-- If No Comments -->
      <ion-col class="ion-text-center" style="margin-bottom: 100px;" *ngIf="comments.length === 0" size="10">
      <h4>This post has no comments</h4>
      </ion-col>

      <ion-col size="10">
        <p style="color: #666">Comments - {{comments.length}}</p>
      </ion-col>

        <!-- Comment Wrapper -->
        <ion-col *ngFor="let comment of comments" class="comment" size-xs="12" size-sm="10" size-md="8" size-lg="8">

          <!-- Comment Header -->
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-avatar class="comment-avatar" slot="start">
                  <img src="../../../../assets/aaron.jpg">
                </ion-avatar>
                <ion-label>
                  <h6 style="opacity: 0.5">{{ comment.userFullName  }} - {{ comment.date }} </h6>
                  </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>

          <!-- Comment -->
          <ion-row class="ion-justify-content-center">
            <ion-col push-xs="1" size="12">
                <p class="comment-text ion-text-wrap" style="margin-top: 40px;">  {{comment.comment}}
                </p>
            </ion-col>
          </ion-row>

          <!-- Line -->
          <ion-row>
            <ion-col push-xs="0.24" size="11">
              <hr style="background-color: #999; opacity: 0.4; margin: 20px 0 0 0;">
            </ion-col>
          </ion-row>



          <ion-row>
          </ion-row>


          <!-- Replies -->
          <ion-row class="reply-wrapper ion-justify-content-center" *ngFor="let reply of comment.replies">

            <ion-col size="10">
              <p class="reply-link">Replies - {{comments.repliesLength}}</p>
            </ion-col>

            <!-- <ion-col push-lg="1" push-xs="1" size="1">
              <img class="comment-avatar" src="../../assets/batman-pro-pic.png">
            </ion-col>
            <ion-col push-lg="1"  push-xs="1" size="6">
                <p class="reply-text ion-text-wrap">  {{reply.reply}}.
                </p>
            </ion-col>
            <ion-col push-lg="2.5"  push-xs="2.5" size="1">
              <p id="reply-date">{{reply.date}}</p>
            </ion-col> -->
          </ion-row>

          <!-- Comment Buttons -->
          <ion-row style="margin-top: 20px;">
            <!-- Upvote & Downvote Comments-->
            <ion-col size="4">
                <ion-toolbar>
                  <ion-buttons slot="start">
                    <ion-button class="upvote" (click)="upVoteComment(comment)">
                      <ion-icon size="large" src="../../../assets/icon/caret-up-outline.svg"></ion-icon>
                      0
                    </ion-button>
                    <ion-button class="downvote" (click)="downVoteComment()">
                      <ion-icon size="large" src="../../../assets/icon/caret-down-outline.svg"></ion-icon>
                      0
                    </ion-button>
                  </ion-buttons>
                </ion-toolbar>
            </ion-col>
            <!-- Report, Edit & Reply -->
            <ion-col push="1" size="6">
              <ion-toolbar>
                <ion-buttons slot="end">
                  <ion-button (click)="reply(comment._id, this.userFullName, this.userEmail, this.userProfilePicture,comment.userFullName, comment.userEmail)" class="reply ion-float-right">
                    Reply
                  </ion-button>
                  <ion-button *ngIf="comment.canReport === true" (click)="report(comment._id, comment.comment, this.post, this.postID, comment.userFullName, comment.userEmail, comment.date, this.userEmail, this.userFullName)"  class="report ion-float-right">
                    Report
                  </ion-button>
                  <ion-button
                    *ngIf="comment.isUser === true" (click)="editComment(comment._id,this.postID, comment.comment)"
                    class="edit ion-float-right">
                    Edit
                  </ion-button>
                  <ion-button *ngIf="comment.canDeleteComment === true" (click)="deleteComment(comment._id)"  class="delete ion-float-right">
                    Delete
                  </ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-col>
          </ion-row>

        </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>
