ion-avatar {
  height: 1.3em; width: 1.3em;
}

.new-message{
  color: #faa71b;
}

ion-label {
  font-weight: 800;
  display: block;
}

.date-sent {
  font-size: 0.8em;
  opacity: 0.5;
}

.ellipsis {
  height: 2.1em;
}