.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-button {
  color: white;
  background: rgba(255,255,255, .5);
  height: 45px;
}

ion-icon {
  color: red;
  font-size: 20px;
}

.job-section {
  height: 300px;
  background: none;
  color: #777;
  position: relative;
  top: 20px;
  width: 100%;
}

h6, p {
  display: block;
}

--ion-buttons {
  --color: #888;
}