<!-- No Header, ion header's display: none -->
<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="favoritesPage()">
            <ion-icon src="../../../assets/icon/heart.svg"></ion-icon>
          {{favoriteJobsAmount}}</ion-button>
      </ion-buttons>
    <ion-title>Jobs</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

  <ion-grid fixed>

    <!-- Job -->
    <ion-row>
      <ion-col size="12">
        <!-- Searchbar with cancel button always shown -->
        <ion-searchbar showCancelButton="false"></ion-searchbar>
          <ion-list>
              <ion-item *ngFor="let job of allJobs" >
                <ion-row class="job-section">
                  <ion-col size="11" offset="0.5" (click)="jobPage(job)">
                      <h5>{{job.title}}</h5>
                      <h6>{{job.companyName}}</h6>
                      <h6 style="font-size: 0.8em; opacity: 0.5;">{{job.summary}}</h6>
                      <h6 style="font-size: 0.4em; opacity: 0.5; float: right;">{{job.posted}}</h6>
                  </ion-col>
                  <ion-col size="11" style="height: 45px; margin-bottom: 20px;">
                      <!-- Heart Icon Component holds the state for Favorites -->
                      <app-heart-icon [job]="job"></app-heart-icon>
                  </ion-col>
                </ion-row>
              </ion-item>
            </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
