#mentor-photo {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: lightgrey;
    margin: 35px auto 0;
    opacity: 0;
    animation: slide-in-left 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s forwards;
}

#mentor-form {
    opacity: 0;
    animation: slide-in-up 0.8s cubic-bezier(.15, .85, .75, .9) 1.45s forwards;
}

.orange-button {
    margin-bottom: 30px;
    --background: #faa71b;
    animation: slide-in-up 0.8s cubic-bezier(.15, .85, .75, .9) 1.9s forwards;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slide-in-up {
0% {
    transform: translateY(100px);
}
100% {
    opacity: 1;
    transform: translateY(0px);
}
}