<!-- Mobile Header -->
<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Contact Mentor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- Desktop Header -->
    <ion-row class="ion-hide-md-down" style="margin: 5% 0% 3% 0%;">
      <ion-col class="ion-text-center" push-lg="2" size="8">
        <!-- Mentor Photo -->
        <div id="mentor-photo"></div>
        <h3 class="name">{{mentorName}}</h3>
        <h3 class="name" style="
        animation: slide-in-left 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.6s forwards;">{{mentorEmail}}</h3>
      </ion-col>
      <ion-col size="2">
        <ion-button class="blue-button" (click)="back();">Back</ion-button>
      </ion-col>
    </ion-row>

    <!-- Contact Form -->
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center" size-xs="11" size-sm="10" size-md="8" size-lg="8">
        <!-- Form -->
        <!-- Mentor Photo -->
        <div id="mentor-photo" class="ion-hide-lg-up"></div>
        <form id="mentor-form" [formGroup]="contactMenorForm"  (ngSubmit)="confirm(this.contactMenorForm.value)">
            <ion-item lines="none" >
                <ion-textarea
                formControlName="message"
                placeholder="Have a question for a {{mentorName}}? Send them an email!"
                rows="10"
                autogrow="true"
                required
                spellcheck="true"
                (keydown.control.enter)="messageValid ? confirm(this.contactMenorForm.value) : null"></ion-textarea>
            </ion-item>
            <ion-button type="submit" class="orange-button" [disabled]="!messageValid"
            expand="block">
                Send
            </ion-button>
          </form>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
