ion-content {
    --background: #f4f5f8;
}
.blue-button-small {
    --background: #0055a5;
    opacity: 1;
    height: 24px;
    width: 100px;
    font-size: 0.5em;
    font-weight: 600;
}
.name {
    display: block;
    font-size: 1em;
    color: #999;
    opacity: 0;
}

// :nth-child(2) not working
.name:nth-child(1) {
    animation: slide-in-left 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1.3s forwards;
}

#mentor-photo {
    // width: 100px;
    height: 100px;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: inline-block;
    opacity: 1;
    margin: 54px auto;
}

@media screen and (min-width: 992px) {
    #mentor-photo {
        border-radius: 100px;
        width: 100px;
        height: 100px;
        position: relative;
        top: -38px;
    }
}
.message-input {
  padding: 0 8px;
  border-radius: 5px;
  font-size: 1.2em;
  border: 1px solid rgba(0, 81, 145,0.4);

}

.orange-button {
    margin-top: 40px;
    // animation: slide-in-up 0.1s cubic-bezier(.15, .85, .75, .9) 1.9s forwards;
}

.blue-button {
    animation: none;
    opacity: unset;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slide-in-up {
0% {
    transform: translateY(100px);
}
100% {
    opacity: 1;
    transform: translateY(0px);
}
}