<!-- Mobile Header -->
<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Contact Mentor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- Desktop Header -->
    <ion-row style="margin-top: 100px;" class="ion-hide-lg-down ion-justify-content-center">
      <ion-col size-xs="11" size-sm="10" size-md="7" size-lg="6" size-xl="5">
        <!-- Mentor Photo -->
        <div id="mentor-photo"></div>
        <ion-button class="blue-button-small ion-float-right" (click)="back();">Back</ion-button>
      </ion-col>
    </ion-row>

    <!-- Contact Form -->
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="11" size-sm="10" size-md="7" size-lg="6" size-xl="5">
        <!-- Form -->
        <!-- Mentor Photo -->
        <div class="ion-text-center">
          <img src="{{mentorPhoto}}" class="ion-hide-lg-up"  id="mentor-photo">
        </div>
        <form [formGroup]="contactMenorForm"  (ngSubmit)="confirm(this.contactMenorForm.value)">
          <ion-textarea
                class="message-input"
                formControlName="message"
                placeholder="Have a question for a {{mentorName}}? Send them an email!"
                rows="10"
                autogrow="true"
                required
                spellcheck="true"
                (keydown.control.enter)="messageValid ? confirm(this.contactMenorForm.value) : null"></ion-textarea>
            <ion-button type="submit" class="orange-button" [disabled]="!messageValid"
            expand="block">
                Send
            </ion-button>
          </form>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
