ion-row {
  margin-bottom: 60px;
}

.sub-title {
  font-size: 1em;
  color: #999;
}

h1 {
  font-weight: 900;
  color: #005191;
}

p {
  font-size: 1.3em;
}

.list-header {
  font-size: 2.3em;

  .list-text {
    font-size: 1em;
  }
}

h2 {
  font-weight: 900;
  color: #222;
}

.fair-page-toolbar-lg {
  --background: rgba(245,245,245,1);

  ion-title {
    padding-left: 75px;
    font-size: 1.5em;
    font-weight: 900;
  }

  .sub-title {
    padding-left: 75px;
    font-size: 1.2em;
    color: #666;
  }
}

.agenda-header {
  margin: 30px 0 30px 0;
}

.agenda-header-mobile {
  font-weight: 400;
  font-size: 3em;
  color: #005191;
}

.schedule {
  background: white;
  overflow-y: scroll;
  height: auto;
  opacity: 1;
  border-radius: 5px;

  ion-item {
    --background: white;;
  }
}

.schedule-mobile {
  opacity: 1;

  ion-item {
    --background: rgba(245,245,245,1);
    margin-bottom: 10px;
    width: 100%;

    h2 {
      color: #005191;
      font-size: 1.5em;
      margin-bottom: 5px;
    }

    h4 {
      color: #222;
      font-size: 1.2em;
    }

    p {
      color: #555;
    }
  }
}

.overview {
  border-radius: 5px;

  p {
    line-height: 1.5em;
    color: #666;
  }
}

.schedule::-webkit-scrollbar, .options::-webkit-scrollbar {
  -webkit-appearance: none;
}

.schedule::-webkit-scrollbar:vertical, .options::-webkit-scrollbar:vertical {
  width: 11px;
}

.schedule::-webkit-scrollbar:horizontal, .options::-webkit-scrollbar:horizontal {
  height: 11px;
}

.schedule::-webkit-scrollbar-thumb, .options::-webkit-scrollbar-thumb  {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .5);
}

.options {
  padding: 30px;
  opacity: 1;
  border-radius: 5px;

  p {
    color: #666;
  }
}

a {
  transition: 0.5s;
}

a:hover {
  color: #faa71b;
  font-weight: 800;
}

.booth-partners-mobile {
  opacity: 1;
  margin-bottom: 50px;
}

.find-fair-mobile {
  opacity: 1;
}