<ion-header>
  <ion-toolbar>
    <ion-title>login-credentials</ion-title>
    <ion-button (click)="cancel()" id="cancel-button" slot="end">
        cancel
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="10" offset="1">
      <p>Please create your login credentials. This is the information that   you will use to login to the app.</p>
          <form [formGroup]="credentialsForm">
              <ion-item>
                <ion-input formControlName="email" type="email" placeholder="email"></ion-input>
              </ion-item>
              <br>
              <ion-item>
                <ion-input formControlName="enterPassword" type="password" placeholder="enter password"></ion-input>
              </ion-item>
              <br>
              <ion-item>
                <ion-input formControlName="reTypePassword" type="password" placeholder="re-type password"></ion-input>
              </ion-item>
              <br>
          </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>

<button (click)="goToEnterCodePage()" id="next-button">NEXT</button>
