<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
    <ion-title>Login Credentials</ion-title>
    <ion-button (click)="cancel()" class="cancel-button" slot="end">
        Cancel
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-text-center">
    <ion-row class="ion-hide-md-down" style="margin: 5% 0% 3% 0%;">
      <ion-col offset="2.8" size="2.5">
        <h1>Login Credentials</h1>
      </ion-col>
      <ion-col push="2.5" size="2">
        <ion-button class="back-button" (click)="cancel()">
           Cancel
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-hide-md-down">
      <ion-col size="10">
        <hr style="background-color: #00000044;" />
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="11" size-md="8" size-lg="6">
        <h6 class="text-header">Please create your login credentials. This is the information you will use to login with - an <span>email</span> and a <span>password</span>. Your password needs to be at least 8 characters long, with at least 1 uppercase letter and one number.</h6>

          <form (ngSubmit)="enterCodePage(this.credentialsForm.value)" [formGroup]="credentialsForm">

              <ion-list class="line-input">

                <ion-item>
                  <ion-input
                  #autoFucousInput
                  formControlName="email"
                  type="email"
                  placeholder="email"></ion-input>
                </ion-item>

                <!-- Email Validation-->
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validationMessasges.email">
                      <div class="error-message"
                        *ngIf="credentialsForm
                          .get('email')
                          .hasError(validation.type) && (credentialsForm.get('email')
                          .dirty || credentialsForm.get('email').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                <br>
                <ion-item>
                  <ion-input
                  required
                  inputmode="text"
                  formControlName="password"
                  type="password"
                  placeholder="enter password"></ion-input>

                  <ion-button *ngIf="!passwordsMatch" class="badPassword" item-right>
                     <ion-icon style="color: #FF443B;" name="close"> </ion-icon>
                  </ion-button>

                  <ion-button *ngIf="passwordsMatch" class="goodPassword" item-right>
                      <ion-icon style="color: #21df82;" name="checkmark"> </ion-icon>
                   </ion-button>

                </ion-item>

                <!-- Password Validation-->
             <div class="validation-errors">
                 <ng-container *ngFor="let validation of validationMessasges.password">
                   <div class="error-message"
                     *ngIf="credentialsForm
                       .get('password')
                       .hasError('pattern') && (credentialsForm.get('password')
                       .dirty || credentialsForm.get('password').touched)">
                     {{ validation.message }}
                   </div>
                 </ng-container>
               </div>

                <br>
                <ion-item>
                  <ion-input
                  formControlName="reTypePassword"
                  type="password"
                  placeholder="re-type password"></ion-input>

                    <ion-button *ngIf="!passwordsMatch" class="badPassword" item-right>
                        <ion-icon style="color: #FF443B;" name="close"> </ion-icon>
                    </ion-button>

                     <ion-button *ngIf="passwordsMatch" class="goodPassword" item-right>
                         <ion-icon style="color: #21df82;" name="checkmark"> </ion-icon>
                    </ion-button>

                </ion-item>

                <!-- Password Validation-->
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validationMessasges.password">
                      <div class="error-message"
                        *ngIf="credentialsForm
                          .get('reTypePassword')
                          .hasError('pattern') && (credentialsForm.get('reTypePassword')
                          .dirty || credentialsForm.get('reTypePassword').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                <ion-button type="submit" class="orange-button" [disabled]="!passwordsMatch" style="margin-top: 15px;">NEXT</ion-button>
              </ion-list>
          </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

