<ion-header class="ion-hide-lg-up">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="small">Sign Up - Login Credentials</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- Desktop Header -->
    <div class="spacer ion-hide-lg-down"></div>
    <ion-row style="padding-top: 80px; margin-bottom: 40px;" class="ion-hide-lg-down ion-justify-content-center">
      <ion-col size-xs="11" size-sm="10" size-md="10" size-lg="8" size-xl="6">
        <ion-toolbar class="desktop-toolbar">
              <ion-buttons slot="start">
                  <img height="50" src="../../../../../assets/icon/Logo 2.0.svg" alt="" srcset="">
              </ion-buttons>
              <ion-buttons slot="end">
                <ion-button class="back-button" (click)="cancel()">
                  Back
                </ion-button>
              </ion-buttons>
        </ion-toolbar>
            <!-- <img height="50" style="display: inline;" src="../../../assets/icon/suitcase-blue.svg" alt="" srcset="">
            <h1 style="display: inline; margin-left: 15px;">Jobs</h1> -->
      </ion-col>
    </ion-row>

    <!-- Header -->
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center" size="12">
        <h6 class="text-header">Please create your login credentials. Your password needs to be <span>at least 8 characters long, with at least 1 uppercase letter and one number.</span></h6>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="11" size-sm="10" size-md="10" size-lg="6" size-xl="4">
        <form (ngSubmit)="enterCodePage(this.credentialsForm.value.email, this.credentialsForm.value.password)" [formGroup]="credentialsForm">

              <ion-list class="line-input">

                <ion-item>
                  <ion-input
                  #autoFucousInput
                  formControlName="email"
                  type="email"
                  placeholder="email"></ion-input>
                </ion-item>

                <!-- Email Validation-->
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validationMessasges.email">
                      <div class="error-message"
                        *ngIf="credentialsForm
                          .get('email')
                          .hasError(validation.type) && (credentialsForm.get('email')
                          .dirty || credentialsForm.get('email').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                <br>
                <ion-item>
                  <ion-input
                  required
                  inputmode="text"
                  formControlName="password"
                  type="password"
                  placeholder="enter password"></ion-input>

                  <ion-button *ngIf="!passwordsMatch" class="badPassword" item-right>
                     <ion-icon style="color: #FF443B;" name="close"> </ion-icon>
                  </ion-button>

                  <ion-button *ngIf="passwordsMatch" class="goodPassword" item-right>
                      <ion-icon style="color: #21df82;" size="large"  name="checkmark"> </ion-icon>
                   </ion-button>

                </ion-item>

                <!-- Password Validation-->
             <div class="validation-errors">
                 <ng-container *ngFor="let validation of validationMessasges.password">
                   <div class="error-message"
                     *ngIf="credentialsForm
                       .get('password')
                       .hasError('pattern') && (credentialsForm.get('password')
                       .dirty || credentialsForm.get('password').touched)">
                     {{ validation.message }}
                   </div>
                 </ng-container>
               </div>

                <br>
                <ion-item>
                  <ion-input
                  formControlName="reTypePassword"
                  type="password"
                  placeholder="re-type password"></ion-input>

                    <ion-button *ngIf="!passwordsMatch" class="badPassword" item-right>
                        <ion-icon style="color: #FF443B;" name="close"> </ion-icon>
                    </ion-button>

                     <ion-button *ngIf="passwordsMatch" class="goodPassword" item-right>
                         <ion-icon style="color: #21df82;" size="large" name="checkmark"> </ion-icon>
                    </ion-button>

                </ion-item>

                <!-- Password Validation-->
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validationMessasges.password">
                      <div class="error-message"
                        *ngIf="credentialsForm
                          .get('reTypePassword')
                          .hasError('pattern') && (credentialsForm.get('reTypePassword')
                          .dirty || credentialsForm.get('reTypePassword').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>
                <ion-button type="submit" class="orange-button" [disabled]="!passwordsMatch">NEXT</ion-button>
              </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

