ion-title {
  margin: 0;
}

.header {
  background: #edf3f8;
  height: auto;
}

.text-header {
  font-size: 1em;
  line-height: 1.9em;
  color: #666;
  z-index: 999;
  text-align: justify;
}

.cancel-button {
  margin: 0 10px;
}

.orange-button {
  width: unset;
  display: block;
  margin: 100px auto 100px auto;
  width: 200px;
  animation: none;
  opacity: 1;
}


span {
  font-weight: 900;
  font-size: 1em;
  color: #005191;
}

.badPassword {
  --background: none;
  opacity: 0;
  animation: password-icons 1s ease-in 0.5s forwards;
}

.badPassword:nth-child(2) {
  --background: none;
  opacity: 0;
  animation: password-icons 1s ease-in forwards;
}

.goodPassword {
  --background: none;
  opacity: 0;
  animation: password-icons 1s ease-in 0.5s forwards;
}

.goodPassword:nth-child(2) {
  --background: none;
  opacity: 0;
  animation: password-icons 1s ease-in forwards;
}

@keyframes password-icons {
  0% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}