.desktop-toolbar{
  --background: none;
  padding-bottom: 16px;
  border-bottom: 1px solid #33333326;

  h1 {
    color: #0055a5;
  }
}
.back-button {
  --color: white;
  --background: #0055a5;
  --background-hover: linear-gradient(#0055a5, #0c375f);
  height: 24px;
  --border-radius: 5px;
  width: 100px;
  font-size: 0.5em;
  font-weight: 600;
  display: block;
}
.text-header {
  font-size: 1.2em;
  line-height: 1.5em;
  color: #222;
  z-index: 999;
}

.cancel-button {
  margin: 0 10px;
}

.orange-button {
  width: unset;
  display: block;
  margin: 48px auto 48px auto;
  width: 200px;
  animation: none;
  opacity: 1;
}


span {
  font-weight: 900;
  font-size: 1em;
  color: #e3405f;
}

.badPassword {
  --background: none;
  opacity: 0;
  animation: password-icons 1s ease-in 0.5s forwards;
}

.badPassword:nth-child(2) {
  --background: none;
  opacity: 0;
  animation: password-icons 1s ease-in forwards;
}

.goodPassword {
  --background: none;
  opacity: 0;
  animation: password-icons 1s ease-in 0.5s forwards;
}

.goodPassword:nth-child(2) {
  --background: none;
  opacity: 0;
  animation: password-icons 1s ease-in forwards;
}

@keyframes password-icons {
  0% {
    transform: translateX(50px);
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}