<!-- Mobile Header -->
<ion-header>
</ion-header>


<ion-content>
  <ion-toolbar>
    <ion-buttons (click)="cancel()" slot="start">
      <ion-icon slot="end" name="close"></ion-icon>
      <p class="toolbar-title">Register New Volunteer</p>
    </ion-buttons>
  </ion-toolbar>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="11" size-sm="10" size-md="8" size-lg="8">
        <h1>Tech Fair</h1>
        <h5>Date</h5>
        <h5>Address</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta suscipit a expedita sed nostrum reprehenderit assumenda sequi veritatis rerum magnam omnis minima ratione, odio quidem adipisci possimus qui molestiae! Quisquam!</p>
      </ion-col>
      <ion-col size-xs="11" size-sm="10" size-md="8" size-lg="8">
        <div style="text-align: center; margin: 100px auto">
          <ion-button type="submit" class="orange-button" (click)="registerStudent()">
            Register
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="registered">
    <ion-row class="ion-justify-content-center ion-align-items-center confirm-popout">
      <ion-col class="ion-text-center" size="8">
        <ion-icon [className]="registered ? 'slide-up' : 'off'" name="checkmark-circle-outline" size="large" color="success" ></ion-icon>
        <h3>Thank you for Registering as a Volunteer for Tech Fair.</h3>
        <ion-button class="blue-button" (click)="confirm()">
          Done
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
