<!-- Mobile Header -->
<ion-header>
</ion-header>


<ion-content>
  <ion-toolbar>
    <ion-buttons (click)="cancel()" slot="start">
      <ion-icon slot="end" name="close"></ion-icon>
      <p class="toolbar-title">Register New Volunteer</p>
    </ion-buttons>
  </ion-toolbar>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="11" size-sm="10" size-md="8" size-lg="8">
        <h1>Tech Fair</h1>
        <h5>Date</h5>
        <h5>Address</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta suscipit a expedita sed nostrum reprehenderit assumenda sequi veritatis rerum magnam omnis minima ratione, odio quidem adipisci possimus qui molestiae! Quisquam!</p>
      </ion-col>
      <ion-col size-xs="11" size-sm="10" size-md="8" size-lg="8">
        <div style="text-align: center; margin: 100px auto">
          <ion-button type="submit" class="orange-button">
            Register
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
