<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100vh;">
      <ion-col size-xs="11" size-sm="10" size-md="10" size-lg="8" size-xl="6">
        <div style="height: 100px; width: 100px; background: lightblue;">

        </div>
        <h1>Download this app to ---</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, dolor nobis qui amet doloribus corporis dolore nam veritatis ea, magni recusandae. Consectetur aspernatur asperiores voluptatum ipsum illo alias voluptate minus?</p>
        <ion-button class="blue-button" (click)="download()">
          Download
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-button class="cancel-button" expand="full" (click)="cancel()">
    Cancel
  </ion-button>
</ion-footer>