<ion-header>
  <ion-toolbar>
    <ion-title>Profile Picture</ion-title>
    <ion-button (click)="cancel()" class="cancel-button" slot="end">
        cancel
      </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center">
  <h6 class="text-header">Please select your profile picture.</h6>
  <div id="img-wrapper">
    <img src="{{profilePicture}}" alt="">
  </div>
  <!-- <p>Profile picture URL: </p>
  <p>{{profilePicture}}</p> -->
  <ion-button class="camera-button"  (click)="selectImage()">
    Camera
  </ion-button>
  <ion-button class="camera-button"  (click)="selectImage()">
    Gallery
  </ion-button>
  <ion-button (click)="goToUploadResumePage()" class="orange-button">NEXT</ion-button>
</ion-content>
