<ion-header class="ion-hide-md-up">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="small">Sign Up - Profile Picture</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col  size-lg="3" size-md="7" size-xs="11">
        <!-- Picture Wrappers -->
      <ion-row style="margin-top: 54px;" class="ion-justify-content-center">
        <ion-col  size-lg="3" size-md="7" size-xs="11" class="ion-align-items-center">
          <!-- Default Picture if user does not select profile picture Wrapper -->
          <canvas
            #defaultPicture
            id="default-picture-wrapper"
            *ngIf="!uploadedPhoto"></canvas>

          <!-- User has uploaded cropped profile picture -->
          <img id="uploaded-photo" *ngIf="this.uploadedPhoto" src="{{imageSrc}}">

            <!-- User has cropped profile picture -->
            <!-- <img
              id="upload-picture-wrapper"
              *ngIf="uploadedPhoto"
              src="{{croppedPhotoURL}}" /> -->
        </ion-col>
      </ion-row>
      <!-- Get Picture Button -->
      <ion-row class="ion-justify-content-center">
        <ion-col size="10">
          <img height="80" *ngIf="!this.uploadedPhoto" src="../../../../../assets/icons/carrier-candidate.svg" alt="" srcset="">
        </ion-col>
        <ion-button (click)="takePicture()" class="get-picture-button">
          Tap to get Profile Picture
          <!-- <span>Only .png, .jpg, and .jpeg are allowed.</span> -->
        </ion-button>
        
      </ion-row>
      <!-- Skip & Cancel Buttons -->
      <ion-row class="ion-justify-content-center" style="margin-top: 16px;">
        <ion-col size="10">
          <ion-button
            (click)="uploadPhoto()"
            class="orange-button"
            [disabled]="!this.uploadedPhoto">Next
          </ion-button>

          <ion-button class="skip-button">
            Skip
          </ion-button>

          <ion-button class="cancel-button">
              Cancel
          </ion-button>
        </ion-col>
      </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
