#next-button{
  width: 100%;
  height: 60px;
  background: lightgray;
  position: absolute;
  bottom: 0;
  font-size: 1em;
}

#cancel-button {
  --background: none;
  --color: red;
  --opacity: 0.3;
  --box-shadow:none;
  --color-activated: lightgray;
  --background-hover: none;
  font-size: 0.7em;
}

#img-wrapper {
  height: 140px;
  width: 140px;
  background: lightgrey;
  margin: 40px auto;
}

.skip-button{
  display: block;
  --background: none;
  color: lightgray;
  --border-color: lightgray;
  --border-width : 1px;
  --border-style: solid;
  border: 1px;
  width: 100px;
  margin: 0 auto;
}