 .orange-button {
  width: unset;
  display: block;
  margin: 8px auto;
  width: 200px;
  animation: none;
  opacity: 1;
}
.skip-button{
  display: block;
  --background: #e6e6e6;
  --background-hover: #999;
  color: #888;
  width: 200px;
  font-weight: 600;
  margin: 8px auto;
  animation: none;
  opacity: 0.5;
}
#default-picture-wrapper {
  height: 100px; width: 100px;
  margin: 0 auto;
  border-radius: 50px;
  background-image: url('../../../../../assets/icon/default-pro-picture.svg');
}
#upload-picture-wrapper {
  height: 100px; width: 100px;
  margin: 0 auto;
  border-radius: 50px;
  // border-radius: 50px;
}
span{
  color: #0055a5;
  font-weight: 600;
  background: white;
  padding: 6px;
  line-height: 1.5em;
  border-radius: 5px;
}
#next-button{
  width: 100%;
  height: 60px;
  margin: 8px auto;
  background: lightgray;
  position: absolute;
  bottom: 0;
  font-size: 1em;
}
.text-header {
  font-size: 1.1em;
  font-weight: 600;
  color: #333;
}

.cancel-button {
  color: #e4405f;
  --background:  none;
  --background-hover: linear-gradient(#f15b77, #e4405f);
  height: 50px;
  width: 150px;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cancel-button:hover {
  color: white;
}
.get-picture-button {
  height: auto;
  border: 2px dotted #1FCC6D;
  margin: 32px auto;
  padding: 1em;
  // box-shadow: 1px 10px 28px #111111d1;
}

