#next-button{
  width: 100%;
  height: 60px;
  background: lightgray;
  position: absolute;
  bottom: 0;
  font-size: 1em;
}

.text-header {
  font-size: 0.8em;
}

#cancel-button {
  --background: none;
  --color: red;
  --opacity: 0.3;
  --box-shadow:none;
  --color-activated: lightgray;
  --background-hover: none;
  font-size: 0.7em;
}

.camera-button{
  display: block;
  --background: white;
  --color: #005191;
  --border-style: solid;
  --border-width: 1px;
  --border-color:#005191;
  border: 1px;
  width: 130px;
  margin: 30px auto;
}

input[type=file] {
  color: #005191;
  border: #005191 1px solid;
  padding: 10px;
}

input[type=submit] {
  background: #FFB351;
  border-radius: 5px;
  color: #005191;
}

#img-wrapper {
  height: 150px;
  width: 150px;
  margin: 50px auto;
}

.skip-button{
  display: block;
  --background: none;
  color: lightgray;
  --border-color: lightgray;
  --border-width : 1px;
  --border-style: solid;
  border: 1px;
  width: 100px;
  margin: 0 auto;
}