<ion-content>

  <!-- Mobile & Tablet -->
  <ion-grid class="ion-hide-md-up">

    <!-- Logo -->
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="8" size-sm="8" size-md="8" style="margin-top: 10%;" class="ion-text-center">
        <img id="logo" src="../../../../assets/logo-2.png"/>
      </ion-col>
    </ion-row>

    <!-- Form -->
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center" size-xs="10" size-sm="8" size-md="8">
          <form  [formGroup]="loginForm"
                 (ngSubmit)="login(this.loginForm.value)">
            <ion-list class="line-input">
            <ion-item>
              <!-- Email -->
                <ion-input
                  required
                  placeholder="Email"
                  inputmode="email"
                  formControlName="email"
                  type="email"
                  (keyup.enter)="login(this.loginForm.value)">
                </ion-input>
            </ion-item>
            <!-- Email Validation-->
            <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessasges.email">
                    <div class="error-message"
                    *ngIf="loginForm
                      .get('email')
                      .hasError(validation.type) && (loginForm.get('email')
                      .dirty || loginForm.get('email').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
            </div>

          <!-- Password -->
          <ion-item>
              <ion-input
                required
                placeholder="Password"
                inputmode="text"
                formControlName="password"
                type="password"
                (keyup.enter)="login(this.loginForm.value)">
              </ion-input>
          </ion-item>

          <!-- Password Validation-->
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessasges.password">
              <div class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

            </ion-list>

              <!-- Login Button -->
              <ion-col size="12">
                <ion-button class="orange-button" type="submit">Login</ion-button>
              </ion-col>


            </form>

      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">

      <!-- Sign Up -->
      <ion-col size="12">
        <ion-button class="blue-button" [routerLink]="['personal-info']">Sign Up
        </ion-button>
        
      </ion-col>

      <!-- Forgot Password -->
      <ion-col size="12">
        <ion-button [routerLink]="['enter-email']" id="forgot">Forgot Password?</ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

  <!-- Desktop -->
  <ion-grid class="ion-text-center ion-hide-sm-down">

      <ion-row class="ion-justify-content-center">
        <ion-col size-md="4" size-lg="4" size-xl="4"  style="margin-top: 5%">

            <form  [formGroup]="loginForm"
                   (ngSubmit)="login(this.loginForm.value)">
            <ion-list class="line-input">

                <!-- Refactor Logo Section -->
                <img src="../../../../assets/logo-2.png" style="height: 70px; margin: 35px 0 30px 0;"/>

              <ion-item>
                <!-- Email -->
                  <ion-input
                    #autoFocusInput
                    required
                    placeholder="Email"
                    inputmode="email"
                    formControlName="email"
                    type="email"
                    (keyup.enter)="login(this.loginForm.value)">
                  </ion-input>
              </ion-item>
                  <!-- Password Validation-->
                  <div class="validation-errors">
                    <ng-container *ngFor="let validation of validationMessasges.email">
                      <div class="error-message"
                      *ngIf="loginForm
                        .get('email')
                        .hasError(validation.type) && (loginForm.get('email')
                        .dirty || loginForm.get('email').touched)">
                        {{ validation.message }}
                      </div>
                    </ng-container>
                  </div>

            <!-- Password -->
            <ion-item>
                <ion-input
                  required
                  placeholder="Password"
                  inputmode="text"
                  formControlName="password"
                  type="password"
                  (keyup.enter)="login(this.loginForm.value)">
                </ion-input>
            </ion-item>

            </ion-list>

                <!-- Password Validation-->
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessasges.password">
                    <div class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>

                <!-- Login Button -->
                <ion-button style="width: 200px;" class="orange-button" type="submit">Login</ion-button>

              </form>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-hide-sm-down" size="6">
          <ion-button class="blue-button" [routerLink]="['personal-info']">Sign Up
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size="6">
          <ion-button text-center [routerLink]="['enter-email']" id="forgot">Forgot Password?</ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <!-- Back Button -->
        <ion-col size="6">
          <ion-button class="grey-button" (click)="back()">Back</ion-button>
        </ion-col>
      </ion-row>

  </ion-grid>

</ion-content>

<!-- Footer without a border -->
<ion-footer>
  <button id="download-button" style=" border-radius: 0">Install App</button>
</ion-footer>

