  <!-- Loading -->
<!-- <ion-content>
  <ion-grid>
    <ion-row style="margin-top: 17%;" class="ion-justify-content-center ion-align-items-center">
      <ion-col class="ion-text-center" size="6">
        <img #initialLoadingIcon src="../../../../assets/icons/icon-72x72.png" alt="" srcset=""><br>
        <ion-spinner #initialLoadingSpinner style="--color: #0055a5;" name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content> -->


<!-- When done loading -->
<ion-content class="backgound">
  <div id="login-loading">
    <div>
      <img height="90" src="../../../../assets/icon/icon-192x192-white.png" alt="" srcset=""><br>
      <ion-spinner style="color: white; margin-top: 20px; position: relative; left: 30px;" name="bubbles"></ion-spinner>
    </div>
  </div>
  <ion-grid>
    <!-- Form -->
    <!-- <div class="spacer ion-hide-lg-down"></div> -->
    <!-- <div class="spacer"></div> -->
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col style="padding: 2em" class="ion-text-center form-wrapper" size-xs="11" size-sm="10" size-md="6" size-lg="4" size-xl="3">
        <img class="ion-hide-lg-up" id="logo" src="../../../../assets/icon/White-FYF-LOGO.png"/>
        <img class="ion-hide-lg-down" id="logo" src="../../../../assets/icon/Logo 2.0.png"/>
          <form  [formGroup]="loginForm"
                 (ngSubmit)="login(this.loginForm.value)">
            <ion-list class="line-input">
            <ion-item>
              <!-- Email -->
                <ion-input
                  required
                  placeholder="Email"
                  inputmode="email"
                  formControlName="email"
                  type="email"
                  (keyup.enter)="login(this.loginForm.value)">
                </ion-input>
            </ion-item>
            <!-- Email Validation-->
            <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessasges.email">
                    <div class="error-message"
                    *ngIf="loginForm
                      .get('email')
                      .hasError(validation.type) && (loginForm.get('email')
                      .dirty || loginForm.get('email').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
            </div>

          <!-- Password -->
          <ion-item>
              <ion-input
                required
                placeholder="Password"
                inputmode="text"
                formControlName="password"
                type="password"
                (keyup.enter)="login(this.loginForm.value)">
              </ion-input>
          </ion-item>

          <!-- Password Validation-->
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessasges.password">
              <div class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                {{ validation.message }}
              </div>
            </ng-container>
          </div>

            </ion-list>

              <!-- Login Button -->
              <ion-col size="12">
                <ion-button class="orange-button" type="submit">Login</ion-button><br>
                <ion-button class="blue-button" [routerLink]="['personal-info']">Sign Up
                </ion-button><br>
                <ion-button [routerLink]="['enter-email']" id="forgot">Forgot Password</ion-button>
              </ion-col>


            </form>

      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <!-- Sign Up -->
      <ion-col class="ion-text-center" size="12">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- Footer without a border -->
<ion-footer id="download-footer">
  <button id="download-button" style=" border-radius: 0"></button>
  <button id="iphone-install-banner" style=" border-radius: 0"></button>
</ion-footer>

