ion-content {
// --background: none;
// background-image: url('../../../../assets/Backgrounds/Login_Background.svg');
// background-repeat: no-repeat;
// background-size: cover;
text-align: center;
}

ion-footer {
  opacity: 0;
  --ion-padding-grid: 0;
  position: fixed;
  bottom: 0;
  animation: slide-up 0.5s ease 3.5s forwards;
}

#sign-up-button {
  width: 200px;
  height: 50px;
  font-size: 1em;
  font-weight: 700;
  --color: white;
  --background: linear-gradient(#005191, #000000);
  opacity: 0;
  animation: slide-up 0.5s ease 1s forwards;
}

#forgot {
  width: 220px;
  height: 50px;
  font-size: 1em;
  font-weight: 700;
  margin-top: 60px;
  opacity: 0;
  --background:none;
  --background-hover: #474444;
  --color: rgba(130,130,130, 0.5);
  --color-hover: white;
  --transition: 0.5s;
  animation: slide-up 0.5s ease 1.5s forwards;
}


