.login-toolbar {
--background: white;
--color: #005191;
--box-shadow: none;

  ion-back-button{
      --color: #005191 !important;
  }
}



ion-footer {
  opacity: 0;
  --ion-padding-grid: 0;
  position: fixed;
  bottom: 0;
  animation: slide-up 0.5s ease 3.5s forwards;
}

#sign-up-button {
  width: 200px;
  height: 50px;
  font-size: 1em;
  font-weight: 700;
  --color: white;
  background: #FFB351;
  opacity: 0;
  animation: slide-up 0.5s ease 1s forwards;
}

#forgot {
  width: 200px;
  height: 50px;
  font-size: 0.8em;
  font-weight: 700;
  margin-top: 120px;
  opacity: 0;
  --border-color: #777;
  --border-width: 1.5px;
  --border-style: solid;
  --background:white;
  --color: #777;
  transition: 0.5s;
  animation: slide-up 0.5s ease 1.5s forwards;
}


