<!-- Mobile Header -->
<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title slot="start">Resources</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content (ionScroll)="scrollTracking($event)" [scrollEvents]="true">
  <div class="progress-container">
    <div class="progress-bar" id="scrollBar"></div>
  </div>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-text-center" size-xs="12" size-sm="10" size-md="9" size-lg="8">
        <p class="page-info">Here are some other organizations that can help you on your way to higher education and employment.</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-hide-md-down">
      <ion-col size-xs="11" size-sm="10" size-md="9" size-lg="8">
        <h1>Resources</h1>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="11" size-sm="10" size-md="9" size-lg="8">
        <ion-row class="resource" *ngFor="let resource of resources">
          <ion-col class="ion-align-self-center" size="11">
            <img src="{{resource.logo}}" alt="">
          </ion-col>
          <ion-col size="11">
            <p class="name">{{resource.name}}</p>
            <p class="description">{{resource.description}}</p>

            <ion-button class="blue-button link" href="{{resource.url}}" target="_blank">
              LINK
            </ion-button>
            <hr style="border-bottom: #eee solid 3px">
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-text-center" size="12">
            <ion-button class="orange-button" (click)="back()">
              Back
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
