<!-- Mobile Header -->
<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title slot="start">Resources</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row class="ion-justify-content-center ion-hide-md-down">
      <ion-col size-xs="11" size-sm="10" size-md="9" size-lg="8">
        <h1>Resources</h1>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="11" size-sm="10" size-md="9" size-lg="8">
        <ion-row *ngFor="let resource of resources">
          <ion-col size="2">
            <img src="{{resource.logo}}" alt="">
          </ion-col>
          <ion-col size="6">
            <p>{{resource.name}}</p>
            <p>{{resource.description}}</p>
          </ion-col>
          <ion-col size="3">
            <ion-button class="blue-button link" href="{{resource.url}}" target="_blank">
              LINK
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
