.new-message{
  color: #faa71b;
}

ion-label {
  font-weight: 800;
  display: block;
}

.searchbar-wrapper{
  margin: 20px 0 20px 0px;
}

.unread {
  --background: rgb(203, 215, 230);
}

.date-sent {
  font-size: 0.8em;
  opacity: 0.5;
}