ion-title {
    margin: 0;
}

.company-logo {
    background-image: url("../../../../assets/journi-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.job-section {
    height: 250px;
    color: #777;
    position: relative;
    top: 20px;
    width: 100%;
  }