<!-- Mobile Header -->
<ion-header>
</ion-header>


<ion-content>
  <ion-toolbar>
    <ion-buttons (click)="cancel()" slot="start">
      <ion-icon slot="end" name="close"></ion-icon>
      <p class="toolbar-title">Register New Student</p>
    </ion-buttons>
  </ion-toolbar>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="11" size-sm="10" size-md="8" size-lg="8">
        <h1>Tech Fair</h1>
        <h5>Date</h5>
        <h5>Address</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta suscipit a expedita sed nostrum reprehenderit assumenda sequi veritatis rerum magnam omnis minima ratione, odio quidem adipisci possimus qui molestiae! Quisquam!</p>
      </ion-col>
      <ion-col size-xs="11" size-sm="10" size-md="8" size-lg="8">
        <form [formGroup]="resgisterForm" (ngSubmit)="registerStudent()">
          <ion-list class="line-input">

            <!-- First & Last Name -->
            <ion-item>
              <ion-label position="floating">First & Last Name <ion-text color="danger">*</ion-text></ion-label>
              <ion-input required formControlName="name" type="text"></ion-input>
            </ion-item>

            <!-- Email -->
            <ion-item>
              <ion-label position="floating">E-Mail <ion-text color="danger">*</ion-text></ion-label>
              <ion-input required formControlName="email" type="email"></ion-input>
            </ion-item>

            <!-- Email Validation-->
            <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessasges.email">
                    <div class="error-message"
                    *ngIf="resgisterForm
                      .get('email')
                      .hasError(validation.type) && (resgisterForm.get('email')
                      .dirty || resgisterForm.get('email').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
            </div>

            <!-- Phone -->
            <ion-item>
              <ion-label position="floating">Phone <ion-text color="danger">*</ion-text></ion-label>
              <ion-input required formControlName="phone" type="phone" maxlength="10" minlength="10"></ion-input>
            </ion-item>

            <!-- Phone Validation-->
            <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessasges.phone">
                    <div class="error-message"
                    *ngIf="resgisterForm
                      .get('phone')
                      .hasError(validation.type) && (resgisterForm.get('phone')
                      .dirty || resgisterForm.get('phone').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
            </div>

            <!-- Grade -->
            <ion-item>
              <ion-label position="floating">Grade
                <ion-text color="danger">*</ion-text>
              </ion-label>
                <ion-select (ionChange)="selectGrade($event)"
                placeholder="Select Grade">
                  <ion-select-option  *ngFor="let grade of grades" value="{{grade}}">{{grade}}</ion-select-option>
                </ion-select>
            </ion-item>

            <!-- School -->
            <ion-item>
              <ion-label position="floating">School
                <ion-text color="danger">*</ion-text>
              </ion-label>
                <ion-select (ionChange)="selectSchool($event)"
                placeholder="Select School">
                  <ion-select-option *ngFor="let school of schools" value="{{school}}">{{school}}</ion-select-option>
                </ion-select>
            </ion-item>

            <!-- Gender -->
            <ion-item>
              <ion-label position="floating">Gender
                <ion-text color="danger">*</ion-text>
              </ion-label>
                <ion-select (ionChange)="selectGender($event)"
                placeholder="Select Gender">
                  <ion-select-option value="Male">Male</ion-select-option>
                  <ion-select-option value="Female">Female</ion-select-option>
                </ion-select>
            </ion-item>

            <!-- Lunch -->
            <ion-item>
              <ion-label position="floating">Lunch
                <ion-text color="danger">*</ion-text>
              </ion-label>
                <ion-select (ionChange)="selectLunch($event)"
                placeholder="Select Grade">
                  <ion-select-option value="peperoni">Peperoni</ion-select-option>
                  <ion-select-option value="hawaii">Hawaii</ion-select-option>
                </ion-select>
            </ion-item>

            <!-- Student Interests -->
            <h3 style="margin-top: 100px;">Student Interests</h3>
            <ion-item *ngFor="let interest of interests">
              <ion-label>{{interest.val}}</ion-label>
              <ion-checkbox (click)="isChecked(interest.val)" slot="end"></ion-checkbox>
            </ion-item>

            <!-- Pre Suvery Questions -->

            <!-- Question 1 -->
            <ion-radio-group
            required (ionChange)="question1Handler($event)">
              <ion-list-header>
                <h3>Question 1
                  <ion-text color="danger">*</ion-text></h3>
              </ion-list-header>
              <ion-item>
                <ion-label>Cord</ion-label>
                <ion-radio value="cord"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Duesenberg</ion-label>
                <ion-radio value="duesenberg"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Hudson</ion-label>
                <ion-radio value="hudson"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Packard</ion-label>
                <ion-radio value="packard"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Studebaker</ion-label>
                <ion-radio value="studebaker"></ion-radio>
              </ion-item>
            </ion-radio-group>

            <!-- Question 2 -->
            <ion-radio-group
            required (ionChange)="question2Handler($event)">
              <ion-list-header>
                <h3>Question 2
                  <ion-text color="danger">*</ion-text></h3>
              </ion-list-header>
              <ion-item>
                <ion-label>Cord</ion-label>
                <ion-radio value="cord"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Duesenberg</ion-label>
                <ion-radio value="duesenberg"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Hudson</ion-label>
                <ion-radio value="hudson"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Packard</ion-label>
                <ion-radio value="packard"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Studebaker</ion-label>
                <ion-radio value="studebaker"></ion-radio>
              </ion-item>
            </ion-radio-group>

            <!-- Question 3 -->
            <ion-radio-group
            required
            (ionChange)="question3Handler($event)">
              <ion-list-header>
                <h3>Question 3
                  <ion-text color="danger">*</ion-text></h3>
              </ion-list-header>
              <ion-item>
                <ion-label>Cord</ion-label>
                <ion-radio value="cord"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Duesenberg</ion-label>
                <ion-radio value="duesenberg"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Hudson</ion-label>
                <ion-radio value="hudson"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Packard</ion-label>
                <ion-radio value="packard"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Studebaker</ion-label>
                <ion-radio value="studebaker"></ion-radio>
              </ion-item>
            </ion-radio-group>

            <!-- Question 4 -->
            <ion-radio-group
            required
            (ionChange)="question4Handler($event)">
              <ion-list-header>
                <h3>Question 4
                  <ion-text color="danger">*</ion-text>
                </h3>
              </ion-list-header>
              <ion-item>
                <ion-label>Cord</ion-label>
                <ion-radio value="cord"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Duesenberg</ion-label>
                <ion-radio value="duesenberg"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Hudson</ion-label>
                <ion-radio value="hudson"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Packard</ion-label>
                <ion-radio value="packard"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Studebaker</ion-label>
                <ion-radio value="studebaker"></ion-radio>
              </ion-item>
            </ion-radio-group>

            <!-- Question 5 -->
            <ion-radio-group
            required
            (ionChange)="question5Handler($event)">
              <ion-list-header>
                <h3>Question 5
                  <ion-text color="danger">*</ion-text>
                </h3>
              </ion-list-header>
              <ion-item>
                <ion-label>Cord</ion-label>
                <ion-radio value="cord"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Duesenberg</ion-label>
                <ion-radio value="duesenberg"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Hudson</ion-label>
                <ion-radio value="hudson"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Packard</ion-label>
                <ion-radio value="packard"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Studebaker</ion-label>
                <ion-radio value="studebaker"></ion-radio>
              </ion-item>
            </ion-radio-group>

          </ion-list>

          <div style="text-align: center; margin: 100px auto">
            <ion-button type="submit" class="orange-button">
              Register
            </ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="registered">
    <ion-row class="ion-justify-content-center ion-align-items-center confirm-popout">
      <ion-col class="ion-text-center" size="8">
        <ion-icon [className]="registered ? 'slide-up' : 'off'" name="checkmark-circle-outline" size="large" color="success" ></ion-icon>
        <h3>Thank you for Registering as a Student for Tech Fair.</h3>
        <ion-button class="blue-button" (click)="confirm()">
          Done
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
