.comment-button{
  width: 100px;
  --border-width: 1px;
  --border-color: #005191;
  --border-style: solid;
  border-radius: 5px;
  --color: #005191;
  font-size: 0.6em;
  margin-right: 25px;
}

.follow-button {
  --color: white;
  --background: linear-gradient(#24d8a8, #1baf88);
  font-weight: 800;
  font-size: 0.5em;
  display: block;
  width: 100px;
}

// Change color
.unfollow-button {
  --color: white;
  --background: linear-gradient(red, orange);
  font-weight: 800;
  font-size: 0.5em;
  display: block;
  width: 100px;
}