.comment-button{
  width: 105px;
  --background: linear-gradient(rgba(6, 114, 196, 0.3), rgba(0, 81, 145, 0.2));
  --background-hover: linear-gradient(#0672c4, #054372);
  --transition: 1s;
  --color: #005191;
  font-size: 0.3em;
}

.follow-button {
  --color: #24d8a8;
  --background: linear-gradient(#def8f0, #e5fdf6);
  font-size: 0.3em;
  width: 105px;
}

// Change color
.unfollow-button {
  color: #faa71b;
  --background: linear-gradient(#ffefd6, #ffeac5);
  font-size: 0.3em;
  width: 105px;
}

@media screen and (max-width: 567px) {
  .comment-button, .follow-button, .unfollow-button {
      font-size: 0.5em;
  }
}
