/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

* {
  font-family: "Arial";
}

body {
  background-color: white;
}

ion-content {
  margin-top: 20px;
}

ion-toolbar {
  --background: #005191;
}

ion-icon {
  font-size: 20px;
}

ion-title {
  --color: white;
  margin-top: 10px;
  font-size: 1em;
}
.line-input {
  ion-item {
      --border-color: transparent!important;
      --highlight-height: 0;
      border: 1px solid #dedede;
      transition: 0.2s;
      border-radius: 4px;
      margin-bottom: 15px;
      opacity: 1;
      &.item-has-focus {
          border: 1px solid var(--ion-color-primary);
        // --background: rgba(255,179,81,0.1);
          opacity: 1;
          font-weight: 400;
          color: #005191;
          box-shadow: 1px 3px 2px rgba(0,0,0,0.2)
      }
      ion-label {
        opacity: 1;
        color: #005191;
      }
  }
}

ion-select-option {
  width: 200px;
}

.orange-button {
  width: 70%;
  height: 50px;
  font-size: 0.8em;
  font-weight: 700;
  margin: 20px 0 20px 0;
  --background: #FFB351;
  --color: #005191;
  transition: 1s;
  animation: slide-up 0.5s ease forwards;
}

.error-message {
  color: #222;
  font-size: 0.7em;
  margin-bottom: 20px;
  padding: 10px;
  background: rgba($color: #dedede, $alpha: 0.5);
  transition: 0.5s;
  z-index: 999;
  opacity: 0;
  border-top: 3px solid red;
  animation: slide-down 0.5s ease 0.5s forwards;
}

.wrong-password-toast {
  --border-color: #FF443B;
  --border-style: solid;
  --border-width: 2px;
  font-weight: 600;
  --background: #dedede;
  --color: #222;
}

.success-toast {
  --border-color: green;
  --border-style: solid;
  --border-width: 2px;
  font-weight: 600;
  --background: #dedede;
  --color: #222;
}

.text-header {
  background: rgba(245,245,245,1);
  padding: 30px;
  margin: 0px 0 30px 0;
  line-height: 1.5em;
  width: 100%;
}

.date {
  opacity: 0.4;
  font-size: 0.45em;
}


ion-button {
  --box-shadow: none;
}

ion-buttons > ion-button {
  font-size: 0.9em;
  font-weight: 700;
  margin-bottom: 0px;
  --border-radius: 5px;
  --box-shadow: none;
}

ion-back-button {
  --color: white !important;
}

ion-item {
  margin-bottom: 0px;
  --padding-start: 0px;
}

ion-textarea {
  --border-radius: 10px;
  border: 2px solid #005191;
}

ion-label {
  font-size: 0.6em;
}

.skip-button{
  display: block;
  --background: none;
  color: lightgray;
  --border-color: lightgray;
  --border-width : 1px;
  --border-style: solid;
  border: 1px;
  width: 100px;
  margin: 0 auto;
}

p {
  font-size: 0.9em;
}

@keyframes slide-up {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
