/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

* {
  font-family: "Arial";
}

body {
}

#logo {
  width: 130px;
}

ion-list {
  --background: none;
}

ion-content {
  --background: #f4f5f8;
}

.full-page {
  height: 80vh;
}

.white-background {
  background: white;
  padding: 20px;
  border-radius: 5px;
}

ion-toolbar {
  --background: #005191;
  height: 10vh;
}

ion-icon {
  font-size: 20px;
}

ion-title {
  --color: --ion-color-primary;
  margin-top: 10px;
  font-size: 1em;
}

.searchbar-input {
  background: #FFF !important;
  border-radius: 5px !important;
  height: 50px !important;
  max-width: 400px;
  font-size: 1.25em !important;
  border: 1px solid #005191 !important;
  box-shadow: none !important;
}


.swiper-pagination {
  // Swiper disabled before student app launch

  display: none;
  position: relative;
  bottom: 20px !important;
  left: 45%;
  bottom: calc(env(safe-area-inset-bottom) + 60px) !important;
  background: rgba(200, 200, 200, 0.5);
  border-radius: 50px;
  padding: 5px;
  width: 100px !important;
  margin: 0 auto !important;
  }

.disabled {
  opacity: 0;
}

.line-input {
  background: none;

  ion-item {
    // --background: white;
      --border-color: transparent!important;
      --highlight-height: 0;
      border: 1px solid #dedede;
      transition: 0.2s;
      border-radius: 4px;
      margin-bottom: 15px;
      opacity: 1;
      &.item-has-focus {
          border: 2px solid var(--ion-color-primary);
        // --background: rgba(255,179,81,0.1);
          opacity: 1;
          font-weight: 800;
          color: #005191;
          box-shadow: 1px 3px 2px rgba(0,0,0,0.2)
      }
      ion-label {
        opacity: 1;
        color: #005191;
        word-wrap: break-word;
        overflow-wrap: break-word;
        display: inline;
      }
  }
}

ion-select-option {
  width: 200px;
}

.orange-button {
  width: 200px;
  height: 50px;
  font-size: 1em;
  font-weight: 800;
  margin: 20px auto;
  position: relative;
  --background: linear-gradient(#F7B500, #FA6400);
  --color: white;
  transition: 1s;
  opacity: 0;
  animation: slide-up 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.blue-button {
  width: 150px;
  height: 50px;
  font-size: 1em;
  font-weight: 800;
  margin: 20px auto;
  position: relative;
  --background: linear-gradient(#005191, #000000);
  transition: 1s;
  opacity: 0;
  animation: slide-up 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 1s  forwards;
}

.cancel-button {
  font-weight: 700;
  --color: white;
  --background: linear-gradient(#005191, #000000);
}

.register {
  color: white;
  background: #00c400;
  border: 1px solid white;
  width: 120px;
  font-size: 0.7em;
  font-weight: 900;
  border-radius: 5px;
  opacity: 0;
  animation: slide-in-right 0.5s ease-out forwards;
}

.fair-register-button{
  width: 200px;
  --color: #00c400;
  height: 70px;
  font-size: 1em;
  font-weight: 900;
}

.loading {
  min-width: 300px;
  min-height: 400px;
  background: #005191;
  border-radius: 5px;
}

@keyframes slide-in-right {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.error-message {
  color: #222;
  font-size: 0.7em;
  margin-bottom: 20px;
  padding: 10px;
  background: rgba($color: #dedede, $alpha: 0.5);
  transition: 0.5s;
  z-index: 999;
  opacity: 0;
  border-top: 3px solid red;
  animation: slide-down 0.5s ease 0.5s forwards;
}

.wrong-password-toast {
  --border-color: #FF443B;
  --border-style: solid;
  --border-width: 2px;
  font-weight: 600;
  --background: #dedede;
  --color: #222;
}

.success-toast {
  --border-color: green;
  --border-style: solid;
  --border-width: 2px;
  font-weight: 600;
  --background: #dedede;
  --color: #222;
}

.registered {
  --background: #6fb36f;
  --min-height: 400px;
  --min-width: 500px;
  --mac-height: 800px;
  --max-width: 1000px;
  color: white;

  .alert-title.sc-ion-alert-md {
    color: white;
    font-size: 3em;
  }

  .alert-message {
    font-size: 20px;
    color: white;
  }

  .alert-button {
    position: absolute;
    bottom: 30px;
    right: 5px;
    text-align: center;
    background: white;
    width: 100px;
    border-radius: 5px;
    color: #6fb36f;
  }

  .alert-button-inner {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.text-header {
  background: none;
  padding: 30px;
  margin: 0px 0 30px 0;
  line-height: 1.5em;
  width: 100%;
  font-size: 1.5em;
}

.text-header-mobile {
  background: none;
  line-height: 1.5em;
  font-size: 1em;
}

.date {
  opacity: 0.4;
  font-size: 0.45em;
}


ion-button {
  --box-shadow: none;
}

ion-buttons > ion-button {
  font-size: 0.9em;
  font-weight: 700;
  margin-bottom: 0px;
  --border-radius: 5px;
  --box-shadow: none;
}

ion-back-button {
  --color: white !important;
}

ion-list {

}

ion-item {
  margin-bottom: 100px;
  --padding-start: 20px;
  --background: white;
}


ion-label {
  font-size: 0.6em;
}

.skip-button{
  display: block;
  --background: none;
  color: lightgray;
  --border-color: lightgray;
  --border-width : 1px;
  --border-style: solid;
  border: 1px;
  width: 100px;
  margin: 0 auto;
}

p {
  font-size: 0.9em;
}

@keyframes slide-up {
  0% {
    width: 0px;
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
