/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

* {
  font-family: "Arial";
}

body {
  background: white;
}

ion-content {
  margin-top: 20px;
}

ion-toolbar {
  --background: #005191;
}

ion-icon {
  font-size: 20px;
}

ion-title {
  --color: white;
  margin-top: 10px;
  font-size: 1em;
}

ion-buttons > ion-button {
  font-size: 0.9em;
  font-weight: 700;
  margin-bottom: 0px;
  --border-radius: 5px;
  --box-shadow: none;
}

ion-back-button {
  --color: white !important;
}

ion-item {
  margin-bottom: 0px;
  --padding-start: 20px;
}



ion-input {
  --color: #005191;
  --padding-start: 0px;
  border: 2px solid #005191;
  border-radius: 5px;
  opacity: 0.3;
  margin-bottom: 20px;
  font-size: 1em;
}

ion-textarea {
  --border-radius: 10px;
  border: 2px solid #005191;
}


ion-input:focus {
  border: 2px solid #005191;
  opacity: 1;
}

ion-label {
  font-size: 0.6em;
}

.button-one {
  width: 70%;
  height: 50px;
}

#next-button{
  width: 100%;
  height: 60px;
  color: #005191;
  background: #FFB351;
  position: relative;
  bottom: 0;
  font-size: 1em;
  font-weight: 700;
}

#cancel-button {
  --background: none;
  --color: red;
  --opacity: 0.9;
  --box-shadow:none;
  --color-activated: lightgray;
  --background-hover: none;
  font-size: 0.7em;
}

.skip-button{
  display: block;
  --background: none;
  color: lightgray;
  --border-color: lightgray;
  --border-width : 1px;
  --border-style: solid;
  border: 1px;
  width: 100px;
  margin: 0 auto;
}

p {
  font-size: 0.7em;
}

.error-message {
  color: red;
  font-size: 0.7em;
  margin-bottom: 20px;
}