ion-title {
  margin: 0;
}

.company-logo {
  background-image: url("../../../../assets/journi-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

span {
  font-weight: 700;
}

.description {
  background: white;
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  height: auto;

}

@media only screen and (min-width: 992px) {
  .description {
    margin-top: 5%;
    padding: 40px 0 40px 0;
  }

  .orange-button{
    width: 160px;
  }
}

.orange-button {
}

#job-summary {
  font-size: 1.1em;
  line-height: 29px;
  position: relative;
  color: #666;
  opacity: 0.7;
  top: -60px;
}

#company-name {
  font-size: 1em;
  opacity: 0.8;
  position: relative;
  top: -25px
}

#job-title {
  font-size: 1.9em;
  font-weight: 600;
  position: relative;
  top: -20px
}

#job-posted-date {
  font-size: 10px;
  opacity: 0.7;
  position: relative;
  top: -43px
}

#job-full-description {
  font-size: 1.6em;
  line-height: 29px;
  position: relative;
  color: #666;
  opacity: 0.7;
  top: -20px;
  margin-top: 20px;
}

#heart-icon {
  position: relative;
  top: -20px
}