<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="triggerJobPageRefresh()"></ion-back-button>
    </ion-buttons>
  <ion-title>Job Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <!-- Desktop Header -->
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="11" size-sm="10" size-md="10" size-lg="8" size-xl="6">
        <ion-toolbar class="toolbar-company-info">
          <ion-buttons slot="start">
            <img style="border-radius: 50px;" height="75" src="{{this.jobLogo}}">
            <div class="toolbar-company-info">
              <h2>{{jobCompanyName}}</h2>
              <h3>{{jobTitle}}</h3>
              <p>${{jobRateOfPay}} / hr</p>
            </div>
          </ion-buttons>
          <ion-buttons class="ion-hide-lg-down" slot="end">
            <app-heart-icon  class="ion-float-right" id="heart-icon" [job]="jobObj" [favoriteJobs]="favoriteJobsObj" *ngIf="favoriteJobsObj"></app-heart-icon>
            <ion-button class="back-button" (click)="goBack()">
              Back
            </ion-button>
          </ion-buttons>
    </ion-toolbar>
        <div class="spacer"></div>
        
        <div class="spacer"></div>
        <p style="margin: 0;" id="job-full-description">{{jobFullJobDescription}}</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="6"  class="ion-text-center">
        <ion-button (click)="applyForJob()" class="orange-button" style="width: 150px; margin: 120px auto;">Apply</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>