ion-title {
  margin: 0;
}

.company-logo {
  background-image: url("../../../../assets/journi-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

span {
  font-weight: 700;
}

.description {
  margin-top: 5%;
  background: white;
  padding: 2%;
}

.orange-button {
  margin-top: 15px;
  width: unset;
}