ion-title {
  margin: 0;
}
.toolbar-company-info{
  display: inline-block;
  margin-left: 8px;

  h2, h3, p {
    margin: 0;
  }
  h2 {
    color: #222;
    font-weight: 600;
  }
  h3 {
    color: #666
  }
  p {
    color: white;
    background: #4dc066;
    width: 71px;
    padding: 4px;
    font-size: 1em;
    font-weight: 600;
    border-radius: 5px;
  }
}
.company-logo {
  border-radius: 50px;
  background-image: url("../../../../assets/journi-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0;
  animation: logo-slide-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s forwards;
}
span {
  font-weight: 700;
}
.back-button {
  --color: white;
  --background: #0055a5;
  --background-hover: linear-gradient(#0055a5, #0d2e4d);
  height: 24px;
  --border-radius: 5px;
  width: 100px;
  font-size: 0.5em;
  font-weight: 600;
  display: block;
}
#job-summary {
  font-size: 1.1em;
  line-height: 29px;
  position: relative;
  color: #666;
  opacity: 0.7;
  // top: -60px;
}
#company-name {
  margin-top: 22px;
  margin-left: 8px;
  color: #222;
}
#job-title {
  font-size: 2em;
  font-weight: 900;
  color: #005191;
}
#job-posted-date {
  font-size: 10px;
  opacity: 0.7;
  position: relative;
  top: -43px
}
#job-full-description {
  font-size: 1.2em;
  line-height: 29px;
  color: #333;
  margin: 50px 0;
  border-top: 1px solid #99999975;
  padding-top: 16px;
}
@keyframes logo-slide-in {
  0% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}