<ion-header class="ion-hide-lg-up">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="triggerJobPageRefresh()"></ion-back-button>
    </ion-buttons>
  <ion-title style="color: white;">Job Page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
        <ion-col class="description" size-xs="11" size-sm="10" size-md="8" size-lg="8">
          <ion-col size="12">
            <!-- Back and Favorite Buttons (Desktop) -->
            <ion-row class="ion-align-items-end">
              <ion-col push="1">
                <div class="company-logo" style="height: 100px; width: 100px;"></div>
              </ion-col>
              <ion-col  class="ion-float-right" size="2" push-md="1">
                <app-heart-icon  class="ion-float-right" id="heart-icon" [job]="jobObj" [favoriteJobs]="favoriteJobsObj" *ngIf="favoriteJobsObj"></app-heart-icon>
              </ion-col>
              <ion-col size="2">
                <ion-button  class="ion-hide-md-down back-button" style=" position: relative; top: -155px;" (click)="goBack()">
                  Go Back</ion-button>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col size="12">
            <ion-row>
              <ion-col push="1" size="10" style="margin-top: 20px;">
                <h1  id="job-title">{{jobTitle}}</h1>
                <h2 id="company-name">{{jobCompanyName}}</h2>
                <p id="company-name">{{jobCompanyEmail}}</p>
                <p id="job-full-description">{{jobFullJobDescription}}</p>
              </ion-col>
            </ion-row>
          </ion-col>

        </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="6"  class="ion-text-center">
        <ion-button (click)="applyForJob()" class="orange-button" style="width: 180px; margin-bottom: 100px;">Apply for Job</ion-button>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>