<ion-header>
  <ion-toolbar>
    <ion-title>Enter Code</ion-title>
    <ion-button (click)="cancel()" id="cancel-button" slot="end">
        cancel
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed class="ion-text-center">
        <ion-row>
          <ion-col size="10" offset="1">
            <h6 style="background: rgba(245,245,245,0.7); padding: 20px; margin: 30px 0 30px 0;">Please enter <span style="font-weight: 700;">6 character code</span> that was sent to {{userEmail}}</h6>
            <form [formGroup]="enterCodeForm" (ngSubmit)="newPasswordPage(this.enterCodeForm.value)">
              <ion-list class="line-input">
              <ion-item>
                <ion-input
                placeholder="Enter Code"
                required
                formControlName="code"
                type="text"
                placeholder="Enter Code"></ion-input>
              </ion-item>

              <!-- Password Validation-->
              <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessasges.code">
                    <div class="error-message"
                      *ngIf="enterCodeForm
                        .get('code')
                        .hasError(validation.type) && (enterCodeForm.get('code')
                        .dirty || enterCodeForm.get('code').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>


              <ion-button type="submit"  class="orange-button">ENTER CODE</ion-button>
            </ion-list>

            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
