<ion-header class="ion-hide-lg-up">
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title size="small">Enter Code</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="spacer ion-hide-lg-down"></div>
    <ion-grid class="ion-text-center">
      <!-- Desktop Header -->
      <ion-row style="padding-top: 80px; margin-bottom: 40px;" class="ion-hide-lg-down ion-justify-content-center">
        <ion-col size-xs="11" size-sm="10" size-md="10" size-lg="8" size-xl="6">
          <ion-toolbar class="desktop-toolbar">
                <ion-buttons slot="start">
                    <img height="50" src="../../../../../assets/icon/Logo 2.0.svg" alt="" srcset="">
                </ion-buttons>
                <ion-buttons slot="end">
                  <ion-button class="back-button" (click)="back()">
                    Back
                  </ion-button>
                </ion-buttons>
          </ion-toolbar>
              <!-- <img height="50" style="display: inline;" src="../../../assets/icon/suitcase-blue.svg" alt="" srcset="">
              <h1 style="display: inline; margin-left: 15px;">Jobs</h1> -->
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12">
          <h6 class="text-header">Please enter 6 character code that was sent to <span>{{userEmail}}</span></h6>
        </ion-col>
        <ion-col size-xs="11" size-sm="10" size-md="10" size-lg="6" size-xl="4">
            <form [formGroup]="enterCodeForm" (ngSubmit)="newPasswordPage(this.enterCodeForm.value)">
              <ion-list class="line-input">
              <ion-item>
                <ion-input
                placeholder="Enter Code"
                required
                formControlName="code"
                type="text"
                placeholder="Enter Code"></ion-input>
              </ion-item>

              <!-- Password Validation-->
              <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessasges.code">
                    <div class="error-message"
                      *ngIf="enterCodeForm
                        .get('code')
                        .hasError(validation.type) && (enterCodeForm.get('code')
                        .dirty || enterCodeForm.get('code').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>


              <ion-button [disabled]="!this.codesMatched" type="submit"  class="orange-button">ENTER CODE</ion-button><br>
              <ion-button class="send-new-code" (click)="sendNewCode()">
                Send new code
              </ion-button>
              <ion-button (click)="cancel()" class="cancel-button" slot="end">
                  cancel
              </ion-button>
            </ion-list>

            </form>
        </ion-col>
      </ion-row>
      </ion-grid>
</ion-content>
