<ion-header style="display: none;">
</ion-header>

<ion-content>
    <ion-grid class="ion-text-center" style="margin-top: 10%;">
        <ion-row>
          <ion-col size-sm="10" size-lg="6" offset-lg="3" offset-sm="1">
            <h6 class="text-header">Please enter <span style="font-weight: 700;">6 character code</span> that was sent to {{userEmail}}</h6>
            <form [formGroup]="enterCodeForm" (ngSubmit)="newPasswordPage(this.enterCodeForm.value)">
              <ion-list class="line-input">
              <ion-item>
                <ion-input
                placeholder="Enter Code"
                required
                formControlName="code"
                type="text"
                placeholder="Enter Code"></ion-input>
              </ion-item>

              <!-- Password Validation-->
              <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessasges.code">
                    <div class="error-message"
                      *ngIf="enterCodeForm
                        .get('code')
                        .hasError(validation.type) && (enterCodeForm.get('code')
                        .dirty || enterCodeForm.get('code').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>


              <ion-button type="submit"  class="orange-button">ENTER CODE</ion-button><br>
              <ion-button class="send-new-code" (click)="sendNewCode()">
                Send new code
              </ion-button>
              <ion-button (click)="cancel()" class="cancel-button" slot="end">
                  cancel
              </ion-button>
            </ion-list>

            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
