<ion-header>
  <ion-toolbar class="ion-hide-md-up">
    <ion-title>Register for {{title}} as Volunteer</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>


  <ion-toolbar class="ion-hide-sm-down fair-page-toolbar-lg">
      <ion-title color="primary">Register for {{title}} as Volunteer</ion-title>
      <ion-button (click)="goBack()" class="orange-button" style="width: 100px; --background: #005191; --color: white;" slot="end">Go Back
      </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="ion-text-center ion-hide-md-up">
      <ion-row class="ion-justify-content-center" style="margin-top: 75px">
          <ion-col size-sm="8" size-xs="10">
            <p class="text-header">
              Information goes here about letting the user know they are being redirected to another page to sign up as a volunteer.
            </p>
          </ion-col>
        <ion-col size-sm="8" size-xs="10">
            <ion-button class="orange-button" type="submit">Register</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>









    <!-- Desktop -->

    <ion-grid class="ion-text-center ion-hide-sm-down">

        <ion-row class="ion-align-items-center" style="margin-top: 100px;">
            <ion-col push="4" size="4">
              <p class="text-header">
                Information goes here about letting the user know they are being redirected to another page to sign up as a volunteer.
              </p>
            </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center ion-text-center">
          <ion-col push="3" size="6">
              <ion-button class="orange-button" type="submit">Register</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
