<ion-header>
  <ion-toolbar class="ion-hide-md-up">
    <ion-title>Register for {{title}} as Volunteer</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>


  <ion-toolbar class="ion-hide-sm-down fair-page-toolbar-lg">
      <ion-title color="primary">Register for {{title}} as Volunteer</ion-title>
      <ion-button (click)="goBack()" class="orange-button" style="width: 100px; --background: #005191; --color: white;" slot="end">Go Back
      </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid class="ion-text-center ion-hide-md-up">
      <ion-row class="ion-justify-content-center" style="margin-top: 75px">
          <ion-col size-sm="8" size-xs="10">
            <p class="text-header">
              Information goes here about letting the user know they are being redirected to another page to sign up as a volunteer.
            </p>
          </ion-col>
          <form  [formGroup]="registerForm"
          (ngSubmit)="register(this.registerForm.value)">
            <ion-list class="line-input">
                <ion-item>
                  <ion-input
                   #autoFucousInput
                   required
                   inputmode="text"
                   formControlName="name"
                   type="text"
                   placeholder="First & Last Name"></ion-input>
                </ion-item>
    
               <ion-item>
                 <ion-input
                  required
                  inputmode="email"
                  formControlName="email"
                  type="text"
                  placeholder="Email"></ion-input>
               </ion-item>
            </ion-list>
          </form>
      </ion-row>
    </ion-grid>









    <!-- Desktop -->

    <ion-grid class="ion-text-center ion-hide-sm-down">

        <ion-row class="ion-justify-content-center" style="margin-top: 100px;">
            <ion-col size="4">
              <p class="text-header">
                Please enter your name and email address. You will be sent an email with further registration instructions.
              </p>
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size="4">
              <form  [formGroup]="registerForm"
              (ngSubmit)="register(this.registerForm.value)">
                <ion-list class="line-input">
                    <ion-item>
                      <ion-input
                       #autoFucousInput
                       required
                       inputmode="text"
                       formControlName="name"
                       type="text"
                       placeholder="First & Last Name"></ion-input>
                    </ion-item>

                   <ion-item>
                     <ion-input
                      required
                      inputmode="email"
                      formControlName="email"
                      type="text"
                      placeholder="Email"></ion-input>
                   </ion-item>


                   <!-- Email Validation-->
                   <div class="validation-errors">
                       <ng-container *ngFor="let validation of validationMessasges.email">
                         <div class="error-message"
                         *ngIf="registerForm
                           .get('email')
                           .hasError(validation.type) && (registerForm.get('email')
                           .dirty || registerForm.get('email').touched)">
                           {{ validation.message }}
                         </div>
                       </ng-container>
                     </div>
                </ion-list>

                <ion-col size="12" class="ion-text-center">
                 <ion-button class="orange-button" type="submit">Continue</ion-button>
                </ion-col>

              </form>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
