 <!-- Mobile Toolbar -->
 <ion-header class="ion-hide-lg-up">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>My Posts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- fab placed to the bottom end -->
    <ion-fab class="ion-hide-lg-up" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addPost()">
        <ion-icon name="add" size="large"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <!-- Desktop -->
<ion-grid class="ion-hide-md-down">

  <!-- Desktop Header -->
  <ion-row class="ion-hide-md-down">
    <ion-col offset="2.5" size="2.5" style="margin: 3% 0% 2% 0%;">
      <h1>My Posts</h1>
    </ion-col>
    <ion-col class="ion-text-center" push="2.65" size="2">
      <ion-button class="add-button"  (click)="addPost()">
        Add Post
      </ion-button>
    </ion-col>
    <ion-col class="ion-text-center" push="1" size="2">
      <ion-button class="blue-button"  (click)="back()">
        Back
      </ion-button>
    </ion-col>
  </ion-row>

<ion-row class="ion-justify-content-center" style="margin-top: 1%;">
  <ion-col
    class="no-posts ion-align-items-center"
    *ngIf="allMyPosts.length === 0"
    size-xs="11" size-sm="9" size-md="8" size-lg="7">
    <div>
      <p style="font-size: 1.2em;">You currently do not have any posts. Please click the Add Post button to create a Post.</p>
    </div>
  </ion-col>

  <!-- Posts -->
  <ion-col size="7">
    <ion-row *ngFor="let post of allMyPosts" class="post">

      <!-- Profile Header -->
      <ion-col size="11">
        <ion-row class="ion-align-items-center">
        <!-- Profile Picture -->
        <ion-col push="0.25" size="1">
          <img src="{{post.creatorProfilePicture}}" style="background: #999; border-radius: 100px; height: 40px; width: 40px;">
        </ion-col>

        <!-- Post Creator's Name -->
        <ion-col size="4">
          <h6 style="font-size: 1em; font-weight: 500;">{{post.creatorName}}</h6>
        </ion-col>

        <!-- Date -->
        <ion-col class="ion-float-right" push-lg="5" size="3">
            <h6 style="opacity: 0.4; font-size: 0.8em;">{{post.date}}</h6>
        </ion-col>

      </ion-row>
      </ion-col>

      <!-- Post Content -->
      <ion-col size="12">
        <ion-row class="ion-justify-content-center">
          <!-- 1080x1350 -->
          <ion-col size="11.3">
           <p class="post-title">{{post.title}}</p>
          </ion-col>
       </ion-row>
        <ion-row>
          <!-- 1080x1350 -->
          <ion-col push="0.25" size="11" >
           <p class="post-content">{{post.post}}</p>
          </ion-col>
       </ion-row>
      </ion-col>

      <!-- Comment -->
      <ion-col size="12">
        <ion-row style="position: relative; right: 6px; top: -4px;" >
          <ion-col size="11.8">
            <ion-item lines="none">
             <form (ngSubmit)="comment(post._id, this.userFullName, this.userEmail, this.userProfilePicture, this.commentForm.value)" [formGroup]="commentForm">
               <ion-textarea
                  class="comment-input"
                  autogrow="true"
                  autocapitalize="true"
                  rows="5"
                  spellcheck="true"
                  wrap="soft"
                  type="text"
                  placeholder="Add a Comment" formControlName="comment">
                </ion-textarea>
                <!-- Comment Post Button -->
                <ion-button
                  style="float: right;"
                  class="comment-post-button"
                  *ngIf="!commentForm
                          .get('comment')
                          .pristine && commentForm.value.comment.length >= 3"
                    name="send"
                    type="submit">Post
                </ion-button>
             </form>

    </ion-item>
          </ion-col>
        </ion-row>
      </ion-col>

      <!-- Post Buttons -->
      <ion-col size="12">
        <ion-row>
          <!-- Upvote & Downvote-->
          <ion-col size="4.7">
            <app-up-down-vote-buttons [postID]="post._id"></app-up-down-vote-buttons>
          </ion-col>

          <!-- Follow & Comment -->
          <ion-col push="0.75" size="6">
            <app-follow-comment-buttons [isUser]="post.isUser" [postID]="post._id"></app-follow-comment-buttons>
          </ion-col>
        </ion-row>
      </ion-col>


    </ion-row>
  </ion-col>

</ion-row>
</ion-grid>

<!-- Mobile -->
<ion-grid class="ion-hide-lg-up">

  <ion-row class="ion-justify-content-center">
  
    <!-- No Followed Post -->
    <ion-col
      class="no-posts ion-align-items-center"
      *ngIf="allMyPosts.length === 0"
      size-xs="11" size-sm="9" size-md="8" size-lg="7">
      <div>
        <p style="font-size: 1.2em;">You are currently not following any posts. Please click the follow button on any Post to add it to this page.</p>
      </div>
    </ion-col>
  
    <!-- Posts -->
    <ion-col size-xs="12" size-sm="12" size-md="8" size-lg="10" pull-lg="2">
      <ion-row *ngFor="let post of allMyPosts" style="margin-top: 1%;" class="post">
  
        <!-- Profile Header -->
        <ion-col size="11">
          <ion-row style="position: relative; right: 5px; top: -4px;" >
          <!-- Profile Picture -->
          <ion-col push="0.2" size="1.3">
            <img src="{{post.creatorProfilePicture}}" style="background: #999; border-radius: 100px; height: 40px; width: 40px;">
          </ion-col>
  
          <!-- Post Creator's Name -->
          <ion-col push="0.2" size="5">
            <h6 style="font-size: 1em; margin: 10px 0 10px 0px; color: #666;">{{post.creatorName}}</h6>
          </ion-col>
  
          <!-- Date -->
          <ion-col class="ion-text-right" push="1.5" size="3">
              <h6 style="opacity: 0.4; font-size: 0.7em; margin: 10px 0; position: relative; top: 10px;">{{post.date}}</h6>
          </ion-col>
  
        </ion-row>
        </ion-col>
  
        <!-- Post Content -->
        <ion-col size="12">
          <ion-row class="ion-justify-content-center">
            <!-- 1080x1350 -->
            <ion-col size="11.3">
             <p class="post-title">{{post.title}}</p>
            </ion-col>
         </ion-row>
          <ion-row class="ion-justify-content-center">
            <!-- (click)="postPage(post)"  -->
            <!-- 1080x1350 -->
            <ion-col size="11" style="height: auto; background: white">
            <p class="post-content" style="font-size: 1em; width: 100%; position: unset; line-height: unset;">{{post.post}}</p>
            </ion-col>
        </ion-row>
        </ion-col>
  
        <!-- Comment -->
        <ion-col size="12">
          <ion-row class="ion-justify-content-center" style="position: relative; right: 6px; top: -4px;" >
            <ion-col size="12">
              <ion-item  style="height: auto;" lines="none">
              <form (ngSubmit)="comment(post._id, this.userFullName, this.userEmail, this.userProfilePicture, this.commentForm.value)" [formGroup]="commentForm">
                <ion-textarea
                class="comment-input-mobile"
                autogrow="true"
                autocapitalize="true"
                rows="5"
                spellcheck="true"
                wrap="soft"
                type="text"
                placeholder="Add a Comment" formControlName="comment">
              </ion-textarea>
              <!-- Comment Post Button -->
              <ion-button
                style="float: right;"
                class="comment-post-button"
                *ngIf="!commentForm
                        .get('comment')
                        .pristine && commentForm.value.comment.length >= 3"
                  name="send"
                  type="submit">Post
              </ion-button>
              </form>
  
      </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
  
        <!-- Post Buttons -->
        <ion-col size="12">
          <ion-row class="ion-justify-content-center">
            <!-- Upvote & Downvote-->
            <ion-col pull="1" size="4" size-xs="4.4">
              <app-up-down-vote-buttons [postID]="post._id"></app-up-down-vote-buttons>
            </ion-col>
  
            <!-- Follow & Comment -->
            <ion-col size="6">
              <app-follow-comment-buttons style="font-size: 1.3em" [postID]="post._id"></app-follow-comment-buttons>
            </ion-col>
          </ion-row>
        </ion-col>
  
      </ion-row>
    </ion-col>
  
  </ion-row>
  </ion-grid>

</ion-content>
