.blue-button-small {
    --background: #0055a5;
    opacity: 1;
    height: 24px;
    width: 100px;
    font-size: 0.5em;
    font-weight: 600;
    position: relative;
    top: 100px;
    z-index: 9999;
}
.orange-button{
    margin: 120px auto;
}
#mentor-profile-picture{
    margin-top: 50px;
    height: 50px; width: 50px;
    background-image: url("../../../../assets/aaron.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-radius: 50px;
    opacity: 1;
    // animation: slide-in-left 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s forwards;
}
#mentor-name {
    font-size: 2em;
    font-weight: 900;
    opacity: 1;
}

#mentor-title {
    font-size: 1em;
    font-weight: 600;
    color: #0055a5;
    opacity: 1;
}
#mentor-location {
    font-size: 1em;
    font-weight: 600;
    color: #0055a5;
    opacity: 1;
}

#mentor-email {
    font-size: 1em;
    color: #999;
    opacity: 1;
}

#mentor-description {
    font-size: 1.1em;
    color: #222;
    line-height: 1.7em;
    opacity: 1;
}

#contact-button {
    margin: 50px 0 250px 0;
    --background: linear-gradient(#0672c4, #005191);
    --background-hover: linear-gradient(#0672c4, #222);
    --transition: 0.5s;
    font-weight: 800;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slide-in-up {
    0% {
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}