<ion-header class="ion-hide-md-up">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mentor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <!-- Desktop Header -->
    <ion-row class="ion-hide-md-down ion-justify-content-center">
      <ion-col size-xs="11" size-sm="10" size-md="7" size-lg="6" size-xl="5">
        <ion-button class="blue-button-small ion-float-right" (click)="back()">
          Back
       </ion-button>
      </ion-col>
    </ion-row>

    <!-- Mentors -->
    <ion-row class="mentor ion-justify-content-center">
      <ion-col size-xs="11" size-sm="10" size-md="7" size-lg="6" size-xl="5">
        <div id="mentor-profile-picture"></div>
            <p id="mentor-name">{{mentorName}}</p>
            <p id="mentor-title">{{mentorTitle}}</p>
            <p id="mentor-location">{{mentorCity}}, {{mentorState}}</p>
            <p id="mentor-description">{{mentorDescription}}</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="9" size-md="2" class="ion-text-center">
        <ion-button class="orange-button"  (click)="contactMentor()">
          Contact
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
