<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Mentor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid fixed>
        <ion-row style=" margin-top: 20px;">
            <ion-col size="2" offset="0.5">
                <div style="height: 50px; width: 50px; background: #222; border-radius: 50px;"></div>
                  <!-- <ion-img [src]="{{mentorPhoto}}" style="background: #999; border-radius: 100px;"></ion-img> -->
              </ion-col>
              <ion-col size="7">
    <ion-title></ion-title>
    <ion-title></ion-title>
                  <h6>{{mentorName}}</h6>
                  <p>{{mentorTitle}}</p>
                  <p>{{mentorCity}}, {{mentorState}}</p>
                  <p>{{mentorEmail}}</p>
              </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="11" offset="0.5">
                <p>{{mentorDescription}}</p>
              </ion-col>
        </ion-row>

        <ion-button (click)="contactMentor()">
          Contact
        </ion-button>
      </ion-grid>
</ion-content>
