p {
  transition: 0.5s;
  opacity: 1;
}

ion-button {
  font-size: 1em;
  font-weight: 800;
  height: 40px;
  width: 100px;
  margin-left: 0px;
  margin-right: 10px;
}

// .thumbnail {

// }

.not-going {
  --color: white;
  --background: linear-gradient(#faa71b, #e99b14);
}

.grey-button{
  margin-right: 10px;
  --background: #edf3f8;
  color: #005191;
}

.going {
  --color: white;
  --background: #24d8a8;
  --background-hover: #24d8a8;

  &:hover {
    --color: white;
  }
}



