p {
  transition: 0.5s;
  opacity: 1;
}

ion-button {
  font-size: 1em;
  font-weight: 800;
  height: 50px;
  width: 48%;
  margin-left: 0;
  margin-right: 0;
}

.not-going {
  --color: white;
  --background: linear-gradient(#faa71b, #e99b14);
}

.blue-button {
  position: unset;
  animation: none;
  opacity: unset;
}

.event-details{
  --background: #e6e6e6;
  --background-hover: #999;
  color: #888;
  margin-right: 10px;
}

.going {
  --color: #24d8a8;
  --background: linear-gradient(#def8f0, #e5fdf6);
}

