#login-button {
  margin: 40px 0 20px 0;
}

#sign-up-button {
  height: 60px;
  font-size: 1em;
  font-weight: 700;
  --color: #005191;
  background: #FFB351;

}

a {
  text-decoration: none;
  color: lightgrey;
  opacity: 0.9;
}


