<ion-content>
  <ion-grid fixed class="ion-text-center">
    <ion-row>
      <ion-col size="8" offset="2">
        <!-- Refactor Logo Section -->
        <img src="./assets/logo.png" style="background: lightgray; height: 70px; margin: 35px 0 30px 0;"/>
        <!--  -->
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="11" offset="0.5">
          <form  [formGroup]="loginForm"
                 (ngSubmit)="login(this.loginForm.value)">
          <ion-list class="line-input">
            <ion-item>
              <!-- Email -->
                <ion-input
                  #autoFucousInput
                  required
                  placeholder="Email"
                  inputmode="email"
                  formControlName="email"
                  type="email">
                </ion-input>
            </ion-item>
                <!-- Password Validation-->
                <div class="validation-errors">
                  <ng-container *ngFor="let validation of validationMessasges.email">
                    <div class="error-message"
                    *ngIf="loginForm
                      .get('email')
                      .hasError(validation.type) && (loginForm.get('email')
                      .dirty || loginForm.get('email').touched)">
                      {{ validation.message }}
                    </div>
                  </ng-container>
                </div>

          <!-- Password -->
          <ion-item>
              <ion-input
                required
                placeholder="Password"
                inputmode="text"
                formControlName="password"
                type="password">
              </ion-input>
          </ion-item>

          </ion-list>

              <!-- Password Validation-->
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validationMessasges.password">
                  <div class="error-message" *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                    {{ validation.message }}
                  </div>
                </ng-container>
              </div>

              <!-- Login Button -->
              <ion-button text-center class="orange-button" type="submit">Login</ion-button>

            </form>
      </ion-col>
    </ion-row>

    <!-- Forgot Password -->
    <ion-button text-center [routerLink]="['enter-email']" id="forgot">Forgot Password?</ion-button>
    <!-- Positioning Sign up Button outside of Ion Content for customization -->
  </ion-grid>
</ion-content>
<ion-footer class="text-center">
  <ion-toolbar>
    <ion-button style="--box-shadow: none;" expand="full" [routerLink]="['personal-info']">Sign Up</ion-button>
  </ion-toolbar>
</ion-footer>
